<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.dept.repository.DeptMapper">
    <select id="getComDeptList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.admin.dept.vo.DeptVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.dept.repository.DeptMapper.getComDeptList */
        select
              dept_cd --부서코드
            , dept_nm1 --부서명(키르키즈어)
            , dept_nm2 --부서명(러시아어)
            , dept_nm3 --부서명(한국어)
            , shrt_nm1 --부서 약칭(키르키즈어)
            , shrt_nm2 --부서 약칭(러시아어)
            , shrt_nm3 --부서 약칭(한국어)
            , ord --순서
            , upr_dept_cd --상위부서코드
            , use_yn --사용여부
            , reg_dt --등록일자
            , reg_id --등록자
            , mod_id --수정자
            , mod_dt --수정일자
        from com_dept
        where 1=1
        <if test="deptNm1 != null and deptNm1 != ''">
            and dept_nm1 like concat('%', #{deptNm1}, '%')
        </if>
        <if test="deptNm2 != null and deptNm2 != ''">
            and dept_nm2 like concat('%', #{deptNm2}, '%')
        </if>
        <if test="deptNm2 != null and deptNm2 != ''">
            and dept_nm3 like concat('%', #{deptNm3}, '%')
        </if>
        order by ord
    </select>

    <select id="getComDeptById" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.admin.dept.vo.DeptVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.dept.repository.DeptMapper.getComDeptById */
        select
              dept_cd --부서코드
            , dept_nm1 --부서명1
            , dept_nm2 --부서명2
            , dept_nm3 --부서명3
            , shrt_nm1 --부서 약칭1
            , shrt_nm2 --부서 약칭2
            , shrt_nm3 --부서 약칭3
            , ord --순서
            , upr_dept_cd --상위부서코드
            , use_yn --사용여부
            , reg_dt --등록일자
            , reg_id --등록자
            , mod_id --수정자
            , mod_dt --수정일자
        from com_dept
        where dept_cd = #{deptCd}
    </select>

    <insert id="insertDept" parameterType="kr.co.bestiansoft.ebillservicekg.admin.dept.vo.DeptVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.dept.repository.DeptMapper.insertDept */
        insert into com_dept (
              dept_cd
            , dept_nm1
            , dept_nm2
            , dept_nm3
            , shrt_nm1
            , shrt_nm2
            , shrt_nm3
            , ord
            , upr_dept_cd
            , use_yn
            , reg_dt
            , reg_id
            , mod_id
            , mod_dt
        )
        values (
              #{deptCd}
            , #{deptNm1}
            , #{deptNm2}
            , #{deptNm3}
            , #{shrtNm1}
            , #{shrtNm2}
            , #{shrtNm3}
            , #{ord}
            , #{uprDeptCd}
            , #{useYn}
            , now()
            , #{regId}
            , null
            , null
        )
    </insert>

    <update id="updateDept" parameterType="kr.co.bestiansoft.ebillservicekg.admin.dept.vo.DeptVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.dept.repository.DeptMapper.updateDept */
        update com_dept
        set
              dept_cd = #{deptCd}
            , dept_nm1 = #{deptNm1}
            , dept_nm2 = #{deptNm2}
            , dept_nm3 = #{deptNm3}
            , shrt_nm1 = #{shrtNm1}
            , shrt_nm2 = #{shrtNm2}
            , shrt_nm3 = #{shrtNm3}
            , ord = #{ord}
            , upr_dept_cd = #{uprDeptCd}
            , use_yn = #{useYn}
            , mod_id = #{modId}
            , mod_dt = #{modDt}
        where dept_cd = #{deptCd}
    </update>

    <delete id="deleteDept" parameterType="java.lang.String">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.dept.repository.DeptMapper.deleteDept */
        delete from com_dept
        where dept_cd = #{deptCd}
    </delete>
</mapper>