<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.ccof.repository.CcofMapper">
    <select id="selectListCcof" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.admin.ccof.vo.CcofVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.ccof.repository.CcofMapper.selectListCcof */
        select
              cc.user_id --사용자아이디
            , cc.dept_cd --부서코드
            , cc.ord --순서
            , cc.reg_id
            , cc.reg_dt
            , cc.mod_id
            , cc.mod_dt
            , kgst.fngetlangnm(cd.dept_nm1, cd.dept_nm2, cd.dept_nm3, #{lang}) as dept_nm
            , cd.shrt_nm1 as shrt_nm
        from com_ccof cc
        left join com_user cu on cu.user_id = cc.user_id
        inner join com_dept cd on cd.dept_cd = cc.dept_cd
        where cc.user_id = #{userId}
        order by ord
    </select>

    <insert id="insertCcofInUser" parameterType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserVo">
        insert into com_ccof (
              user_id
            , dept_cd
            , ord
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        values (
              #{userId}
            , #{deptCd}
            , #{ord}
            , #{regId}
            , now()
            , null
            , null
        )
    </insert>

    <update id="updateCcof" parameterType="kr.co.bestiansoft.ebillservicekg.admin.ccof.vo.CcofVo">
        update com_ccof
        set
              dept_cd = #{deptCd}
            , mod_id = #{modId}
            , mod_dt = #{modDt}
        where user_id = #{userId}
    </update>

    <delete id="deleteCcof" parameterType="java.lang.String">
        delete from com_ccof
        where user_id = #{userId}
    </delete>
</mapper>