<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.member.repository.MemberMapper">
    <select id="selectListMember" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.admin.member.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.member.repository.MemberMapper.selectListMember */
        select
              member_id --국회의원아이디
            , (case when #{lang} = 'lng_type_1' then member_nm_kg
                else member_nm_ru
                end) as member_nm
            , member_nm_kg --이름(키르키즈어)
            , member_nm_ru --이름(러시아어)
            , age_cd --대수
            , cmit_cd --소속위원회코드
            , dept_id --부서
            , poly_cd --정당코드
            , poly_nm --정당명
            , rsdn_rgst_nmbr --주민번호 본인을 구분하는 번호
            , email -- 이메일주소
            , gen_cd --성별(M,F)
            , profile_img_path --프로필이미지경로
            , mbl_no --이동전화번호
            , msg_rcv_yn --메세지수신여부
            , doc_mgr_yn --문서관리자여부
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        from com_member
        where 1=1
        <if test="memberNm != null and memberNm !=''">
            <choose>
                <when test="lang == 'lng_type_1'">
                    and member_nm_kg like concat('%', #{memberNm}, '%')
                </when>
                <when test="lang == 'lng_type_2'">
                    and member_nm_ru like concat('%', #{memberNm}, '%')
                </when>
            </choose>
        </if>
        order by reg_dt
    </select>

    <select id="selectMember" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.admin.member.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.member.repository.MemberMapper.selectMember */
        select
              cm.member_id --국회의원아이디
            , cm.member_nm_kg --이름(키르키즈어)
            , cm.member_nm_ru --이름(러시아어)
            , cm.age_cd --대수
            , cm.cmit_cd --소속위원회코드
            , cm.dept_id --부서
            , cm.poly_cd --정당코드
            , cm.poly_nm --정당명
            , cm.rsdn_rgst_nmbr --주민번호 본인을 구분하는 번호
            , cm.email -- 이메일주소
            , cm.gen_cd --성별(M,F)
            , cm.profile_img_path --프로필이미지경로
            , cm.mbl_no --이동전화번호
            , cm.msg_rcv_yn --메세지수신여부
            , cm.doc_mgr_yn --문서관리자여부
            , cm.reg_id
            , cm.reg_dt
            , cm.mod_id
            , cm.mod_dt
            , (case when #{lang} = 'lng_type_1' then cd.dept_nm1
                    when #{lang} = 'lng_type_2' then cd.dept_nm2
                    else cd.dept_nm3
              end) as dept_nm
        from com_member cm
        inner join com_dept cd on cd.dept_cd = cm.dept_id
        where member_id = #{memberId}
    </select>

    <insert id="insertMember" parameterType="kr.co.bestiansoft.ebillservicekg.admin.member.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.member.repository.MemberMapper.insertMember */
        insert into com_member (
              member_id
            , member_nm_kg
            , member_nm_ru
            , age_cd
            , cmit_cd
            , dept_id
            , poly_cd
            , poly_nm
            , rsdn_rgst_nmbr
            , email
            , gen_cd
            , profile_img_path
            , mbl_no
            , msg_rcv_yn
            , doc_mgr_yn
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        values (
              #{memberId}
            , #{memberNmKg}
            , #{memberNmRu}
            , #{ageCd}
            , #{cmitCd}
            , #{deptId}
            , #{polyCd}
            , #{polyNm}
            , #{rsdnRgstNmbr}
            , #{email}
            , #{genCd}
            , #{profileImgPath}
            , #{mblNo}
            , #{msgRcvYn}
            , #{docMgrYn}
            , #{regId}
            , now()
            , null
            , null
        )
    </insert>

    <update id="updateMember" parameterType="kr.co.bestiansoft.ebillservicekg.admin.member.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.member.repository.MemberMapper.updateMember */
        update com_member
        set
              member_nm_kg = #{memberNmKg}
            , member_nm_ru = #{memberNmRu}
            , age_cd = #{ageCd}
            , cmit_cd = #{cmitCd}
            , dept_id = #{deptId}
            , poly_cd = #{polyCd}
            , poly_nm = #{polyNm}
            , rsdn_rgst_nmbr = #{rsdnRgstNmbr}
            , email = #{email}
            , gen_cd = #{genCd}
            , profile_img_path = #{profileImgPath}
            , mbl_no = #{mblNo}
            , msg_rcv_yn = #{msgRcvYn}
            , doc_mgr_yn = #{docMgrYn}
            , mod_id = #{modId}
            , mod_dt = now()
        where member_id = #{memberId}
    </update>

    <delete id="deleteMember" parameterType="java.lang.String">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.member.repository.MemberMapper.deleteMember */
        delete from com_member
        where member_id = #{memberId}
    </delete>

	<select id="selectListMemberByPoly" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.admin.member.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.member.repository.MemberMapper.selectListMemberByPoly */
        select
              member_id 	-- 국회의원아이디
            , member_nm_kg 	-- 이름(키르키즈어)
            , member_nm_ru 	-- 이름(러시아어)
            , poly_cd		-- 정당코드
            , poly_nm		-- 정당이름
        from com_member
        where 1=1
        	<if test="polyCd != null and polyCd != ''"> 
		    	and poly_cd = #{polyCd}
       		</if>
        order by member_nm_kg
    </select>
</mapper>