<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.acsHist.repository.AcsHistMapper">

    <select id="getAcsHistList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.admin.acsHist.vo.AcsHistVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.acsHist.repository.AcsHistMapper.getAcsHistList */
        select
              seq --접속이력아이디
            , acs_ip --접속아이피
            , req_url --접속요청주소
            , req_method --접속요청메소드
            , reg_id --접속자아이디
            , reg_dt --접속요청시간
            ,vcm.member_nm as userNm --접속자명
        from com_acs_hist ca
        left join view_com_members vcm on vcm.member_id = ca.reg_id
        where 1=1
        <if test="memberNm != null and memberNm != ''">
            and vcm.member_nm like concat('%', #{memberNm}, '%'}
        </if>
        <if test="reqUrl != null and reqUrl != ''">
            and req_url like concat('%', #{reqUrl}, '%')
        </if>
        <if test="stDt != null and stDt != ''" >-- stDt 날짜 형식 yyyy-mm-dd
            and reg_dt &gt;= concat(#{stDt}, '00:00:00')
        </if>
        <if test="edDt != null and edDt != ''">
            and reg_dt &lt;= concat(#{edDt}, '23:59:59')
        </if>
    </select>
</mapper>