<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.login.repository.LoginMapper">

	<select id="selectUser" resultType="kr.co.bestiansoft.ebillservicekg.login.vo.LoginUserVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.login.repository.LoginMapper.selectUser */
		SELECT 
			  vum.user_id
			, vum.user_nm_kg
			, vum.user_nm_ru
			, vum.member_id
			, vum.member_nm_kg
			, vum.member_nm_ru
			, vum.dept_cd
			, vum.dept_nm_kg
			, vum.dept_nm_ru
			, vum.dept_nm_ko
			, vum.email
			, vum.gen_cd
			, vum.profile_img_path
			, vum.msg_rcv_yn
			, vum.doc_mgr_yn
			, vum.dept_head_yn
			, vum.job_cd
			, vum.pos_cd
			, vum.age_cd
			, vum.cmit_cd
			, vum.cmit_nm_kg
			, vum.cmit_nm_ru
			, vum.cmit_nm_ko
			, vum.poly_cd
			, vum.poly_nm
			, vum.rsdn_rgst_nmbr
			, cd.upr_dept_cd
		FROM kgst.view_user_member vum
		inner join kgst.com_dept cd 
		on vum.dept_cd = cd.dept_cd
		WHERE user_id = #{userId}
	</select>
	
	<select id="selectUserAuth" resultType="kr.co.bestiansoft.ebillservicekg.admin.auth.vo.AuthVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.login.repository.LoginMapper.selectUserAuth */
		select
			  auth_id
			, user_id
			, reg_id
			, reg_dt
			, mod_id
			, mod_dt
		from
			kgst.com_auth_user
		where 1=1
		and user_id = #{userId}
	</select>
	
	<select id="selectListComCodeAll" resultType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeDetailVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.login.repository.LoginMapper.selectListComCodeAll */
        select
              code_id
            , code_nm1
            , code_nm2
            , code_nm3
            , grp_code
            , use_yn
            , ord
            , rmk
            , reg_dt
            , reg_id
            , mod_dt
            , mod_id
        from com_code_detail
        where 1=1
        	and use_yn = 'Y'
        order by reg_dt desc, ord asc
    </select>
    
</mapper>