<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.eas.workRequest.repository.WorkRequestRepository">

    <insert id="insertWorkRequest" parameterType="kr.co.bestiansoft.ebillservicekg.eas.workRequest.vo.WorkRequestVo">
        INSERT INTO kgst.eas_work_request
        (doc_id, work_cn, tmlmt_yn, tmlmt_dtm, info_yn, work_cycle_cd, reg_id, reg_dt, work_status, work_req_id)
        VALUES(#{docId}, #{workCn}, #{tmlmtYn}, #{tmlmtDtm}, #{infoYn}, #{workCycleCd}, #{regId}, #{regDt}, #{workStatus}, #{workReqId});
    </insert>
    <delete id="deleteWorkRequest">
        delete kgst.eas_work_request
         where work_req_id = #{workReqId}
    </delete>
    <update id="updateWorkStatus">
        update kgst.eas_work_request
           set work_status = #{workStatus}
         where work_req_id = #{workReqId}
    </update>
</mapper>