<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.asset.amsImg.repository.AmsImgMapper">

    <select id="getImgListByEqpmntId" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        select
              img_id
            , eqpmnt_id
            , instl_id
            , img_se
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
        from ams_img
        where 1=1 and instl_id is null
        <if test="eqpmntIds.size() > 0">
            and eqpmnt_id in
            <foreach collection="eqpmntIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="getImgListByInstlId" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        select
              img_id
            , eqpmnt_id
            , instl_id
            , img_se
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
        from ams_img
        where 1=1
        <if test="instlIds.size() > 0">
            and instl_id in
            <foreach collection="instlIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="getImgByFileNm" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        select
              img_id
            , eqpmnt_id
            , instl_id
            , img_se
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
        from ams_img
        where 1=1 and file_nm = #{fileNm}
    </select>

    <select id="getDetailListByEqpmntId" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        select
        img_id
        , eqpmnt_id
        , instl_id
        , img_se
        , file_path
        , file_nm
        , orgnl_file_nm
        , file_extn
        , file_sz
        from ams_img
        where 1=1 and instl_id is null and img_se = 'detail'
        <if test="eqpmntId != null and eqpmntId != ''">
            and eqpmnt_id = #{eqpmntId}
        </if>
    </select>
    <select id="getThumbnailByEqpmntId" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        select
        img_id
        , eqpmnt_id
        , instl_id
        , img_se
        , file_path
        , file_nm
        , orgnl_file_nm
        , file_extn
        , file_sz
        from ams_img
        where 1=1 and instl_id is null and img_se = 'thumbnail'
        <if test="eqpmntId != null and eqpmntId != ''">
            and eqpmnt_id = #{eqpmntId}
        </if>
    </select>
    <select id="getInstallListByEqpmntId" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        select
        img_id
        , eqpmnt_id
        , instl_id
        , img_se
        , file_path
        , file_nm
        , orgnl_file_nm
        , file_extn
        , file_sz
        from ams_img
        where 1=1 and instl_id is null and img_se = 'installImg'
        <if test="eqpmntId != null and eqpmntId != ''">
            and eqpmnt_id = #{eqpmntId}
        </if>
    </select>

    <delete id="deleteImg" parameterType="java.lang.String">
        delete from ams_img
        where eqpmnt_id = #{eqpmntId}
    </delete>
    <delete id="deleteThumbnailImg" parameterType="java.lang.String">
        delete from ams_img
        where eqpmnt_id = #{eqpmntId}
        and img_se = 'thumbnail'
    </delete>
    <delete id="deleteDetailImg" parameterType="java.lang.String">
        delete from ams_img
        where eqpmnt_id = #{eqpmntId}
        and img_se = 'detail'
    </delete>
    
	<delete id="deleteNotInfileNm">
	    DELETE FROM ams_img
	    WHERE eqpmnt_id = #{eqpmntId}
	    <if test="fileNmList != null and fileNmList.size() > 0">
	        AND file_nm NOT IN
	        <foreach item="id" collection="fileNmList" open="(" separator="," close=")">
	            #{id}
	        </foreach>
	    </if>
	</delete>

    <insert id="saveImg" parameterType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        insert into ams_img (
              img_id
            , eqpmnt_id
            , instl_id
            , img_se
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
            , reg_dt
            , rgtr_id
        ) values (
              #{imgId}
            , #{eqpmntId}
            , #{instlId}
            , #{imgSe}
            , #{filePath}
            , #{fileNm}
            , #{orgnlFileNm}
            , #{fileExtn}
            , #{fileSz}
            , now()
            , #{rgtrId}
        )
    </insert>

    <select id="getImgByInstlId" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
    select
          img_id
        , eqpmnt_id
        , instl_id
        , img_se
        , file_path
        , file_nm
        , orgnl_file_nm
        , file_extn
        , file_sz
    from ams_img
        where 1=1 and instl_id = #{instlId}
    </select>

    <select id="getImgVoByImgId" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.amsImg.vo.AmsImgVo">
        select
              img_id
            , eqpmnt_id
            , instl_id
            , img_se
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
        from ams_img
        where img_id = #{imgId}
    </select>
</mapper>