<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.myPage.message.repository.MsgMapper">
    <select id="selectListRcv" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.myPage.message.vo.MsgVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.myPage.message.repository.MsgMapper.selectListRcv */
        select
              em.msg_id --메세지아이디
            , em.cnc_dt --취소일시
            , em.msg_cn --메세지내용
            , em.msg_sj --메세지제목
            , em.rcv_dt --수신일시
            , em.rcv_id --수신자아이디
            , em.send_id --발신자아이디
            , em.file_group_id --파일그룹아이디
            , em.msg_div --발송구분 발송(S) 수신(R)
            , em.msg_group_id --메세지그룹아이디
            , em.reg_id
            , em.reg_dt
            , em.mod_id
            , em.mod_dt
            , em.send_dt
            , kgst.fngetlangnm(vum.user_nm_kg, vum.user_nm_ru, vum.user_nm_kg, #{lang}) as send_nm
        from ebs_msg em
        inner join view_user_member vum on vum.user_id = em.send_id
        where em.msg_div = 'R'
            and em.rcv_id = #{rcvId}
        <if test="msgSj != null and msgSj != ''">
            and em.msg_sj like concat('%', #{msgSj}, '%')
        </if>
        <if test="sendNm != null and sendNm != ''">
            <choose>
                <when test="lang == 'lng_type_2'">
                    and vum.user_nm_ru like concat('%', #{sendNm}, '%')
                </when>
                <when test="lang == 'lng_type_1'">
                    and vum.user_nm_kg like concat('%', #{sendNm}, '%')
                </when>
            </choose>
        </if>
        order by em.send_dt desc
    </select>

    <select id="selectListSend" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.myPage.message.vo.MsgVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.myPage.message.repository.MsgMapper.selectListSend */
        select
              em.msg_id --메세지아이디
            , em.cnc_dt --취소일시
            , em.msg_cn --메세지내용
            , em.msg_sj --메세지제목
            , em.rcv_dt --수신일시
            , em.rcv_id --수신자아이디
            , em.send_id --발신자아이디
            , em.file_group_id --파일그룹아이디
            , em.msg_div --발송구분 발송(S) 수신(R)
            , em.msg_group_id --메세지그룹아이디
            , em.reg_id
            , em.reg_dt
            , em.mod_id
            , em.mod_dt
            , em.send_dt
            , kgst.fngetlangnm(vum.user_nm_kg, vum.user_nm_ru, vum.user_nm_kg, #{lang}) as rcv_nm
        from ebs_msg em
        left join view_user_member vum on vum.user_id = em.rcv_id
        where msg_div = 'S'
            and send_id = #{sendId}
        <if test="msgSj != null and msgSj != ''">
            and msg_sj like concat('%', #{msgSj}, '%')
        </if>
        <if test="rcvNm != null and rcvNm != ''">
            <choose>
                <when test="lang == 'lng_typ_2'">
                    and vum.user_nm_ru like concat('%', #{rcvNm}, '%')
                </when>
                <otherwise>
                    and vum.user_nm_kg like concat('%', #{rcvNm}, '%')
                </otherwise>
            </choose>
        </if>
        order by send_dt desc
    </select>


    <select id="selectMsg" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.myPage.message.vo.MsgVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.myPage.message.repository.MsgMapper.selectMsg */
        select
              em.msg_id --메세지아이디
            , em.cnc_dt --취소일시
            , em.msg_cn --메세지내용
            , em.msg_sj --메세지제목
            , em.rcv_dt --수신일시
            , em.rcv_id --수신자아이디
            , em.send_dt --발신일시
            , em.send_id --발신자아이디
            , em.file_group_id --파일그룹아이디
            , em.msg_div --발송구분 발송(S) 수신(R)
            , em.msg_group_id --메세지그룹아이디
            , em.reg_id
            , em.reg_dt
            , em.mod_id
            , em.mod_dt
            , kgst.fngetlangnm(mRcv.user_nm_kg, mRcv.user_nm_ru ,mRcv.user_nm_kg, #{lang}) as rcv_nm
            , kgst.fngetlangnm(mSend.user_nm_kg, mSend.user_nm_ru, mSend.user_nm_kg, #{lang}) as send_nm
        from ebs_msg em
        inner join view_user_member mRcv on mRcv.user_id = em.rcv_id
        inner join view_user_member mSend on mSend.user_id = em.send_id
        where msg_id = #{msgId}
    </select>

    <insert id="insertMsg" parameterType="kr.co.bestiansoft.ebillservicekg.myPage.message.vo.MsgRequest">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.myPage.message.repository.MsgMapper.insertMsg */
        insert into ebs_msg (
              msg_cn
            , msg_sj
            , rcv_dt
            , rcv_id
            , send_dt
            , send_id
            , file_group_id
            , msg_div
            , msg_group_id
        )
        values (
              #{msgCn}
            , #{msgSj}
            , null
            , #{rcvId}
            , now()
            , #{sendId}
            , #{fileGroupId}
            , #{msgDiv}
            , #{msgGroupId}
        )
    </insert>


    <update id="updateRcvDt" parameterType="java.util.HashMap">
        update ebs_msg
        set
            rcv_dt = now()
        where rcv_id = #{rcvId} and msg_group_id = #{msgGroupId}
    </update>

    <select id="selectUserMember" parameterType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserMemberVo">
        select
              um.user_id
            , kgst.fngetlangnm(um.user_nm_kg, um.user_nm_ru, um.user_nm_kg, #{lang}) as user_nm
            , um.user_nm_kg
            , um.user_nm_ru
            , um.member_id
            , um.member_nm_kg
            , um.member_nm_ru
            , um.dept_cd
            , um.email
            , um.gen_cd
            , um.profile_img_path
            , um.msg_rcv_yn
            , um.doc_mgr_yn
            , um.dept_head_yn
            , um.job_cd
            , kgst.fngetlangnm(cc.code_nm1,cc.code_nm2,cc.code_nm1,#{lang}) as job_nm
            , um.pos_cd
            , um.age_cd
            , um.cmit_cd
            , kgst.fngetlangnm(um.dept_nm_kg,um.dept_nm_ru,um.dept_nm_ko,#{lang}) as dept_nm
            , kgst.fngetlangnm(um.cmit_nm_kg,um.cmit_nm_ru,um.cmit_nm_kg,#{lang}) as cmit_nm
            , um.cmit_nm_kg
            , um.cmit_nm_ru
            , um.cmit_nm_ko
            , um.poly_cd
            , um.poly_nm
            , um.rsdn_rgst_nmbr
            , (case when um.user_id in (select cu.user_id from com_user cu) then 'user'
                    when um.member_id in (select cm.member_id from com_member cm) then 'member'
              end) as type
        from view_user_member um
        left join com_code_detail cc on cc.code_id = um.job_cd
        <if test="deptCd != '' and deptCd != null">
            left join com_ccof ccof on ccof.user_id = um.user_id
        </if>
        where um.msg_rcv_yn != 'N'
        <if test="polyCd != '' and polyCd != null">
            and um.poly_cd = #{polyCd}
        </if>
        <if test="deptCd != '' and deptCd != null">
            and (um.dept_cd = #{deptCd} or ccof.dept_cd = #{deptCd})
        </if>
        <if test="lang != null and lang != ''">
            <choose>
                <when test="lang == 'lng_type_1'">
                    and um.user_nm_kg like concat('%', #{searchNm}, '%')
                </when>
                <when test="lang == 'lng_type_2'">
                    and um.user_nm_ru like concat ('%', #{searchNm}, '%')
                </when>
            </choose>
        </if>
    </select>

    <delete id="deleteMsg" parameterType="java.lang.Long">
        delete from ebs_msg
        where msg_id = #{msgId}
    </delete>
</mapper>