<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper">

    <select id="getBillList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.vo.BillAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.getBillList */
        
		SELECT
		      bill_id                -- 안건 ID
		    , bill_no                -- 안건 번호
		    , bill_kind              -- 의안 종류 (법률안/예산안 등)
		    , na_term_cd             -- 대수 코드
		    , bill_name_kg           -- 의안명 - kg
		    , bill_name_ru           -- 의안명 - ru
		    , ppsl_knd_cd            -- 제안자 종류 (정부/의원)
		    , ppsr_nm                -- 발의자
		    , ppsr_id                -- 발의자 아이디
		    , ppsl_dt                -- 제안일
		    , stat_cd                -- 상태 코드
		    , cmt_id                 -- 위원회 아이디
		    , submit_dt              -- 위원회 회부일
		    , plnr_prsnt_dt          -- 본회의 예정일
		    , plnr_dt                -- 본회의 처리일
		    , plnr_result            -- 본회의 처리 결과
		    , gvrn_trsf_dt           -- 정부 이송일
		    , prmg_dt                -- 공포일자
		    , prmg_no                -- 공포 번호
		    , smr_cn                 -- 요약 내용
		    , bill_ty                -- 제개정 타입
		    , law_id                 -- 법률 아이디
		    , rel_cmt_id             -- 관련 위원회
		    , wt_cn                  -- 철회 사유
		    , reg_id                 -- 등록자 아이디
		    , reg_dt                 -- 등록 일자
		    , mod_id                 -- 수정자 아이디
		    , mod_dt                 -- 수정 일자
		FROM
			ebs_master        
		WHERE 1=1
		AND bill_name_kg LIKE CONCAT('%', #{brdSj}, '%')    -- 의안명 검색
        
    </select>

    <select id="getBillById" parameterType="java.lang.String"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.vo.BillAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.getBillById */    
        select 
        	  row_number() over(order by reg_dt desc) as num
		      bill_id                -- 안건 ID
		    , bill_no                -- 안건 번호
		    , bill_kind              -- 의안 종류 (법률안/예산안 등)
		    , na_term_cd             -- 대수 코드
		    , bill_name_kg           -- 의안명 - kg
		    , bill_name_ru           -- 의안명 - ru
		    , ppsl_knd_cd            -- 제안자 종류 (정부/의원)
		    , ppsr_nm                -- 발의자
		    , ppsr_id                -- 발의자 아이디
		    , ppsl_dt                -- 제안일
		    , stat_cd                -- 상태 코드
		    , cmt_id                 -- 위원회 아이디
		    , submit_dt              -- 위원회 회부일
		    , plnr_prsnt_dt          -- 본회의 예정일
		    , plnr_dt                -- 본회의 처리일
		    , plnr_result            -- 본회의 처리 결과
		    , gvrn_trsf_dt           -- 정부 이송일
		    , prmg_dt                -- 공포일자
		    , prmg_no                -- 공포 번호
		    , smr_cn                 -- 요약 내용
		    , bill_ty                -- 제개정 타입
		    , law_id                 -- 법률 아이디
		    , rel_cmt_id             -- 관련 위원회
		    , wt_cn                  -- 철회 사유
		    , reg_id                 -- 등록자 아이디
		    , reg_dt                 -- 등록 일자
		    , mod_id                 -- 수정자 아이디
		    , mod_dt                 -- 수정 일자
        from ebs_master
        where bill_id = #{billId}
    </select>
    
</mapper>