<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.billApply.revokeAgree.repository.RevokeAgreeMapper">

	<select id="getRevokeAgreeList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.revokeAgree.vo.RevokeAgreeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revokeAgree.repository.RevokeAgreeMapper.getRevokeAgreeList */
        select 
			em.bill_id 				--안건아이디
			, em.scl_dsc_rcp_nmb 	--사회토론번호
			, em.bill_name_kg 		--안건이름kg
			, em.bill_name_ru 		--안건이름ru
			, em.ppsr_nm 			--제안자
			, to_char(em.reg_dt, 'DD-MM-YYYY') as regDate	--등록일
			, em.stat_cd 	-- 상태
		from ebs_master em 
			left join ebs_proposer ep on ep.bill_id = em.bill_id 
		where 
			em.stat_cd in ('ST030','ST031')
			and ep.proposer_id = #{userId}
			and em.na_term_cd = '14'
			and (ep.sign_dt is not null and ep.sign_cnc_dt is null)
		<if test="billName != null and billName != ''">
			and (em.bill_name_ru like concat('%', #{billName}, '%') or em.bill_name_kg like concat('%', #{billName}, '%'))
		</if>
		<if test="statCd != null and statCd != ''">
			and em.stat_cd = #{statCd}
		</if>
		<if test="ppslDt != null and ppslDt != ''">
			and em.ppsl_dt <![CDATA[>=]]> #{ppslDt}
		</if>
		<!-- <if test="startDt != null and startDt != ''">
			and em.ppsl_dt <![CDATA[>=]]> #{startDt}
		</if>
		<if test="endDt != null and endDt != ''">
			and em.ppsl_dt <![CDATA[<=]]> #{endDt}
		</if> -->
    </select>
    
    <select id="getRevokeAgreeDetail" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.revokeAgree.vo.RevokeAgreeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revokeAgree.repository.RevokeAgreeMapper.getRevokeAgreeDetail */
        
		select 
			em.bill_kind 		--안건종류
			, to_char(em.reg_dt, 'DD-MM-YYYY') as regDate	-- 등록날짜
			, em.bill_name_kg 	--안건명kg
			, em.bill_name_ru 	--안건명ru
			, em.ppsr_nm 		--발의자 (todo :: 추후 아이디로 안건자 이름 kg,ru를 com_member에서 가져와야할듯...)
			, em.etc_kg 		--비고kg
			, em.etc_ru 		--비고ru
			, em.wt_cn_kg 		--철회사유kg
			, em.wt_cn_ru 		--철회사유ru
			, case
				when (ep.wt_dt is not null and ep.wt_cnc_dt is null) then 'Y'
				else 'N'
			 end as agreeYn
		from ebs_master em
			left join ebs_proposer ep on em.bill_id = ep.bill_id 
		where em.bill_id = #{billId}
			and ep.proposer_id = #{userId}
    </select>
    
    <select id="getProposerList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.vo.RevokeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revokeAgree.repository.RevokeAgreeMapper.getProposerList */
  		select 
			ep.proposer_id			--제안자 대상
			, case
				when (ep.wt_dt is not null and ep.wt_cnc_dt is null) then 'Y'
				else 'N'
			 end as agreeYn 		--동의여부
		from ebs_proposer ep
		where 
			ep.bill_id = #{billId}
			and (sign_dt is not null and sign_cnc_dt is null)
    </select>
    
    <update id="updateRevokeAgree" parameterType="java.util.HashMap">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revokeAgree.repository.RevokeAgreeMapper.updateRevokeAgree */
		update ebs_proposer 
		set 
			mod_id = #{userId} 			-- 수정자 아이디
			, mod_dt = now()			-- 수정날짜
			<if test='agreeYn == "N"'> 	-- 서명 취소
			, wt_cnc_dt = now()
			</if>
			<if test='agreeYn == "Y"'> 	-- 서명 동의 
			, wt_dt = now()
			, wt_cnc_dt = null
			</if>
		where 
			bill_id = #{billId}
			and proposer_id = #{userId}
    </update>
    
</mapper>