<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.eas.workResponse.repository.WorkResponseRepository">

<insert id="insertWorkResponse" parameterType="kr.co.bestiansoft.ebillservicekg.eas.workResponse.vo.WorkResponseVo">
    INSERT INTO kgst.eas_work_response (
        work_request_id,
        user_id,
        user_dept_cd,
        user_job_cd,
        checked_dt,
        post_dt,
        response_content,
        post_file_id
    )
    VALUES (
        #{workRequestId},
        #{userId},
        #{userDeptCd},
        #{userJobCd},
        #{checkedDt},
        #{postDt},
        #{responseContent},
        #{postFileId}
    )
</insert>

</mapper>