<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.eas.workResponse.repository.WorkResponseRepository">

    <insert id="insertWorkResponse" parameterType="kr.co.bestiansoft.ebillservicekg.eas.workResponse.vo.WorkResponseVo">
        INSERT INTO kgst.eas_work_response
        (work_req_id, user_id, dept_cd, job_cd, check_dtm, rspns_dtm, rspns_cn, file_id, file_nm)
        VALUES(#{workReqId}, #{userId}, #{deptCd}, #{jobCd}, #{checkDtm}, #{rspnsDtm}, #{rspnsCn}, #{fileId}, #{fileNm});
    </insert>
    <update id="updateWorkContents" parameterType="kr.co.bestiansoft.ebillservicekg.eas.workResponse.vo.UpdateWorkResponseVo">
        update kgst.eas_work_response
        <set>
            <if test="checkDtm != null"> check_dtm =  #{checkDtm} , </if>
            <if test="rspnsDtm != null"> rspns_dtm = #{rspnsDtm} , </if>
            <if test="rspnsCn != null"> rspns_cn = #{rspnsCn} , </if>
            <if test="fileId != null"> file_id =#{fileId} , </if>
            <if test="fileId != null"> file_nm =#{fileNm} , </if>
        </set>
        where rspns_id = #{rspnsId}
    </update>
    <delete id="deleteWorkRequestId">
        delete from kgst.eas_work_response
         where work_req_id =#{workReqId}
    </delete>
    <select id="getWorkResponse" resultType="kr.co.bestiansoft.ebillservicekg.eas.workResponse.vo.WorkResponseVo">
        select res.rspns_id, res.work_req_id, user_id, dept_cd, job_cd, check_dtm, rspns_dtm, rspns_cn, file_id, user_nm, file_nm, rcv_dtm
        from eas_work_response res, eas_work_request req
        where res.work_req_id = req.work_req_id
        <choose>
            <when test="rcvId != null and rcvId != 0">
                and req.rcv_id = #{rcvId}
            </when>
            <when test="docId != null and docId != ''">
                and req.doc_id = #{docId}
            </when>
        </choose>
        order by req.work_req_id desc
    </select>
    <select id ="getWorkResponseByUserId" resultType="kr.co.bestiansoft.ebillservicekg.eas.workResponse.vo.WorkResponseVo">
        select res.rspns_id, res.work_req_id, user_id, dept_cd, job_cd, check_dtm, rspns_dtm, rspns_cn, file_id, user_nm, file_nm, rcv_dtm
          from eas_work_response res, eas_work_request req
         where res.work_req_id = req.work_req_id
           and req.work_req_id = #{workReqId}
           and res.user_id = #{userId}
         order by req.work_req_id desc
    </select>

</mapper>