<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper">

    <select id="selectListMtngFrom" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngFrom */

		SELECT
		    em.mtng_id
		  , em.mtng_type_cd
		  , kgst.fngetcodenm('1014',em.mtng_type_cd,#{lang}) as mtng_type_nm
		  , em.dept_cd
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm3,#{lang}) as dept_nm
		  , em.excn_cycl
		  , em.due_dtm
		  , em.open_dtm
		  , em.close_dtm
		  , em.mtng_plc
		  , em.age_cd
		  , em.rmk
		  , em.stat_cd
		  , kgst.fngetcodenm('1007',em.stat_cd,#{lang}) as stat_nm
		  , em.reg_id
		  , em.reg_dt
		FROM kgst.ebs_mtng em
		join kgst.com_dept cd on (em.dept_cd = cd.dept_cd)
		WHERE 1=1

		 <if test="deptCd != null and deptCd != ''">
	    	AND em.dept_cd = #{deptCd}
	    </if>

		 <if test="searchAgeCd != null and searchAgeCd != ''">
	    	AND (em.age_cd = #{searchAgeCd})
	    </if>
	    <if test="searchFromDate != null and searchFromDate != ''">
	    	AND TO_TIMESTAMP(em.due_dtm, 'YYYYMMDDHH24MI') &gt;= TO_TIMESTAMP(concat(#{searchFromDate}, ' 00:00:00'), 'YYYY-MM-DD HH24:MI:SS')
	    </if>
	    <if test="searchToDate != null and searchToDate != ''">
	    	AND TO_TIMESTAMP(em.due_dtm, 'YYYYMMDDHH24MI') &lt;= TO_TIMESTAMP(concat(#{searchToDate}, ' 23:59:59'), 'YYYY-MM-DD HH24:MI:SS')
	    </if>

    </select>

    <select id="selectMtngFrom" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectMtngFrom */

		SELECT
		    em.mtng_id
		  , em.mtng_type_cd
		  , kgst.fngetcodenm('1014',em.mtng_type_cd,#{lang}) as mtng_type_nm
		  , em.dept_cd
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm3,#{lang}) as dept_nm
		  , em.excn_cycl
		  , em.due_dtm
		  , em.open_dtm
		  , em.close_dtm
		  , em.mtng_plc
		  , em.age_cd
		  , em.rmk
		  , em.stat_cd
		  , kgst.fngetcodenm('1007',em.stat_cd,#{lang}) as stat_nm
		  , em.reg_id
		  , em.reg_dt
		FROM kgst.ebs_mtng em
		join kgst.com_dept cd on (em.dept_cd = cd.dept_cd)
		WHERE em.MTNG_ID = #{mtngId}

    </select>

    <select id="selectListMtngAttendant" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngAttendant */
		SELECT
		  	  vum.member_id --국회의원아이디
			, CASE
				WHEN 'lng_type_1' = 'lng_type_1' then vum.member_nm_kg
				WHEN 'lng_type_1' = 'lng_type_2' then vum.member_nm_ru
				ELSE vum.member_nm_kg
				END AS memberNm
			, vum.dept_cd
			, vum.cmit_cd
			, CASE
				WHEN 'lng_type_1' = 'lng_type_1' then vum.dept_nm_kg
				WHEN 'lng_type_1' = 'lng_type_2' then vum.dept_nm_ru
				ELSE vum.dept_nm_kg
				END AS deptNm
			, vum.poly_cd
			, vum.poly_nm
			, ema.atdt_div_cd
		FROM kgst.view_user_member vum
		   , kgst.ebs_mtng_attendant ema
		WHERE 1=1
		AND vum.member_id = ema.atdt_user_id
		AND ema.mtng_id = #{mtngId}
        ORDER BY deptNm, memberNm
    </select>
    <select id="selectListMtngAgenda" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngAgenda */
       	SELECT
			  ema.mtng_id
		    , em.bill_id                -- 안건 ID
		    , em.bill_no                -- 안건 번호
	        , CASE
		  		WHEN #{lang} = 'lng_type_1' then em.bill_name_kg
		  		WHEN #{lang} = 'lng_type_2' then em.bill_name_ru
	      		ELSE em.bill_name_kg
	      		END AS billName
      		, CASE
		  		WHEN #{lang} = 'lng_type_1' then cm.member_nm_kg
		  		WHEN #{lang} = 'lng_type_2' then cm.member_nm_ru
	      		ELSE cm.member_nm_kg
	      		END AS ppsrNm
		    , em.ppsr_id                -- 발의자 아이디
		    , em.ppsl_dt                -- 제안일
		    , ema.rslt_cd               -- 처리결과
		    , ema.ord
		 FROM
		 kgst.EBS_MASTER em
		 , kgst.EBS_MTNG_AGENDA ema
		 , com_member cm
		 WHERE 1=1
		 AND ema.bill_id = em.bill_id
		 AND em.ppsr_id = cm.member_id
		 AND ema.mtng_id = #{mtngId}
		 order by ema.ord
    </select>

    <insert id="insertEbsMtng" useGeneratedKeys="true" keyProperty="mtngId" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
		INSERT INTO EBS_MTNG
		(
			  MTNG_TYPE_CD
			, dept_cd
			, MTNG_PLC
			, AGE_CD
			, RMK
			, STAT_CD
			, REG_ID
			, REG_DT
			, DUE_DTM
		)
		VALUES
		(
			   #{mtngTypeCd}
			,  #{deptCd}
			,  #{mtngPlc}
			,  #{ageCd}
			,  #{rmk}
			,  #{statCd}
			,  #{regId}
			,  now()
			,  #{dueDtm}
		)
    </insert>
   	<select id="selectListDept" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListDept */
        select
              dept_cd --부서코드
            , dept_nm1 --부서명(키르키즈어)
            , dept_nm2 --부서명(러시아어)
            , dept_nm3 --부서명(한국어)
            , CASE
			  	WHEN #{lang} = 'lng_type_1' then dept_nm1
			  	WHEN #{lang} = 'lng_type_2' then dept_nm2
		      	ELSE dept_nm3
		      	END AS deptNm
            , shrt_nm1 --부서 약칭(키르키즈어)
            , shrt_nm2 --부서 약칭(러시아어)
            , shrt_nm3 --부서 약칭(한국어)
            , ord --순서
            , upr_dept_cd --상위부서코드
            , use_yn --사용여부
            , reg_dt --등록일자
            , reg_id --등록자
            , mod_id --수정자
            , mod_dt --수정일자
        from com_dept
        where 1=1
        order by ord
    </select>
    <select id="selectListMember_bak" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMember */
        SELECT
              cm.member_id --국회의원아이디
            , CASE
		  		WHEN #{lang} = 'lng_type_1' then cm.member_nm_kg
		  		WHEN #{lang} = 'lng_type_2' then cm.member_nm_ru
	      		ELSE cm.member_nm_kg
	      		END AS memberNm
            , cm.age_cd --대수
            , cm.cmit_cd --소속위원회코드
           	, CASE
			  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
			  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
		      	ELSE cd.dept_nm3
		      	END AS cmitNm
            , cm.dept_id --부서
            , cm.poly_cd --정당코드
            , cm.poly_nm --정당명
            , cm.rsdn_rgst_nmbr --주민번호 본인을 구분하는 번호
            , cm.email -- 이메일주소
            , cm.gen_cd --성별(M,F)
            , cm.profile_img_path --프로필이미지경로
            , cm.mbl_no --이동전화번호
            , cm.msg_rcv_yn --메세지수신여부
            , cm.doc_mgr_yn --문서관리자여부
            , cm.reg_id
            , cm.reg_dt
            , cm.mod_id
            , cm.mod_dt
        FROM com_member cm
        , com_dept cd
        , ebs_base_code ebc
        WHERE 1=1
        AND cm.cmit_cd = cd.dept_cd
        AND (cm.age_cd = ebc.code_id AND ebc.curr_yn = 'Y')
        <if test="memberNm != null and memberNm != ''">
            AND (cm.member_nm_kg LIKE CONCAT('%', #{memberNm}, '%') or cm.member_nm_ru LIKE CONCAT('%', #{memberNm}, '%'))
        </if>
        ORDER BY cm.poly_nm, memberNm

    </select>
    <select id="selectListMember" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMember */
		SELECT
		  	vum.member_id --국회의원아이디
			, CASE
				WHEN #{lang} = 'lng_type_1' then vum.member_nm_kg
				WHEN #{lang} = 'lng_type_2' then vum.member_nm_ru
				ELSE vum.member_nm_kg
				END AS memberNm
			, vum.dept_cd
			, vum.cmit_cd
			, CASE
				WHEN #{lang} = 'lng_type_1' then vum.dept_nm_kg
				WHEN #{lang} = 'lng_type_2' then vum.dept_nm_ru
				ELSE vum.dept_nm_kg
				END AS deptNm
			, vum.poly_cd
			, vum.poly_nm
		FROM
		kgst.view_user_member vum
		WHERE 1=1
		<if test="searchNm != null and searchNm != ''">
		    AND (vum.member_nm_kg LIKE CONCAT('%', #{searchNm}, '%') or vum.member_nm_ru LIKE CONCAT('%', #{searchNm}, '%'))
		</if>
		<if test="searchCmtId != null and searchCmtId != ''">
		    AND vum.cmit_cd = #{searchCmtId}
		</if>
		<if test="searchDeptCd != null and searchDeptCd != ''">
		    AND vum.dept_cd = #{searchDeptCd}
		</if>
        ORDER BY deptNm, memberNm

    </select>
    <insert id="insertEbsMtngAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
		INSERT INTO EBS_MTNG_ATTENDANT
		     (
		       MTNG_ID
		     , ATDT_USER_ID
		     , ATDT_USER_NM
		     , ATDT_KIND
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{atdtUserId}
		     ,  #{atdtUserNm}
		     ,  #{atdtKind}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>
    <insert id="insertEbsMtngAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		INSERT INTO EBS_MTNG_AGENDA
		     (
		       MTNG_ID
		     , BILL_ID
		     , ORD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{billId}
		     ,  #{ord}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>
    <delete id="deleteMtngFrom" parameterType="java.lang.Long">
        delete from ebs_mtng
        where mtng_id = #{mtngId}
    </delete>
    <delete id="deleteMtngFromAttendant" parameterType="java.lang.Long">
        delete from ebs_mtng_attendant
        where mtng_id = #{mtngId}
    </delete>
    <delete id="deleteMtngFromAgenda" parameterType="java.lang.Long">
        delete from ebs_mtng_agenda
        where mtng_id = #{mtngId}
    </delete>


    <select id="selectListMtngBill" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngBill */

		select
		    em.bill_id
		  , em.bill_no
		  , em.na_term_cd
		  , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang})  as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.user_nm_kg,vum.user_nm_ru,vum.user_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , em.bill_name_kg
		  , em.bill_name_ru
		  , em.ppsr_id
		  , vum.user_nm_kg
		  , vum.user_nm_ru
		  , em.ppsl_dt
		  , emc.cmt_cd
		  , emc.cmt_se_cd
		from kgst.ebs_master em
		join kgst.ebs_bp_instance ebi on (em.bill_id = ebi.bill_id)
		join kgst.view_user_member vum on (em.ppsr_id = vum.user_id)
		join kgst.ebs_master_cmt emc on (em.bill_id = emc.bill_id)
		where 1=1
		  and ebi.current_step_id not in ('0','1000','3200','3200','9999')
		<if test="deptCd != null and deptCd != ''">
		    and emc.cmt_cd = #{deptCd}
		</if>
		order by em.reg_dt

    </select>

    <select id="selectListMainMtngBill" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMainMtngBill */

		select
		    em.bill_id
		  , em.bill_no
		  , em.na_term_cd
		  , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang})  as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.user_nm_kg,vum.user_nm_ru,vum.user_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , em.bill_name_kg
		  , em.bill_name_ru
		  , em.ppsr_id
		  , vum.user_nm_kg
		  , vum.user_nm_ru
		  , em.ppsl_dt
		  , emc.cmt_cd
		  , emc.cmt_se_cd
		from kgst.ebs_master em
		join kgst.ebs_bp_instance ebi on (em.bill_id = ebi.bill_id)
		join kgst.view_user_member vum on (em.ppsr_id = vum.user_id)
		join kgst.ebs_master_cmt emc on (em.bill_id = emc.bill_id)
		where 1=1
		  and ebi.current_step_id in ('1700','2300','2900')
		<if test="deptCd != null and deptCd != ''">
		    and emc.cmt_cd = #{deptCd}
		</if>
		order by em.reg_dt

    </select>



</mapper>