<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper">

    <select id="selectListMtngTo" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMtngTo */
		SELECT
				MTNG_ID
		     ,  MTNG_TYPE_CD
		     , (
			     select
		           	CASE
					  	WHEN #{lang} = 'lng_type_1' then ccd.code_nm1
					  	WHEN #{lang} = 'lng_type_2' then ccd.code_nm2
				      	ELSE ccd.code_nm3
			      		END AS mtngTypeNm
			     from com_code_detail ccd
			     where ccd.code_id = em.mtng_type_cd
			     AND ccd.grp_code = 1014
		     )
		     ,  CMT_ID
		     , (
			     select
		           	CASE
					  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
					  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
				      	ELSE cd.dept_nm3
			      		END AS CMT_NM
			     from com_dept cd
			     where cd.dept_cd = em.CMT_ID
			     AND cd.upr_dept_cd = 'CMT'
		     )
		     ,  DGR_CD
		     ,  OPEN_DTM
		     ,  CLOSE_DTM
		     ,  MTNG_PLC
		     ,  AGE_CD
		     ,  RMK
		     ,  STAT_CD
		     ,  REG_ID
		     ,  REG_DT
		     ,  MOD_ID
		     ,  MOD_DT
		     ,  DUE_DTM
		 FROM EBS_MTNG em
		 WHERE 1=1
		 AND em.stat_cd = '1'
		 <if test="searchAgeCd != null and searchAgeCd != ''">
	    	AND (em.age_cd = #{searchAgeCd})
	    </if>
	    <if test="searchFromDate != null and searchFromDate != ''">
	    	AND TO_TIMESTAMP(em.due_dtm, 'YYYYMMDDHH24MI') &gt;= TO_TIMESTAMP(concat(#{searchFromDate}, ' 00:00:00'), 'YYYY-MM-DD HH24:MI:SS')
	    </if>
	    <if test="searchToDate != null and searchToDate != ''">
	    	AND TO_TIMESTAMP(em.due_dtm, 'YYYYMMDDHH24MI') &lt;= TO_TIMESTAMP(concat(#{searchToDate}, ' 23:59:59'), 'YYYY-MM-DD HH24:MI:SS')
	    </if>
    </select>

    <select id="selectMtngTo" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectMtngTo */
		SELECT
		    em.mtng_id
		  , em.mtng_type_cd
		  , kgst.fngetcodenm('1014',em.mtng_type_cd,#{lang}) as mtng_type_nm
		  , em.dept_cd
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm3,#{lang}) as dept_nm
		  , em.excn_cycl
		  , em.due_dtm
		  , em.open_dtm
		  , em.close_dtm
		  , em.mtng_plc
		  , em.age_cd
		  , em.rmk
		  , em.stat_cd
		  , kgst.fngetcodenm('1007',em.stat_cd,#{lang}) as stat_nm
		  , em.reg_id
		  , em.reg_dt
		FROM kgst.ebs_mtng em
		join kgst.com_dept cd on (em.dept_cd = cd.dept_cd)
		WHERE em.MTNG_ID = #{mtngId}
    </select>
    <select id="selectListMtngAttendant" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMtngAttendant */
		SELECT
		  	  vum.member_id --국회의원아이디
		  	, kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) as member_nm
			, vum.dept_cd
			, vum.cmit_cd
			, kgst.fngetlangnm(vum.dept_nm_kg,vum.dept_nm_ru,vum.dept_nm_ko,#{lang}) as dept_nm
			, vum.poly_cd
			, vum.poly_nm
			, ema.atdt_div_cd
		from kgst.view_user_member vum
		join ebs_mtng_attendant ema on ( vum.member_id = ema.atdt_user_id)
		WHERE 1=1
		AND ema.mtng_id = #{mtngId}
        ORDER BY dept_nm, member_nm

    </select>
    <select id="selectListMtngAgenda" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMtngAgenda */

         SELECT
			  ema.mtng_id
		    , em.bill_id                -- 안건 ID
		    , em.bill_no                -- 안건 번호
		    , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang}) as bill_name
		    , kgst.fngetlangnm(cm.member_nm_kg,cm.member_nm_ru,cm.member_nm_kg,#{lang}) as ppsr_nm
		    , em.ppsr_id                -- 발의자 아이디
		    , em.ppsl_dt                -- 제안일
		    , ema.rslt_cd               -- 처리결과
		    , ema.ord
		    , emt.dept_cd
		    , emc.cmt_cd
		    , emc.cmt_se_cd
		 FROM kgst.EBS_MASTER em
		 join kgst.EBS_MTNG_AGENDA ema on (em.bill_id = ema.bill_id)
		 join kgst.ebs_mtng emt on (ema.mtng_id = emt.mtng_id)
		 join kgst.view_user_member cm on (em.ppsr_id = cm.member_id)
		 join kgst.ebs_master_cmt emc on (em.bill_id = emc.bill_id)
		 WHERE 1=1
		   AND ema.mtng_id = #{mtngId}
		   and emc.cmt_cd = emt.dept_cd
		 order by ema.ord

    </select>


    <select id="selectListMember" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMember */
        SELECT
              cm.member_id --국회의원아이디
            , cm.member_nm_kg --이름(키르키즈어)
            , cm.member_nm_ru --이름(러시아어)
            , cm.age_cd --대수
            , cm.cmit_cd --소속위원회코드
           	, CASE
			  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
			  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
		      	ELSE cd.dept_nm3
		      	END AS cmitNm
            , cm.dept_id --부서
            , cm.poly_cd --정당코드
            , cm.poly_nm --정당명
            , cm.rsdn_rgst_nmbr --주민번호 본인을 구분하는 번호
            , cm.email -- 이메일주소
            , cm.gen_cd --성별(M,F)
            , cm.profile_img_path --프로필이미지경로
            , cm.mbl_no --이동전화번호
            , cm.msg_rcv_yn --메세지수신여부
            , cm.doc_mgr_yn --문서관리자여부
            , cm.reg_id
            , cm.reg_dt
            , cm.mod_id
            , cm.mod_dt
        FROM com_member cm
        , com_dept cd
        , ebs_base_code ebc
        WHERE 1=1
        AND cm.cmit_cd = cd.dept_cd
        AND (cm.age_cd = ebc.code_id AND ebc.curr_yn = 'Y')
        <if test="memberNmKg != null and memberNmKg != ''">
            AND cm.member_nm_kg LIKE CONCAT('%', #{memberNmKg}, '%')
        </if>
        ORDER BY cm.poly_nm, cm.member_nm_kg

    </select>
    <insert id="insertEbsMtngAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
		INSERT INTO EBS_MTNG_ATTENDANT
		     (
		       MTNG_ID
		     , ATDT_USER_ID
		     , ATDT_USER_NM
		     , ATDT_KIND
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{atdtUserId}
		     ,  #{atdtUserNm}
		     ,  #{atdtKind}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>
    <insert id="insertEbsMtngAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		INSERT INTO EBS_MTNG_AGENDA
		     (
		       MTNG_ID
		     , BILL_ID
		     , ORD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{billId}
		     ,  #{ord}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>


    <update id="updateMtngTo" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
		UPDATE EBS_MTNG
		     SET OPEN_DTM = #{openDtm}
		     , CLOSE_DTM = #{closeDtm}
		     , MTNG_PLC = #{mtngPlc}
		     , RMK = #{rmk}
		     , MOD_ID = #{modId}
		     , MOD_DT = now()
		 WHERE MTNG_ID = #{mtngId}
    </update>

    <update id="updateMtngToStatus" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
		UPDATE EBS_MTNG
		SET
		       MOD_ID = #{modId}
		     , MOD_DT = now()
		     , stat_cd = #{statCd}
		 WHERE MTNG_ID = #{mtngId}
    </update>

    <update id="deleteMtngToFile" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.updateFileEbs */
		update kgst.ebs_mtng_file
		SET mod_dt = now()
		  , mod_id = #{modId}
		  , delete_yn = 'Y'
		where
			mtng_id = #{mtngId};
    </update>

    <delete id="deleteMtngToAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
	    DELETE FROM ebs_mtng_agenda
	    WHERE mtng_id = #{mtngId}
	    <if test="agendaList != null and agendaList.size() > 0">
	      AND bill_id NOT IN
		    <foreach collection="agendaList" item="agenda" index="index" open="(" separator="," close=")">
		        #{agenda.billId}
		    </foreach>
	    </if>
	</delete>
    <insert id="updateMtngToAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		INSERT INTO EBS_MTNG_AGENDA
		     (
		       MTNG_ID
		     , BILL_ID
		     , ORD
		     , RSLT_CD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{billId}
		     ,  #{ord}
		     ,  #{rsltCd}
		     ,  #{regId}
		     ,  now()
		    )
		ON CONFLICT (MTNG_ID, BILL_ID) DO UPDATE SET
	    ORD = EXCLUDED.ORD,
	    MOD_ID = EXCLUDED.REG_ID, -- 삽입 값 참조
	    MOD_DT = now(),
	    RSLT_CD = EXCLUDED.RSLT_CD
    </insert>
    <delete id="deleteMtngToAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
	    DELETE FROM ebs_mtng_attendant
	    WHERE mtng_id = #{mtngId}
	    <if test="attendantList != null and attendantList.size() > 0">
	      AND atdt_user_id NOT IN
	      <foreach collection="attendantList" item="attendant" index="index" open="(" separator="," close=")">
	        #{attendant.atdtUserId}
	      </foreach>
	    </if>
	</delete>
    <update id="updateMtngToAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		INSERT INTO EBS_MTNG_ATTENDANT
		     (
		       MTNG_ID
		     , ATDT_USER_ID
		     , ATDT_USER_NM
		     , ATDT_KIND
		     , ATDT_DIV_CD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{atdtUserId}
		     ,  #{atdtUserNm}
		     ,  #{atdtKind}
		     ,  #{atdtDivCd}
		     ,  #{regId}
		     ,  now()
		    )
		ON CONFLICT (MTNG_ID, ATDT_USER_ID) DO UPDATE SET
	    MOD_ID = EXCLUDED.REG_ID, -- 삽입 값 참조
	    MOD_DT = now(),
	    ATDT_DIV_CD = EXCLUDED.ATDT_DIV_CD
    </update>
</mapper>