<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper">

    <select id="selectListMtngTo" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMtngTo */
		SELECT
				MTNG_ID
		     ,  MTNG_TYPE_CD
		     , (
			     select
		           	CASE
					  	WHEN #{lang} = 'lng_type_1' then ccd.code_nm1
					  	WHEN #{lang} = 'lng_type_2' then ccd.code_nm2
				      	ELSE ccd.code_nm3
			      		END AS mtngTypeNm
			     from com_code_detail ccd
			     where ccd.code_id = em.mtng_type_cd
			     AND ccd.grp_code = 1014
		     )
		     ,  CMT_ID
		     , (
			     select
		           	CASE
					  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
					  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
				      	ELSE cd.dept_nm3
			      		END AS CMT_NM
			     from com_dept cd
			     where cd.dept_cd = em.CMT_ID
			     AND cd.upr_dept_cd = 'CMT'
		     )
		     ,  DGR_CD
		     ,  OPEN_DTM
		     ,  CLOSE_DTM
		     ,  MTNG_PLC
		     ,  AGE_CD
		     ,  RMK
		     ,  STAT_CD
		     ,  REG_ID
		     ,  REG_DT
		     ,  MOD_ID
		     ,  MOD_DT
		     ,  DUE_DTM
		 FROM EBS_MTNG em
		 WHERE 1=1
		 AND em.stat_cd = '1'
		 <if test="searchAgeCd != null and searchAgeCd != ''">
	    	AND (em.age_cd = #{searchAgeCd})
	    </if>
	    <if test="searchFromDate != null and searchFromDate != ''">
	    	AND TO_TIMESTAMP(em.due_dtm, 'YYYYMMDDHH24MI') &gt;= TO_TIMESTAMP(concat(#{searchFromDate}, ' 00:00:00'), 'YYYY-MM-DD HH24:MI:SS')
	    </if>
	    <if test="searchToDate != null and searchToDate != ''">
	    	AND TO_TIMESTAMP(em.due_dtm, 'YYYYMMDDHH24MI') &lt;= TO_TIMESTAMP(concat(#{searchToDate}, ' 23:59:59'), 'YYYY-MM-DD HH24:MI:SS')
	    </if>
    </select>

    <select id="selectMtngTo" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectMtngTo */
		SELECT
		    em.mtng_id
		  , em.mtng_type_cd
		  , kgst.fngetcodenm('1014',em.mtng_type_cd,#{lang}) as mtng_type_nm
		  , em.dept_cd
		  , kgst.fngetdeptnm(em.dept_cd,#{lang}) as dept_nm
		  , em.excn_cycl
		  , em.due_dtm
		  , em.open_dtm
		  , em.close_dtm
		  , em.mtng_plc
		  , em.age_cd
		  , em.rmk
		  , em.stat_cd
		  , kgst.fngetcodenm('1007',em.stat_cd,#{lang}) as stat_nm
		  , em.reg_id
		  , em.reg_dt
		FROM kgst.ebs_mtng em
		WHERE em.MTNG_ID = #{mtngId}
    </select>
    <select id="selectListMtngAttendant_bak" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMtngAttendant */
		SELECT
		  	  vum.member_id --국회의원아이디
		  	, kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) as member_nm
			, vum.dept_cd
			, vum.cmit_cd
			, kgst.fngetlangnm(vum.dept_nm_kg,vum.dept_nm_ru,vum.dept_nm_ko,#{lang}) as dept_nm
			, vum.poly_cd
			, vum.poly_nm
			, ema.atdt_div_cd
		from kgst.view_user_member vum
		join ebs_mtng_attendant ema on ( vum.member_id = ema.atdt_user_id)
		WHERE 1=1
		AND ema.mtng_id = #{mtngId}
        ORDER BY dept_nm, member_nm

    </select>
    <select id="selectListMtngAttendant" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMtngAttendant */
		select
			  ema.atdt_user_id as member_id
			, ema.atdt_user_nm as member_nm
			, vum.dept_cd
			, case
				when ema.atdt_kind = 'ATT01' then '국회의원'
				else '장관'
			end dept_nm
			, vum.poly_cd
			, vum.poly_nm
			, ema.atdt_div_cd
			, vum.cmit_cd
		from kgst.ebs_mtng_attendant ema
		left join kgst.view_user_member vum on vum.user_id = ema.atdt_user_id
		where 1=1
			and ema.mtng_id = #{mtngId}
		order by dept_nm, atdt_user_nm

    </select>


    <select id="selectListMtngAgenda" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMtngAgenda */
		select
		    emt.mtng_id
		  , emt.mtng_type_cd
		  , emt.dept_cd
		  , ema.bill_id
		  , ema.rslt_cd
		  , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang}) as bill_name
		  , kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) as ppsr_nm
		  , em.bill_no
		  , em.bill_kind
		from kgst.ebs_mtng emt
		join kgst.EBS_MTNG_AGENDA ema on (emt.mtng_id = ema.mtng_id)
		join kgst.EBS_MASTER em on (ema.bill_id = em.bill_id)
		left outer join kgst.view_user_member vum on (em.ppsr_id = vum.member_id)
		where emt.mtng_id = #{mtngId}
		order by ema.ord

    </select>


    <select id="selectListMember" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.selectListMember */
		select
			  vum.member_id
			, kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang})  as member_nm
			, vum.age_cd
			, vum.dept_cd
			, kgst.fngetlangnm(vum.dept_nm_kg,vum.dept_nm_ru,vum.dept_nm_kg,#{lang})  as dept_nm
			, vum.cmit_cd
			, kgst.fngetlangnm(vum.cmit_nm_kg,vum.cmit_nm_ru,vum.cmit_nm_kg,#{lang})  as cmit_nm
			, vum.poly_cd
			, vum.poly_nm
		from view_user_member vum
		where vum.is_member = 'Y'
        <if test="memberNm != null and memberNm != ''">
            AND kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) LIKE CONCAT('%', #{memberNm}, '%')
        </if>
        <if test="polyCd != null and polyCd != ''">
            AND vum.poly_cd = #{polyCd}
        </if>
        ORDER BY vum.poly_nm
    </select>


    <insert id="insertEbsMtngAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
		INSERT INTO EBS_MTNG_ATTENDANT
		     (
		       MTNG_ID
		     , ATDT_USER_ID
		     , ATDT_USER_NM
		     , ATDT_KIND
		     , atdt_div_cd
		     , atdt_dept_nm
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{atdtUserId}
		     ,  #{atdtUserNm}
		     ,  #{atdtKind}
		     ,  #{atdtDivCd}
		     ,  #{atdtDeptNm}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>
    <insert id="insertEbsMtngAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		INSERT INTO EBS_MTNG_AGENDA
		     (
		       MTNG_ID
		     , BILL_ID
		     , ORD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{billId}
		     ,  #{ord}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>


    <update id="updateMtngTo" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
		UPDATE EBS_MTNG
		SET    OPEN_DTM = #{openDtm}

		     , CLOSE_DTM = #{closeDtm}
		     , MTNG_PLC = #{mtngPlc}
		     <if test="statCd != null and statCd != ''">
		     , stat_cd = #{statCd}
		     </if>
		     , RMK = #{rmk}
		     , MOD_ID = #{modId}
		     , MOD_DT = now()
		 WHERE MTNG_ID = #{mtngId}
    </update>

    <update id="updateMtngToStatus" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
		UPDATE EBS_MTNG
		SET
		       MOD_ID = #{modId}
		     , MOD_DT = now()
		     , stat_cd = #{statCd}
		 WHERE MTNG_ID = #{mtngId}
    </update>

    <update id="deleteMtngToFile" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.updateFileEbs */
		update kgst.ebs_mtng_file
		SET mod_dt = now()
		  , mod_id = #{modId}
		  , delete_yn = 'Y'
		where
			mtng_id = #{mtngId};
    </update>

    <delete id="deleteMtngToAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
	    DELETE FROM ebs_mtng_agenda
	    WHERE mtng_id = #{mtngId}
	</delete>
    <insert id="insertMtngToAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		INSERT INTO EBS_MTNG_AGENDA
		     (
		       MTNG_ID
		     , BILL_ID
		     , ORD
		     , RSLT_CD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		        #{mtngId}
		     ,  #{billId}
		     ,  #{ord}
		     ,  #{rsltCd}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>
    <delete id="deleteMtngToAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngToVo">
	    DELETE FROM ebs_mtng_attendant
	    WHERE mtng_id = #{mtngId}
	</delete>
    <update id="updateMtngToAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		INSERT INTO EBS_MTNG_ATTENDANT
		     (
		       MTNG_ID
		     , ATDT_USER_ID
		     , ATDT_USER_NM
		     , ATDT_KIND
		     , ATDT_DIV_CD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{atdtUserId}
		     ,  #{atdtUserNm}
		     ,  #{atdtKind}
		     ,  #{atdtDivCd}
		     ,  #{regId}
		     ,  now()
		    )
		ON CONFLICT (MTNG_ID, ATDT_USER_ID) DO UPDATE SET
	    MOD_ID = EXCLUDED.REG_ID, -- 삽입 값 참조
	    MOD_DT = now(),
	    ATDT_DIV_CD = EXCLUDED.ATDT_DIV_CD
    </update>

    <update id="updateMtngFileDel" parameterType="java.util.HashMap">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.repository.MtngToMapper.updateMtngFileDel */
		update kgst.ebs_mtng_file
		SET mod_dt = now()
		  , mod_id = #{modId}
		  , delete_yn = 'Y'
		where
			mtng_id = #{mtngId}::integer
			and org_file_id = #{orgFileId}
    </update>
</mapper>