<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper">

    <select id="selectListMtngFrom" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngFrom */

		SELECT
		    em.mtng_id
		  , em.mtng_type_cd
		  , kgst.fngetcodenm('1014',em.mtng_type_cd,#{lang}) as mtng_type_nm
		  , em.dept_cd
		  , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm3,#{lang}) as dept_nm
		  , em.excn_cycl
		  , em.due_dtm
		  , em.open_dtm
		  , em.close_dtm
		  , em.mtng_plc
		  , em.age_cd
		  , em.rmk
		  , em.stat_cd
		  , kgst.fngetcodenm('1007',em.stat_cd,#{lang}) as stat_nm
		  , em.reg_id
		  , em.reg_dt
		  , em.session_no
		  , em.session_ord
		FROM kgst.ebs_mtng em
		left outer join kgst.com_dept cd on (em.dept_cd = cd.dept_cd)
		WHERE 1=1

		<if test="mtngTypeCd != null and mtngTypeCd != ''">
	    	AND em.mtng_type_cd = #{mtngTypeCd}
	    </if>

	    <if test="statCd != null and statCd != ''">
	    	AND em.stat_cd = #{statCd}
	    </if>

		<if test="deptCd != null and deptCd != ''">
	    	AND em.dept_cd = #{deptCd}
	    </if>
		AND em.age_cd = #{searchAgeCd}

	    <if test="searchFromDate != null and searchFromDate != ''">
	        and em.due_dtm <![CDATA[>=]]>   #{searchFromDate}
	    </if>
	    <if test="searchToDate != null and searchToDate != ''">
	        and em.due_dtm <![CDATA[<=]]>  (#{searchToDate} || '9999')
	    </if>
		order by em.due_dtm desc

    </select>

    <select id="selectMtngFrom" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectMtngFrom */

		SELECT
		    em.mtng_id
		  , em.mtng_type_cd
		  , kgst.fngetcodenm('1014',em.mtng_type_cd,#{lang}) as mtng_type_nm
		  , em.dept_cd
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , cd.dept_nm1
		  , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm3,#{lang}) as dept_nm
		  , em.excn_cycl
		  , em.due_dtm
		  , em.open_dtm
		  , em.close_dtm
		  , em.mtng_plc
		  , em.age_cd
		  , em.rmk
		  , em.stat_cd
		  , kgst.fngetcodenm('1007',em.stat_cd,#{lang}) as stat_nm
		  , em.reg_id
		  , em.reg_dt
		  , em.session_no
		  , em.session_ord
		FROM kgst.ebs_mtng em
		left outer join kgst.com_dept cd on (em.dept_cd = cd.dept_cd)
		WHERE em.MTNG_ID = #{mtngId}

    </select>

    <select id="selectListMtngAttendant" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngAttendant */
		select
			  ema.atdt_user_id as member_id
			, atdt_user_nm  as member_nm
			, atdt_dept_nm  as dept_nm
			, atdt_dept_nm  as poly_nm
			, vum.dept_cd
			, vum.poly_cd
			, vum.poly_nm
			, ema.atdt_div_cd
			, kgst.fngetcodenm('1017',ema.atdt_div_cd,#{lang}) as atdt_div_nm
			, ema.mtng_id
			, vum.cmit_cd
		from kgst.ebs_mtng_attendant ema
		left outer join kgst.view_user_member vum on (ema.atdt_user_id = vum.user_id )
		where ema.mtng_id = #{mtngId}::BIGINT
		order by poly_cd

    </select>

    <select id="selectListMtngAgenda" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngAgenda */
		select
			  emt.mtng_id
			, emt.mtng_type_cd
			, emt.dept_cd
			, ema.bill_id
			, ema.rslt_cd
			, kgst.fngetcodenm('1008',ema.rslt_cd,#{lang}) as rslt_nm
			, kgst.fngetlangnm(em.bill_name_kg ,em.bill_name_ru ,em.bill_name_kg ,#{lang}) as bill_name
			, em.bill_no
			, em.ppsr_id
			, kgst.fngetlangnm(vum.user_nm_kg ,vum.user_nm_ru ,vum.user_nm_kg ,#{lang}) as ppsr_nm
			, em.ppsl_dt
			, ebi.current_step_id
			, ebs.stat_cd
			, kgst.fngetcodenm('1010', ebs.stat_cd, #{lang}) as stat_nm
		from ebs_mtng emt
		join ebs_mtng_agenda ema on (emt.mtng_id = ema.mtng_id)
		join ebs_master em on (ema.bill_id = em.bill_id)
		join kgst.view_user_member vum on (em.ppsr_id = vum.user_id)
		join ebs_bp_instance ebi on (em.bill_id = ebi.bill_id)
		join ebs_bp_step ebs on (ebi.current_step_id = ebs.step_id)
		where emt.mtng_id = #{mtngId}
		order by em.bill_no

    </select>

    <insert id="insertEbsMtng" useGeneratedKeys="true" keyProperty="mtngId" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
		INSERT INTO EBS_MTNG
		(
			  MTNG_TYPE_CD
			, dept_cd
			, MTNG_PLC
			, AGE_CD
			, RMK
			, STAT_CD
			, REG_ID
			, REG_DT
			, DUE_DTM
			, OPEN_DTM
			, SESSION_NO
			, SESSION_ORD
		)
		VALUES
		(
			   #{mtngTypeCd}
			,  #{deptCd}
			,  #{mtngPlc}
			,  #{ageCd}
			,  #{rmk}
			,  #{statCd}
			,  #{regId}
			,  now()
			,  #{dueDtm}
			,  #{openDtm}
			,  #{sessionNo}
			,  #{sessionOrd}
		)
    </insert>
   	<select id="selectListDept" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListDept */
        select
              dept_cd --부서코드
            , dept_nm1 --부서명(키르키즈어)
            , dept_nm2 --부서명(러시아어)
            , dept_nm3 --부서명(한국어)
            , CASE
			  	WHEN #{lang} = 'lng_type_1' then dept_nm1
			  	WHEN #{lang} = 'lng_type_2' then dept_nm2
		      	ELSE dept_nm3
		      	END AS deptNm
            , shrt_nm1 --부서 약칭(키르키즈어)
            , shrt_nm2 --부서 약칭(러시아어)
            , shrt_nm3 --부서 약칭(한국어)
            , ord --순서
            , upr_dept_cd --상위부서코드
            , use_yn --사용여부
            , reg_dt --등록일자
            , reg_id --등록자
            , mod_id --수정자
            , mod_dt --수정일자
        from com_dept
        where 1=1
        order by ord
    </select>



    <select id="selectListMember" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMember */
		select
			  vum.member_id
			, kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang})  as member_nm
			, vum.age_cd
			, vum.dept_cd
			, kgst.fngetlangnm(vum.dept_nm_kg,vum.dept_nm_ru,vum.dept_nm_kg,#{lang})  as dept_nm
			, vum.cmit_cd
			, kgst.fngetlangnm(vum.cmit_nm_kg,vum.cmit_nm_ru,vum.cmit_nm_kg,#{lang})  as cmit_nm
			, vum.poly_cd
			, vum.poly_nm
		from view_user_member vum
		where vum.is_member = 'Y'
        <if test="memberNm != null and memberNm != ''">
            AND kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) LIKE CONCAT('%', #{memberNm}, '%')
        </if>
        <if test="polyCd != null and polyCd != ''">
            AND vum.poly_cd = #{polyCd}
        </if>
        ORDER BY vum.poly_nm
    </select>




    <insert id="insertEbsMtngAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MemberVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.insertEbsMtngAttendant */
		INSERT INTO EBS_MTNG_ATTENDANT
		     (
		       MTNG_ID
		     , ATDT_USER_ID
		     , ATDT_USER_NM
		     , ATDT_KIND
		     , atdt_dept_nm
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		        #{mtngId}
		     ,  #{atdtUserId}
		     ,  #{atdtUserNm}
		     ,  #{atdtKind}
		     ,  #{atdtDeptNm}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>
    <insert id="insertEbsMtngAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
    /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.insertEbsMtngAgenda */
		INSERT INTO EBS_MTNG_AGENDA
		     (
		       MTNG_ID
		     , BILL_ID
		     , ORD
		     , REG_ID
		     , REG_DT
		     )
		VALUES
		     (
		       #{mtngId}
		     ,  #{billId}
		     ,  #{ord}
		     ,  #{regId}
		     ,  now()
		    )
    </insert>

    <delete id="deleteMtngFrom" parameterType="java.lang.Long">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.deleteMtngFrom */
        delete from ebs_mtng
        where mtng_id = #{mtngId}
    </delete>
    <delete id="deleteMtngFromAttendant" parameterType="java.lang.Long">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.deleteMtngFromAttendant */
        delete from ebs_mtng_attendant
        where mtng_id = #{mtngId}
    </delete>
    <delete id="deleteMtngFromAgenda" parameterType="java.lang.Long">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.deleteMtngFromAgenda */
        delete from ebs_mtng_agenda
        where mtng_id = #{mtngId}
    </delete>


    <select id="selectListMtngBill" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngBill */

		select
		    em.bill_id
		  , em.bill_no
		  , em.na_term_cd
		  , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang})  as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.user_nm_kg,vum.user_nm_ru,vum.user_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , em.bill_name_kg
		  , em.bill_name_ru
		  , em.ppsr_id
		  , vum.user_nm_kg
		  , vum.user_nm_ru
		  , em.ppsl_dt
		  , emc.cmt_cd
		  , emc.cmt_se_cd
		from kgst.ebs_master em
		join kgst.ebs_bp_instance ebi on (em.bill_id = ebi.bill_id)
		join kgst.view_user_member vum on (em.ppsr_id = vum.user_id)
		join kgst.ebs_master_cmt emc on (em.bill_id = emc.bill_id)
		where 1=1
		  and ebi.current_step_id not in ('0','1000','3200','3200','9999')
		<if test="deptCd != null and deptCd != ''">
		    and emc.cmt_cd = #{deptCd}
		</if>
		<if test="billNo != null and billNo != ''">
		    and em.bill_no LIKE CONCAT('%', #{billNo}, '%')
		</if>
        <if test="billNm != null and billNm != ''">
            AND kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang}) LIKE CONCAT('%', #{billNm}, '%')
        </if>
		order by em.reg_dt

    </select>

    <select id="selectListMainMtngBill" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMainMtngBill */

		select
		    em.bill_id
		  , em.bill_no
		  , em.na_term_cd
		  , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang})  as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.user_nm_kg,vum.user_nm_ru,vum.user_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , em.bill_name_kg
		  , em.bill_name_ru
		  , em.ppsr_id
		  , vum.user_nm_kg
		  , vum.user_nm_ru
		  , em.ppsl_dt
		from kgst.ebs_master em
		join kgst.ebs_bp_instance ebi on (em.bill_id = ebi.bill_id)
		join kgst.view_user_member vum on (em.ppsr_id = vum.user_id)
		where 1=1
		  and ebi.current_step_id in ('1400','1500','1600')
		<if test="billNo != null and billNo != ''">
		    and em.bill_no = #{billNo}
		</if>
        <if test="billNm != null and billNm != ''">
            AND kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang}) LIKE CONCAT('%', #{billNm}, '%')
        </if>
		order by em.reg_dt

    </select>

	<update id="updateFromMtngBill" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.updateFromMtngBill */
		update kgst.ebs_mtng
		  set due_dtm = #{dueDtm}
			, mtng_plc = #{mtngPlc}
			, rmk = #{rmk}
			, mod_id = #{modId}
			, mod_dt = now()
			<if test="openDtm != null"> , open_dtm = #{openDtm} </if>
			<if test="ageCd != null"> , age_cd = #{ageCd} </if>
			<if test="sessionNo != null"> , session_no = #{sessionNo} </if>
			<if test="sessionOrd != null"> , session_ord = #{sessionOrd} </if>
		where mtng_id = #{mtngId}
	</update>

	<delete id="deleteMtngFromBillAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.deleteMtngFromBillAttendant */
	    DELETE FROM kgst.ebs_mtng_attendant
	    WHERE mtng_id = #{mtngId}

	</delete>

	<update id="updateMtngFromAttendant" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.updateMtngFromAttendant */
		INSERT INTO kgst.ebs_mtng_attendant
		     (
			       mtng_id
			     , atdt_user_id
			     , atdt_user_nm
			     , atdt_kind
			     , reg_id
			     , reg_dT
		     )
		VALUES
		     (
			       #{mtngId}
			     ,  #{atdtUserId}
			     ,  #{atdtUserNm}
			     ,  #{atdtKind}
			     ,  #{regId}
			     ,  now()
		    )
		ON CONFLICT (MTNG_ID, ATDT_USER_ID) DO UPDATE SET
	    MOD_ID = EXCLUDED.REG_ID, -- 삽입 값 참조
	    MOD_DT = now()
    </update>

	<delete id="deleteMtngFromBillAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.deleteMtngFromBillAgenda */
	    DELETE FROM kgst.ebs_mtng_agenda
	    WHERE mtng_id = #{mtngId}
	</delete>

	<insert id="updateMtngFromAgenda" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.updateMtngFromAgenda */
		INSERT INTO kgst.ebs_mtng_agenda
		     (
			       mtng_id
			     , bill_id
			     , ord
			     , reg_id
			     , reg_dt
		     )
		VALUES
		     (
			       #{mtngId}
			     ,  #{billId}
			     ,  #{ord}
			     ,  #{regId}
			     ,  now()
		    )
		ON CONFLICT (MTNG_ID, BILL_ID) DO UPDATE SET
	    ORD = EXCLUDED.ORD,
	    MOD_ID = EXCLUDED.REG_ID, -- 삽입 값 참조
	    MOD_DT = now()
    </insert>

	<select id="selectListMtngFile" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngTo.vo.MtngFileVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngFile */
		 SELECT
				SEQ
		     ,  MTNG_ID
		     ,  ORG_FILE_ID
		     ,  ORG_FILE_NM
		     ,  PDF_FILE_ID
		     ,  PDF_FILE_NM
		     ,  FILE_KIND_CD
		     ,  FILE_SIZE
		     ,  DELETE_YN
		  FROM EBS_MTNG_FILE
		  WHERE DELETE_YN = 'N'
		    AND MTNG_ID = #{mtngId}

    </select>


    <select id="selectListMtngByBillId" resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListMtngByBillId */
    	select
			  ema.bill_id
			, em.mtng_id
			, em.mtng_type_cd
			, em.dept_cd
			, em.excn_cycl
			, em.due_dtm
			, em.open_dtm
			, em.close_dtm
			, em.mtng_plc
			, em.age_cd
			, em.rmk
			, em.stat_cd
			, em.reg_id
			, em.reg_dt
		from ebs_mtng_agenda ema
		inner join ebs_mtng em
		on ema.mtng_id = em.mtng_id
		where ema.bill_id = #{billId}
		order by em.open_dtm
    </select>

    <delete id="deleteMtngAgenda" parameterType="java.util.HashMap">
         /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.deleteMtngAgenda */
    	delete from kgst.ebs_mtng_agenda
    	where mtng_id = #{mtngId}
    	and bill_id = #{billId}
    </delete>


    <select id="selectListAgenda" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListAgenda */
		select
		    ema.mtng_id
		  , ema.bill_id
		  , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang})  as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.user_nm_kg,vum.user_nm_ru,vum.user_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , em.bill_no
		  , mt.open_dtm
		from ebs_mtng mt
		join ebs_mtng_agenda ema on (mt.mtng_id = ema.mtng_id)
		join ebs_master em on (em.bill_id = ema.bill_id)
		join kgst.view_user_member vum on (em.ppsr_id = vum.user_id)
		where 1=1
		  and mt.mtng_id = #{mtngId}

    </select>

    <select id="selectListHallMtngAgenda" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.AgendaVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListHallMtngAgenda */
		select
		    ema.mtng_id
		  , ema.bill_id
		  , COALESCE(ema.rslt_cd, '')  as rslt_cd
		  , kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang})  as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.user_nm_kg,vum.user_nm_ru,vum.user_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , em.bill_no
		  , mt.open_dtm
		  , mt.session_no
		  , mt.session_ord
		from ebs_mtng mt
		join ebs_mtng_agenda ema on (mt.mtng_id = ema.mtng_id)
		join ebs_master em on (em.bill_id = ema.bill_id)
		join kgst.view_user_member vum on (em.ppsr_id = vum.user_id)
		where 1=1
			and mt.mtng_type_cd = '2'
	    <if test="searchDate != null and searchDate != ''">
	        and mt.open_dtm LIKE CONCAT(#{searchDate}, '%')
	    </if>
	     <if test="searchSessionNo != null and searchSessionNo != ''">
	        and mt.session_no = #{searchSessionNo}
	    </if>
	     <if test="searchSessionOrd != null and searchSessionOrd != ''">
	        and mt.session_ord = #{searchSessionOrd}
	    </if>

	     <if test="billName != null and billName != ''">
	        and kgst.fngetlangnm(em.bill_name_kg,em.bill_name_ru,em.bill_name_kg,#{lang}) LIKE CONCAT('%',#{billName}, '%')
	    </if>

	     <if test="billNo != null and billNo != ''">
	        and em.bill_no LIKE CONCAT('%',#{billNo}, '%')
	    </if>

	</select>

    <select id="selectListHallMtng" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.selectListHallMtng */

		SELECT
		    em.mtng_id
		  , em.mtng_type_cd
		  , kgst.fngetcodenm('1014',em.mtng_type_cd,#{lang}) as mtng_type_nm
		  , em.dept_cd
		  , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm3,#{lang}) as dept_nm
		  , em.excn_cycl
		  , em.due_dtm
		  , em.open_dtm
		  , em.close_dtm
		  , em.mtng_plc
		  , em.age_cd
		  , em.rmk
		  , em.stat_cd
		  , kgst.fngetcodenm('1007',em.stat_cd,#{lang}) as stat_nm
		  , em.reg_id
		  , em.reg_dt
		  , em.session_no
		  , em.session_ord
		FROM kgst.ebs_mtng em
		left outer join kgst.com_dept cd on (em.dept_cd = cd.dept_cd)
		WHERE 1=1
	    	AND em.mtng_type_cd = '2'
	    <if test="searchDate != null and searchDate != ''">
	        and em.open_dtm LIKE CONCAT(#{searchDate}, '%')
	    </if>
	     <if test="searchSessionNo != null and searchSessionNo != ''">
	        and em.session_no = #{searchSessionNo}
	    </if>
	     <if test="searchSessionOrd != null and searchSessionOrd != ''">
	        and em.session_ord = #{searchSessionOrd}
	    </if>
		order by em.open_dtm desc

    </select>

	<update id="updateHallMtngResult" parameterType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.vo.MtngFromVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngFrom.repository.MtngFromMapper.updateHallMtngResult */
		update kgst.ebs_mtng_agenda
		  set mod_id = #{modId}
			, mod_dt = now()
			, rslt_cd = #{rsltCd}
		where mtng_id = #{mtngId}
		  and bill_id = #{billId}
	</update>


</mapper>