<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper">

    <insert id="insertApplyBill" useGeneratedKeys="true" keyProperty="billId"
     		parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertApplyBill */    
        
       insert into kgst.ebs_master (
			  bill_id 		-- 안건아이디
			, scl_dsc_rcp_nmb	-- 사회토론번호
			, na_term_cd	-- 대수
			, ppsl_knd_cd	-- 제안자 종류
			, bill_name_kg	-- 안건이름kg
			, bill_name_ru  -- 안건이름ru
			, ppsr_id		-- 제안자 아이디
			<if test="etcKg != null"> , etc_kg </if> -- 비고kg
			<if test="etcRu != null"> , etc_ru </if> -- 비고ru
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
		)
		values (
			  #{billId}
			, #{sclDscRcpNmb}
			, #{naTermCd}
			, #{ppslKndCd}
			, #{billNameKg}
			, #{billNameRu}
			, #{ppsrId}
			<if test="etcKg != null">, #{etcKg} </if>
			<if test="etcRu != null">, #{etcRu} </if>
			, #{ppsrId}
			, now()
		)
    </insert>
    
    <select id="selectListApply" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectListApply */
        select 
			  em.bill_id 						-- 안건아이디
			, case
				when #{lang} = 'langTy1' then em.bill_name_kg 
				when #{lang} = 'langTy2' then em.bill_name_ru 
				else em.bill_name_kg 
			end as bill_name					-- 안건 이름
			, case
				when #{lang} = 'langTy1' then view.member_nm_kg 
				when #{lang} = 'langTy2' then view.member_nm_ru 
				else view.member_nm_kg 
			end as member_nm					-- 제안자 이름
			, em.scl_dsc_rcp_nmb 				-- 사회토론번호
			, to_char(em.reg_dt, 'DD/MM/YYYY') as ppslDt	-- 등록일
		from kgst.ebs_master em
			left join kgst.view_user_member view on view.member_id = em.ppsr_id 
		where 1=1
			and em.na_term_cd = '14' and em.ppsr_id = #{loginId}
			<if test="billName != null and billName != ''">
				and case
			        when #{lang} = 'langTy1' then em.bill_name_kg
			        when #{lang} = 'langTy2' then em.bill_name_ru
			        else em.bill_name_kg
			    end like concat('%', #{billName}, '%')
			</if>
			<if test="statCd != null and statCd != ''">
				and em.stat_cd = #{statCd}
			</if>
			<if test="ppslDt != null and ppslDt != ''">
				and em.reg_dt::date = #{ppslDt}
			</if>
			<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
				and em.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
			</if>
			
    </select>
    
    <update id="updateApplyByBillId" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateApplyByBillId */
        update kgst.ebs_master 
		set
		  bill_kind = #{billKind}		-- 안건 종류
		, bill_name_kg = #{billNameKg}	-- 안건이름kg
		, bill_name_ru = #{billNameRu}  -- 안건이름ru
		<if test="etcKg != null"> , etc_kg = #{etcKg} </if> -- 비고kg
		<if test="etcRu != null"> , etc_ru  = #{etcRu}</if> -- 비고ru
		, mod_id = #{modId}				-- 등록자
		, mod_dt = now()				-- 등록 날짜
		WHERE bill_id = #{billId}
    </update>
    
    <delete id="deleteApplyByBillId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteApplyByBillId */
    	delete from kgst.ebs_master
        where bill_id = #{billId}
    </delete>
    
    <insert id="insertProposerList" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertProposerList */    
        
       insert into kgst.ebs_proposer (
			  bill_id 		-- 안건아이디
			, proposer_id	-- 제안자 아이디
			, ord			-- 순서
			, poly_cd		-- 정당 코드
			, poly_nm		-- 정당 이름
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
			<if test="signDt != null"> , sign_dt </if> -- 발의자 서명
		)
		values (
			  #{billId}
			, #{ppsrId}
			, #{ord}
			, #{polyCd}
			, #{polyNm}
			, #{ppsrId}
			, now()
			<if test="signDt != null"> , now() </if>
		)
    </insert>
    
    <select id="selectApplyDetail" parameterType="java.lang.String"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectApplyDetail */
		select 
			  bill_name_kg 					-- 안건이름kg
			, bill_name_ru  				-- 안건이름ru
			, case
				when #{lang} = 'langTy1' then view.member_nm_kg 
				when #{lang} = 'langTy2' then view.member_nm_ru 
				else view.member_nm_kg 
			end as member_nm				-- 제안자 이름
			, case
				when #{lang} = 'langTy1' then em.etc_kg 
				when #{lang} = 'langTy2' then em.etc_ru 
				else em.etc_kg 
			end as etc		 				-- 비고
			, to_char(em.reg_dt, 'DD/MM/YYYY HH:mm') as regDate -- 등록일
			, scl_dsc_rcp_nmb 				-- 사회토론번호
		from kgst.ebs_master em
			left join kgst.view_user_member view on view.member_id = em.ppsr_id
		where em.bill_id = #{billId}
    </select>
    
    <delete id="deleteProposerByBillId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteProposerByBillId */
    	delete from kgst.ebs_proposer
        where bill_id = #{billId}
    </delete>
    
    <update id="updateApplyBill" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateApplyBill */
        update kgst.ebs_master 
		set
		  stat_cd = #{statCd}		-- 상태 코드
		WHERE bill_id = #{billId}
    </update>
    
    <update id="updateRevokeBill" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateRevokeBill */
        update kgst.ebs_master 
		set
		  stat_cd = #{statCd}		-- 상태 코드
		  , wt_cn_kg = #{wtCnKg}	-- 철회 사유kg
		  , wt_cn_ru = #{wtCnRu}	-- 철회 사유ru
		WHERE bill_id = #{billId}
    </update>
    
    <update id="updateBillPpsrRevoke" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillPpsrRevoke */
        update kgst.ebs_proposer 
		set
		  wt_cn = now()
		WHERE bill_id = #{billId}
			and proposer_id = #{ppsrId}
    </update>
    
    <update id="updateBillStatus" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillStatus */
        update kgst.ebs_master 
		set
		  stat_cd = #{statCd}		-- 상태 코드
		  <if test="wtCn != null and wtCn != ''"> , wt_cn = #{wtCn} </if> -- 철회 사유
		WHERE bill_id = #{billId}
    </update>
    
    <select id="getProposerList" parameterType="java.lang.String" resultType="java.lang.String">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.getProposerList */
        select 
			  proposer_id -- 제안자 아이디
		from kgst.ebs_proposer ep
		where ep.bill_id = #{billId}
    </select>
    
    <delete id="deleteProposerByPpsrId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteProposerByBillId */
    	delete from ebs_proposer
        where proposer_id = #{ppsrId}
    </delete>
    
    <select id="getProposerInfo" parameterType="java.lang.String"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.getProposerInfo */
        select 
			member_id 
			, poly_cd 
			, poly_nm 
		from kgst.com_member
		where member_id = #{memberId}
    </select>
    
    <insert id="insertBillProcess" parameterType="java.util.HashMap">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertBillProcess */    
        
       insert into kgst.ebs_process (
			  bill_id 		-- 안건아이디
			, proc_id		-- 프로세스 아이디
			, ord			-- 순서
			, poly_cd		-- 정당 코드
			, poly_nm		-- 정당 이름
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
			<if test="signDt != null"> , sign_dt </if> -- 발의자 서명
		)
		values (
			  #{billId}
			, #{ppsrId}
			, #{ord}
			, #{polyCd}
			, #{polyNm}
			, #{regId}
			, now()
			<if test="signDt != null"> , now() </if>
		)
    </insert>
    
    <insert id="insertHomeLaws" useGeneratedKeys="true" keyProperty="id"
    	parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertHomeLaws */    
        
       insert into kgst.home_laws (
			  title_kg 		-- 안건명 키르
			, title_ru		-- 안건명 러시아
		)
		values (
			  #{billNameKg}
			, #{billNameRu}
		)
    </insert>
    
    <select id="selectApplyFileList" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.common.file.vo.EbsFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectApplyFileList */
		select 
			ef.file_kind_cd 
			, org_file_id 
			, org_file_nm 
			, pdf_file_id 
			, pdf_file_nm 
		from 
			kgst.ebs_file ef
		where 
			ef.bill_id = #{billId}
			and ef.delete_yn = 'N'
		order by file_kind_cd asc, ef.reg_dt asc
    </select>
</mapper>