<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper">

    <insert id="insertApplyBill" useGeneratedKeys="true" keyProperty="billId"
     		parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertApplyBill */

       insert into kgst.ebs_master (
			  bill_id 		-- 안건아이디
			, scl_dsc_rcp_nmb	-- 사회토론번호
			, na_term_cd	-- 대수
			, ppsl_knd_cd	-- 제안자 종류
			, bill_name_kg	-- 안건이름kg
			, bill_name_ru  -- 안건이름ru
			, ppsr_id		-- 제안자 아이디
			, ppsl_dt		-- 제안일자
			<if test="etcKg != null"> , etc_kg </if> -- 비고kg
			<if test="etcRu != null"> , etc_ru </if> -- 비고ru
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
			<if test="billNo != null"> , bill_no </if> -- 안건번호
			<if test="ppslDt != null"> , ppsl_dt </if> -- 제안날짜
			, bill_year_seq		-- 년도별순번
		)
		values (
			  #{billId}
			, #{sclDscRcpNmb}
			, #{naTermCd}
			, #{ppslKndCd}
			, #{billNameKg}
			, #{billNameRu}
			, #{ppsrId}
			, to_char(now(), 'YYYYMMDD')
			<if test="etcKg != null">, #{etcKg} </if>
			<if test="etcRu != null">, #{etcRu} </if>
			, #{regId}
			, now()
			<if test="billNo != null">, #{billNo} </if>
			<if test="ppslDt != null">, #{ppslDt} </if>
			, (
			    select
	       		  coalesce( max(bill_year_seq),0)+1
			    from ebs_master
			    where DATE_PART('year', reg_dt) = DATE_PART('year', now())
		      )
	   )
    </insert>
    
    <sql id="_selectBill">
    	select
		    A.bill_id
		  , A.bill_no
		  , A.bill_name -- 안건 이름
		  , A.ppsr_id
		  , A.ppsr_nm -- 제안자 이름
		  , A.member_nm
		  , A.bill_name_kg
		  , A.bill_name_ru
		  , A.bill_kind
		  , A.scl_dsc_rcp_nmb
		  , A.na_term_cd
		  , A.ppsl_dt
		  , A.rcp_dt
		  , A.reg_dt
		  , A.regDate
		  , A.current_step_id
		  , A.stat_nm
		  , A.stat_cd
		  , A.etc
		from (
			select
			    em.bill_id
			  , em.bill_name_kg
			  , em.bill_name_ru
			  , fngetlangnm(em.bill_name_kg, em.bill_name_ru, em.bill_name_kg, #{lang}) as bill_name
			  , em.bill_no
			  , em.bill_kind
			  , em.scl_dsc_rcp_nmb
			  , em.na_term_cd
			  , em.ppsr_id
			  , fngetlangnm(vum.member_nm_kg, vum.member_nm_ru, vum.member_nm_kg, #{lang}) as ppsr_nm
			  , fngetlangnm(vum.member_nm_kg, vum.member_nm_ru, vum.member_nm_kg, #{lang}) as member_nm
			  , em.etc_kg
			  , em.etc_ru
			  , fngetlangnm(em.etc_kg, em.etc_ru, em.etc_kg, #{lang}) as etc
			  , em.ppsl_dt
			  , em.rcp_dt
			  , em.reg_dt
			  , to_char(em.reg_dt, 'DD/MM/YYYY HH24:mi') as regDate -- 등록일
			  , ebi.current_step_id
			  , ebs.stat_cd
			  , fngetcodenm('1010', ebs.stat_cd, #{lang}) as stat_nm
			from ebs_master em
			left join view_user_member vum on (em.ppsr_id = vum.user_id)
			left join ebs_bp_instance ebi on em.bill_id = ebi.bill_id
		    left join ebs_bp_step ebs on ebi.bp_df_id = ebs.bp_df_id and ebi.current_step_id = ebs.step_id 
		 ) A
    </sql>
    
    <select id="selectListBillApply" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectListBill */
        select AA.* from (
			<include refid="_selectBill" />
		) AA
        where 1=1
		<if test="ppsrId != null and ppsrId != ''">
			and AA.ppsr_id = #{ppsrId}
		</if>
		<if test="naTermCd != null and naTermCd != ''">
			and AA.na_term_cd = #{naTermCd}
		</if>
		<if test="billName != null and billName != ''">
			and AA.bill_name like concat('%', #{billName}, '%')
		</if>
		<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
			and AA.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
		</if>
		<if test="statCd != null and statCd != ''">
			and AA.stat_cd = #{statCd}
		</if>
		<if test="toDate != null and toDate != ''">
			AND AA.ppsl_dt <![CDATA[>=]]> #{toDate}
		</if>
		<if test="fromDate != null and fromDate != ''">
			AND AA.ppsl_dt <![CDATA[<=]]> #{fromDate}
		</if>
	    order by AA.reg_dt desc
    </select>
    
    <select id="selectBill" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectBill */
        select 
        	  AA.* 
        	, ep.sign_dt
	        , ep.sign_cnc_dt
	        , ep.wt_dt
	        , ep.wt_cnc_dt
	        , case
				when (ep.sign_dt is not null and ep.sign_cnc_dt is null) then 'Y'
				else 'N'
			  end as agreeYn 				-- 동의여부
			, case
				when (ep.wt_dt is not null and ep.wt_cnc_dt is null) then 'Y'
				else 'N'
			  end as revokeYn 				-- 철회동의여부
			, kgst.fngetlangnm(emd.rmrk_kg, emd.rmrk_ru, emd.rmrk_kg, #{lang}) as wt_cn -- 철회사유
        from (
	        <include refid="_selectBill" />
        ) AA
        left join kgst.ebs_proposer ep on (AA.bill_id = ep.bill_id and ep.proposer_id = #{userId})
        left outer join kgst.ebs_master_detail emd on (AA.bill_id = emd.bill_id and emd.cls_cd = '400') --철회정보
        where 1=1
        and AA.bill_id = #{billId}
    </select>
    
    <select id="selectListBillAgree" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.repository.AgreeMapper.selectAgreeList */
        select 
        	  AA.*
        	, case
					when (ep.sign_dt is not null and ep.sign_cnc_dt is null) then
						ep.sign_dt
					else null
				 end as sign_dt 		-- 동의날짜
        from (
			<include refid="_selectBill" />        
		) AA
		join kgst.ebs_proposer ep on (AA.bill_id = ep.bill_id)
			where 1=1
			  and ep.proposer_id = #{loginId}
			  and AA.ppsr_id != #{loginId}
			<if test="naTermCd != null and naTermCd != ''">
				and AA.na_term_cd = #{naTermCd}
			</if>
			<if test="billName != null and billName != ''">
				and AA.bill_name like concat('%', #{billName}, '%')
			</if>
			<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
				and AA.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
			</if>
			<if test="statCd != null and statCd != ''">
				and AA.stat_cd = #{statCd}
			</if>
			<if test="toDate != null and toDate != ''">
				AND AA.ppsl_dt <![CDATA[>=]]> #{toDate}
			</if>
			<if test="fromDate != null and fromDate != ''">
				AND AA.ppsl_dt <![CDATA[<=]]> #{fromDate}
			</if>
			<if test="ppsrNm != null and ppsrNm != ''">
				and AA.ppsr_nm like concat('%', #{ppsrNm}, '%')
			</if>
			order by AA.reg_dt desc
    </select>
    
    
    <select id="selectListBillRevoke" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectListBill */
        select 
        	  AA.* 
        	, emd.reg_dt as revokeRegDt --철회요청날짜
        from (
			<include refid="_selectBill" />
		) AA
		left outer join kgst.ebs_master_detail emd on (AA.bill_id = emd.bill_id and emd.cls_cd = '400') --철회정보
        where 1=1
	        and AA.stat_cd = 'ST020' --철회
		<if test="ppsrId != null and ppsrId != ''">
			and AA.ppsr_id = #{ppsrId}
		</if>
		<if test="naTermCd != null and naTermCd != ''">
			and AA.na_term_cd = #{naTermCd}
		</if>
		<if test="billName != null and billName != ''">
			and AA.bill_name like concat('%', #{billName}, '%')
		</if>
		<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
			and AA.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
		</if>
		<if test="toDate != null and toDate != ''">
			AND AA.ppsl_dt <![CDATA[>=]]> #{toDate}
		</if>
		<if test="fromDate != null and fromDate != ''">
			AND AA.ppsl_dt <![CDATA[<=]]> #{fromDate}
		</if>
	    order by AA.reg_dt desc
    </select>
    
    <select id="selectListBillRevokeAgree" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectListBill */
        select 
        	  AA.* 
        	, case
					when (ep.wt_dt is not null and ep.wt_cnc_dt is null) then
						ep.wt_dt
					else null
				 end as wt_dt 		-- 철회동의날짜
	        , emd.reg_dt as revokeRegDt --철회요청날짜
        from (
			<include refid="_selectBill" />
		) AA
		join kgst.ebs_proposer ep on (AA.bill_id = ep.bill_id)
		left outer join kgst.ebs_master_detail emd on (AA.bill_id = emd.bill_id and emd.cls_cd = '400') --철회정보
        where 1=1
	        and AA.stat_cd = 'ST020' --철회
	        and ep.proposer_id = #{loginId}
		    and AA.ppsr_id != #{loginId}
		    and ep.sign_dt is not null and ep.sign_cnc_dt is null
		<if test="ppsrId != null and ppsrId != ''">
			and AA.ppsr_id = #{ppsrId}
		</if>
		<if test="naTermCd != null and naTermCd != ''">
			and AA.na_term_cd = #{naTermCd}
		</if>
		<if test="billName != null and billName != ''">
			and AA.bill_name like concat('%', #{billName}, '%')
		</if>
		<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
			and AA.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
		</if>
		<if test="toDate != null and toDate != ''">
			AND AA.ppsl_dt <![CDATA[>=]]> #{toDate}
		</if>
		<if test="fromDate != null and fromDate != ''">
			AND AA.ppsl_dt <![CDATA[<=]]> #{fromDate}
		</if>
	    order by AA.reg_dt desc
    </select>
    
    
    <!--
    <select id="selectListApply" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectListApply */

		select
		    AA.bill_id
		  , AA.bill_no
		  , kgst.fngetlangnm(AA.bill_name_kg,AA.bill_name_ru,AA.bill_name_kg,#{lang})  as bill_name
		  , kgst.fngetlangnm(AA.member_nm_kg,AA.member_nm_ru,AA.member_nm_kg,#{lang}) as ppsr_nm
		  , AA.bill_name_kg
		  , AA.bill_name_ru
		  , AA.scl_dsc_rcp_nmb
		  , AA.ppsl_dt
		  , AA.rcp_dt
		  , AA.reg_dt
		  , AA.stat_nm
		  , AA.stat_cd
		  , AA.na_term_cd
		  , kgst.fngetlangnm(AA.etc_kg,AA.etc_ru,AA.etc_kg,#{lang}) as etc
		from (
			select
			    pl.bill_id
			  , max(pl.bill_name_kg ) as bill_name_kg
			  , max(pl.bill_name_ru) as bill_name_ru
			  , max(pl.bill_no) as bill_no
			  , max(pl.bill_kind) as bill_kind
			  , max(pl.scl_dsc_rcp_nmb) as scl_dsc_rcp_nmb
			  , max(pl.na_term_cd ) as na_term_cd
			  , max(pl.ppsr_id) as ppsr_id
			  , max(vum.member_nm_kg) as member_nm_kg
			  , max(vum.member_nm_ru) as member_nm_ru
			  , max(pl.etc_kg) as etc_kg
			  , max(pl.etc_ru) as etc_ru
			  , max(pl.ppsl_dt) as ppsl_dt
			  , max(pl.rcp_dt) as rcp_dt
			  , max(pl.reg_dt) as reg_dt
			  , max(pl.current_step_id) as current_step_id
			  , max(pl.step_id) as step_id
			  , max(pl.task_id) as task_id
			  , max(pl.task_status) as task_status
			  , max(pl.stat_cd) as stat_cd
			  , max(kgst.fngetcodenm('1010',pl.stat_cd,#{lang})) as stat_nm
			from kgst.view_bill_process_list pl
			join kgst.view_user_member vum on (pl.ppsr_id = vum.user_id)
			where 1=1
			  and pl.ppsr_id = #{loginId}
			group by pl.bill_id
		 ) AA
        where 1=1

		<if test="naTermCd != null and naTermCd != ''">
			and AA.na_term_cd = #{naTermCd}
		</if>
		<if test="billName != null and billName != ''">
		    <if test="lang == 'lng_type_1' or lang == 'lng_type_3'">
		    	and AA.bill_name_kg like concat('%', #{billName}, '%')
		    </if>
		    <if test="lang == 'lng_type_2'">
		    	and AA.bill_name_ru like concat('%', #{billName}, '%')
		    </if>
		</if>
		<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
			and AA.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
		</if>
		<if test="statCd != null and statCd != ''">
			and AA.stat_cd = #{statCd}
		</if>
		<if test="toDate != null and toDate != ''">
			AND AA.ppsl_dt <![CDATA[>=]]> #{toDate}
		</if>
		<if test="fromDate != null and fromDate != ''">
			AND AA.ppsl_dt <![CDATA[<=]]> #{fromDate}
		</if>
	    order by AA.reg_dt desc

    </select>
    -->


    <update id="updateApplyByBillId" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateApplyByBillId */
        update kgst.ebs_master
		set
		  bill_name_kg = #{billNameKg}	-- 안건이름kg
		, bill_name_ru = #{billNameRu}  -- 안건이름ru
		, etc_kg = #{etcKg} 			-- 비고kg
		, etc_ru  = #{etcRu} 			-- 비고ru
		<if test="billNo != null">, bill_no = #{billNo} </if>
		<if test="ppslDt != null">, ppsl_dt = #{ppslDt} </if>
		, mod_id = #{loginId}			-- 등록자
		, mod_dt = now()				-- 등록 날짜
		WHERE bill_id = #{billId}
    </update>

    <delete id="deleteApplyByBillId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteApplyByBillId */
    	delete from kgst.ebs_master
        where bill_id = #{billId}
    </delete>

    <insert id="insertProposerList" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertProposerList */

       insert into kgst.ebs_proposer (
			  bill_id 		-- 안건아이디
			, proposer_id	-- 제안자 아이디
			, ord			-- 순서
			, poly_cd		-- 정당 코드
			, poly_nm		-- 정당 이름
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
			<if test="signDt != null"> , sign_dt </if> -- 발의자 서명
		)
		values (
			  #{billId}
			, #{ppsrId}
			, #{ord}
			, #{polyCd}
			, #{polyNm}
			, #{ppsrId}
			, now()
			<if test="signDt != null"> , now() </if>
		)
    </insert>

    <select id="selectApplyDetail" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectApplyDetail */
		select
			  em.bill_name_kg 					-- 안건이름kg
			, em.bill_name_ru  					-- 안건이름ru
			, kgst.fngetlangnm(view.member_nm_kg,view.member_nm_ru,view.member_nm_kg,#{lang}) as member_nm -- 제안자 이름
			, em.ppsr_id  -- 제안자아이디
			, em.etc_kg						-- 비고kg
			, em.etc_ru						-- 비고ru
			, kgst.fngetlangnm(em.etc_kg,em.etc_ru,em.etc_kg,#{lang}) as etc
			, to_char(em.reg_dt, 'DD/MM/YYYY HH24:mi') as regDate -- 등록일
			, em.scl_dsc_rcp_nmb 				-- 사회토론번호
			, em.ppsl_dt 						-- 제안일
			, em.bill_no						-- 안건번호
			, (select emc.cmt_cd from kgst.ebs_master_cmt emc where emc.bill_id = em.bill_id and emc.cmt_se_cd = 'M') as cmt_cd
			, ebi.current_step_id
		from kgst.ebs_master em
		left join kgst.ebs_bp_instance ebi on (em.bill_id = ebi.bill_id)
		left join kgst.view_user_member view on (view.member_id = em.ppsr_id)
		where em.bill_id = #{billId}
    </select>

    <delete id="deleteProposerByBillId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteProposerByBillId */
    	delete from kgst.ebs_proposer
        where bill_id = #{billId}
    </delete>
    
    <update id="updateApplyBill" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateApplyBill */
        update kgst.ebs_master
		set
		  stat_cd = #{statCd}		-- 상태 코드
		WHERE bill_id = #{billId}
    </update>

    <update id="updateRevokeBill" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateRevokeBill */
        update kgst.ebs_master
		set
		  , wt_cn_kg = #{wtCnKg}	-- 철회 사유kg
		  , wt_cn_ru = #{wtCnRu}	-- 철회 사유ru
		WHERE bill_id = #{billId}
    </update>

    <update id="updateBillPpsrRevoke" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillPpsrRevoke */
        update kgst.ebs_proposer
		set
		  wt_cn = now()
		WHERE bill_id = #{billId}
			and proposer_id = #{ppsrId}
    </update>

    <update id="updateBillStatus" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillStatus */
        update kgst.ebs_master
		set
		  stat_cd = #{statCd}		-- 상태 코드
		  <if test="wtCn != null and wtCn != ''"> , wt_cn = #{wtCn} </if> -- 철회 사유
		WHERE bill_id = #{billId}
    </update>

    <select id="getProposerList" parameterType="java.lang.String" resultType="java.lang.String">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.getProposerList */
        select
			  proposer_id -- 제안자 아이디
		from kgst.ebs_proposer ep
		where ep.bill_id = #{billId}
    </select>

    <delete id="deleteProposerByPpsrId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteProposerByBillId */
    	delete from ebs_proposer
        where proposer_id = #{ppsrId}
    </delete>

    <select id="getProposerInfo" parameterType="java.lang.String"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.getProposerInfo */
        select
			  member_id
			, poly_cd
			, poly_nm
		from kgst.com_member
		where member_id = #{memberId}
    </select>

    <insert id="insertBillProcess" parameterType="java.util.HashMap">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertBillProcess */

       insert into kgst.ebs_process (
			  bill_id 		-- 안건아이디
			, proc_id		-- 프로세스 아이디
			, ord			-- 순서
			, poly_cd		-- 정당 코드
			, poly_nm		-- 정당 이름
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
			<if test="signDt != null"> , sign_dt </if> -- 발의자 서명
		)
		values (
			  #{billId}
			, #{ppsrId}
			, #{ord}
			, #{polyCd}
			, #{polyNm}
			, #{regId}
			, now()
			<if test="signDt != null"> , now() </if>
		)
    </insert>

    <insert id="insertHomeLaws" useGeneratedKeys="true" keyProperty="id"
    	parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertHomeLaws */

       insert into kgst.home_laws (
			  title_kg 		-- 안건명 키르
			, title_ru		-- 안건명 러시아
		)
		values (
			  #{billNameKg}
			, #{billNameRu}
		)
    </insert>
    
    <select id="selectBillFileList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.common.file.vo.EbsFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectApplyFileList */
		select
			  ef.seq
		    , ef.bill_id
		    , ef.file_kind_cd
		    , ef.cls_cd
		    , ef.org_file_id
		    , ef.org_file_nm
		    , ef.pdf_file_id
		    , ef.pdf_file_nm
		    , ef.rmk
		    , ef.opb_yn
		    , ef.delete_yn
		    , ef.file_size
		    , ef.reg_id
		    , ef.reg_dt
		    , ef.mod_id
		    , ef.mod_dt
			, ef.detail_seq
		from kgst.ebs_file ef
		where ef.bill_id = #{billId}
			and ef.delete_yn = 'N'
		order by file_kind_cd asc, ef.reg_dt asc
    </select>

    <select id="selectApplyFileList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.common.file.vo.EbsFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectApplyFileList */
		select
			  ef.seq
		    , ef.bill_id
		    , ef.file_kind_cd
		    , ef.cls_cd
		    , ef.org_file_id
		    , ef.org_file_nm
		    , ef.pdf_file_id
		    , ef.pdf_file_nm
		    , ef.rmk
		    , ef.opb_yn
		    , ef.delete_yn
		    , ef.file_size
		    , ef.reg_id
		    , ef.reg_dt
		    , ef.mod_id
		    , ef.mod_dt
			, ef.detail_seq
		from kgst.ebs_file ef
		where ef.bill_id = #{billId}
			and ef.delete_yn = 'N'
		<if test="lang == 'lng_type_1' or lang == 'lng_type_3'">
	    	and file_kind_cd in ('110', '120', '130')
	    </if>
	    <if test="lang == 'lng_type_2'">
	    	and file_kind_cd in ('140', '150', '160')
	    </if>
		order by file_kind_cd asc, ef.reg_dt asc
    </select>

    <update id="updateFileDelete" parameterType="java.util.HashMap">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateFileDelete */
        update kgst.ebs_file
		set
		    mod_id = #{userId}
		  , mod_dt = now()
		  , delete_yn = 'Y'
		WHERE org_file_id = #{ebsFileVo.orgFileId}
    </update>
    
    <update id="deleteBillFileByBillId" parameterType="java.util.HashMap">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteBillFileByBillId */
        update kgst.ebs_file
		set
		    mod_id = #{userId}
		  , mod_dt = now()
		  , delete_yn = 'Y'
		WHERE bill_id = #{billId}
    </update>
    
    <update id="updateFileOpbYn" parameterType="java.util.HashMap">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateFileOpbYn */
        update kgst.ebs_file
		set
		    mod_id = #{userId}
		  , mod_dt = now()
		  , opb_yn = #{ebsFileVo.opbYn}
		WHERE org_file_id = #{ebsFileVo.orgFileId}
    </update>

    <select id="selectBillAll" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.selectBillAll */
		select
		    AA.bill_id
		  , kgst.fngetlangnm(AA.bill_name_kg,AA.bill_name_ru,AA.bill_name_kg,#{lang}) as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) as member_nm -- 제안자 이름
          , AA.scl_dsc_rcp_nmb
          , AA.reg_dt as ppslDt
          , AA.stat_nm
          , AA.stat_cd
          , AA.na_term_cd
          , AA.bill_no
		from (
			select
			   pl.bill_id
			 , max(pl.bill_no) as bill_no
			 , max(pl.bill_name_kg) as bill_name_kg
			 , max(pl.bill_name_ru) as bill_name_ru
			 , max(pl.na_term_cd) as na_term_cd
			 , max(pl.current_step_id) as current_step_id
			 , max(pl.ppsr_id) as ppsr_id
			 , max(pl.ppsl_dt) as ppsl_dt
			 , max(pl.scl_dsc_rcp_nmb) as scl_dsc_rcp_nmb
			 , max(pl.reg_dt) as reg_dt
			 , max(ebs.stat_cd) as stat_cd
			 , kgst.fngetcodenm('1010',max(ebs.stat_cd),#{lang}) as stat_nm
			from kgst.view_bill_process_list pl
			join kgst.ebs_bp_step ebs on (pl.bp_df_id = ebs.bp_df_id and pl.current_step_id = ebs.step_id)
			group by bill_id
		) AA
		join kgst.view_user_member vum on (AA.ppsr_id = vum.user_id)
		where 1=1
			<if test="naTermCd != null and naTermCd != ''">
				and AA.na_term_cd = #{naTermCd}
			</if>
			<if test="billName != null and billName != ''">
			    <if test="lang == 'lng_type_1' or lang == 'lng_type_3'">
			    	and AA.bill_name_kg like concat('%', #{billName}, '%')
			    </if>
			    <if test="lang == 'lng_type_2'">
			    	and AA.bill_name_ru like concat('%', #{billName}, '%')
			    </if>
			</if>
			<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
				and AA.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
			</if>
			<if test="statCd != null and statCd != ''">
				and AA.stat_cd = #{statCd}
			</if>
	    order by AA.reg_dt desc
    </select>


    <update id="updateBillHome" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillHome */
        update kgst.ebs_master
		set
		    mod_id = #{modId}
		  , mod_dt = now()
		<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
			<choose>
				<when test="sclDscRcpNmb == 'stop'">
					, scl_dsc_rcp_nmb = ''
				</when>
				<otherwise>
					, scl_dsc_rcp_nmb  = #{sclDscRcpNmb}		-- 상태 사회토론번호
				</otherwise>
			</choose>
		</if>
		WHERE bill_id = #{billId}
    </update>

    <!-- Reception request date update -->
    <update id="updateBillRecptnDt" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillHome */
        update kgst.ebs_master
		set
		    rcp_req_dt  = to_char(now(),'YYYYMMDD')		-- Reception request date
		  , mod_id = #{modId}
		  , mod_dt = now()
		WHERE bill_id = #{billId}
    </update>

</mapper>