<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper">

    <insert id="insertApplyBill" useGeneratedKeys="true" keyProperty="billId"
     		parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertApplyBill */    
        
       insert into ebs_master (
			  bill_id 		-- 안건아이디
			<if test="billKind != null">, bill_kind	</if>	-- 안건 종류
			, na_term_cd	-- 대수
			, ppsl_knd_cd	-- 제안자 종류
			, bill_name_kg	-- 안건이름kg
			, bill_name_ru  -- 안건이름ru
			, stat_cd		-- 상태코드
			, ppsr_id		-- 제안자 아이디
			, ppsr_nm		-- 제안자 이름
			, ppsl_dt		-- 제안날짜
			<if test="billTy != null">, bill_ty	</if>	-- 제개정타입
			<if test="lawId != null"> , law_id </if> -- 법률아이디
			<if test="etcKg != null"> , etc_kg </if> -- 비고kg
			<if test="etcRu != null"> , etc_ru </if> -- 비고ru
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
		)
		values (
			  #{billId}
			<if test="billKind != null">, #{billKind} </if>
			, #{naTermCd}
			, #{ppslKndCd}
			, #{billNameKg}
			, #{billNameRu}
			, #{statCd}
			, #{ppsrId}
			, #{ppsrNm}
			, now()
			<if test="billTy != null">, #{billTy} </if>
			<if test="lawId != null">, #{lawId} </if>
			<if test="etcKg != null">, #{etcKg} </if>
			<if test="etcRu != null">, #{etcRu} </if>
			, #{regId}
			, now()
		)
    </insert>
    
    <select id="getApplyList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.getApplyList */
        select 
			  bill_id 		-- 안건아이디
			, bill_name_kg 	-- 안건이름kg
			, bill_name_ru  -- 안건이름ru
			, ppsr_nm 		-- 제안자 이름
			, ppsl_dt 		-- 제안날짜
			, stat_cd 		-- 상태코드
		from ebs_master em
		where 1=1
			<if test="billName != null and billName != ''">
				and (em.bill_name_ru like concat('%', #{billName}, '%') or em.bill_name_kg like concat('%', #{billName}, '%'))
			</if>
			<if test="statCd != null and statCd != ''">
				and em.stat_cd = #{statCd}
			</if>
			<if test="ppslDt != null and ppslDt != ''">
				and em.ppsl_dt <![CDATA[>=]]> #{ppslDt}
			</if>
			<!-- <if test="startDt != null and startDt != ''">
				and em.ppsl_dt <![CDATA[>=]]> #{startDt}
			</if>
			<if test="endDt != null and endDt != ''">
				and em.ppsl_dt <![CDATA[<=]]> #{endDt}
			</if> -->
    </select>
    
    <update id="updateApplyByBillId" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateApplyByBillId */
        update ebs_master 
		set
		  bill_kind = #{billKind}		-- 안건 종류
		, bill_name_kg = #{billNameKg}	-- 안건이름kg
		, bill_name_ru = #{billNameRu}  -- 안건이름ru
		, bill_ty = #{billTy}			-- 제개정타입
		<if test="lawId != null"> , law_id = #{lawId} </if> -- 법률아이디
		<if test="etcKg != null"> , etc_kg = #{etcKg} </if> -- 비고kg
		<if test="etcRu != null"> , etc_ru  = #{etcRu}</if> -- 비고ru
		, mod_id = #{modId}				-- 등록자
		, mod_dt = now()				-- 등록 날짜
		WHERE bill_id = #{billId}
    </update>
    
    <delete id="deleteApplyByBillId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteApplyByBillId */
    	delete from ebs_master
        where bill_id = #{billId}
    </delete>
    
    <insert id="insertProposerList" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.insertProposerList */    
        
       insert into ebs_proposer (
			  bill_id 		-- 안건아이디
			, proposer_id	-- 제안자 아이디
			, ord			-- 순서
			, poly_cd		-- 정당 코드
			, poly_nm		-- 정당 이름
			, reg_id		-- 등록자
			, reg_dt		-- 등록 날짜
			<if test="signDt != null"> , sign_dt </if> -- 발의자 서명
		)
		values (
			  #{billId}
			, #{ppsrId}
			, #{ord}
			, #{polyCd}
			, #{polyNm}
			, #{regId}
			, now()
			<if test="signDt != null"> , now() </if>
		)
    </insert>
    
    <select id="getApplyDetail" parameterType="java.lang.String"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.getApplyDetail */
		select 
			  bill_name_kg 	-- 안건이름kg
			, bill_name_ru  -- 안건이름ru
			, ppsr_nm 		-- 제안자 이름
			, etc_kg 		-- 비고kg
			, etc_ru 		-- 비고ru
			, to_char(reg_dt, 'DD-MM-YYYY HH:mm') as regDate -- 등록일
		from ebs_master em
		where em.bill_id = #{billId}
    </select>
    
    <delete id="deleteProposerByBillId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteProposerByBillId */
    	delete from ebs_proposer
        where bill_id = #{billId}
    </delete>
    
    <update id="updateApplyBill" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateApplyBill */
        update ebs_master 
		set
		  stat_cd = #{statCd}		-- 상태 코드
		WHERE bill_id = #{billId}
    </update>
    
    <update id="updateRevokeBill" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateRevokeBill */
        update ebs_master 
		set
		  stat_cd = #{statCd}		-- 상태 코드
		  , wt_cn = #{wtCn}			-- 철회 사유
		WHERE bill_id = #{billId}
    </update>
    
    <update id="updateBillStatus" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.vo.ApplyVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillStatus */
        update ebs_master 
		set
		  stat_cd = #{statCd}		-- 상태 코드
		  <if test="wtCn != null and wtCn != ''"> , wt_cn = #{wtCn} </if> -- 철회 사유
		WHERE bill_id = #{billId}
    </update>
    
    <select id="getProposerList" parameterType="java.lang.String" resultType="java.lang.String">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.getProposerList */
        select 
			  proposer_id -- 제안자 아이디
		from ebs_proposer ep
		where ep.bill_id = #{billId}
    </select>
    
    <delete id="deleteProposerByPpsrId" parameterType="java.lang.String">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.deleteProposerByBillId */
    	delete from ebs_proposer
        where proposer_id = #{ppsrId}
    </delete>
    
</mapper>