<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.form.repository.FormMapper">

    <select id="selectFormList" resultType="kr.co.bestiansoft.ebillservicekg.form.vo.FormVo">
        select
          form_id --서식 식별자
        , file_id --파일 식별자
        , file_nm --파일명
        , form_title --서식제목
        , form_cn --서식내용
        , reg_id --등록식별자
        , reg_dt --등록일자
        , pdf_file_id --pdf식별자
        from kgst.com_form
    </select>


    <insert id="insertForm" useGeneratedKeys="true" keyProperty="formId" parameterType="kr.co.bestiansoft.ebillservicekg.form.vo.FormWithFieldsVo">
        insert into kgst.com_form (
              file_id
            , file_nm
            , form_title
            , form_cn
            , reg_id
            , reg_dt
            , pdf_file_id
        )
        values (
              #{fileId}
            , #{fileNm}
            , #{formTitle}
            , #{formCn}
            , #{regId}
            , now()
            , #{pdfFileId}
        )
    </insert>

    <select id="selectFormDetail" parameterType="int" resultType="kr.co.bestiansoft.ebillservicekg.form.vo.FormWithFieldsVo">
        select
              form_id
            , file_id
            , file_nm
            , form_title
            , form_cn
            , reg_id
            , reg_dt
            , pdf_file_id
        from kgst.com_form
        where form_id = #{formId}
    </select>

    <delete id="deleteForm" parameterType="java.lang.Integer">
        delete from kgst.com_form
        where form_id = #{formId}
    </delete>

</mapper>
