<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.asset.manual.repository.MnulMapper">

    <select id="getMnulListByEquipIds" parameterType="java.util.List" resultType="kr.co.bestiansoft.ebillservicekg.asset.manual.vo.MnulVo">
        select
              mnl_id
            , eqpmnt_id
            , mnl_se
            , seq
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
            , mnl_lng
            , mnl_nm
        from ams_mnl
        where 1=1
        <if test="eqpmntIds.size() > 0">
            and eqpmnt_id in
            <foreach collection="eqpmntIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="getMnulListByEqpmntId" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.asset.manual.vo.MnulVo">
        select
              mnl_id
            , eqpmnt_id
            , mnl_se
            , seq
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
            , mnl_lng
            , mnl_nm
        from ams_mnl
        where eqpmnt_id = #{eqpmntId}
        <if test="videoYn != null">
            <if test="videoYn == 'video'">
                and mnl_se = #{videoYn}
            </if>
            <if test="videoYn == 'file'">
                and mnl_se = #{videoYn}
            </if>
        </if>
        order by seq
    </select>

    <select id="getVideoByMnlId" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.asset.manual.vo.MnulVo">
        select
              mnl_id
            , eqpmnt_id
            , mnl_se
            , seq
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
            , mnl_lng
            , mnl_nm
        from ams_mnl
        where mnl_id = #{mnlId} and mnl_se = 'video'
        order by seq
    </select>
    
    <select id="getMnlByFileNm" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.manual.vo.MnulVo">
        select
              mnl_id
            , eqpmnt_id
            , mnl_se
            , seq
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
            , mnl_lng
            , mnl_nm
        from ams_mnl
        where file_nm = #{fileNm}
    </select>
    
    <insert id="createMnul" parameterType="java.util.List">
        insert into ams_mnl (
              mnl_id
            , eqpmnt_id
            , mnl_se
            , seq
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
            , mnl_lng
            , mnl_nm
            , reg_dt
            , rgtr_id
        )
        <foreach collection="list" item="vo" open="VALUES" separator="," >
            (
              #{vo.mnlId}
            , #{vo.eqpmntId}
            , #{vo.mnlSe}
            , #{vo.seq}
            , #{vo.filePath}
            , #{vo.fileNm}
            , #{vo.orgnlFileNm}
            , #{vo.fileExtn}
            , #{vo.fileSz}
            , #{vo.mnlLng}
            , #{vo.mnlNm}
            , now()
            , #{vo.rgtrId}
            )
        </foreach>

    </insert>

    <delete id="deleteMnul" parameterType="java.lang.String">
        delete from ams_mnl
        where eqpmnt_id = #{eqpmntId}
    </delete>

    <delete id="deleteMnulById" parameterType="java.lang.String">
        delete from ams_mnl
        where mnl_id = #{mnlId}
    </delete>
    
    <delete id="deleteNotIn">
	    DELETE FROM ams_mnl
	    WHERE eqpmnt_id = #{eqpmntId}
	    <if test="instlIdList != null and instlIdList.size() > 0">
	        AND mnl_id NOT IN
	        <foreach item="id" collection="mnlIdList" open="(" separator="," close=")">
	            #{id}
	        </foreach>
	    </if>
	</delete>


    <update id="upsertMnul" parameterType="kr.co.bestiansoft.ebillservicekg.asset.manual.vo.MnulVo">
        insert into ams_mnl (
              mnl_id
            , eqpmnt_id
            , mnl_se
            , seq
            , file_path
            , file_nm
            , orgnl_file_nm
            , file_extn
            , file_sz
            , mnl_lng
            , mnl_nm
            , reg_dt
            ) values (
              #{mnlId}
            , #{eqpmntId}
            , #{mnlSe}
            , #{seq}
            , #{filePath}
            , #{fileNm}
            , #{orgnlFileNm}
            , #{fileExtn}
            , #{fileSz}
            , #{mnlLng}
            , #{mnlNm}
            , now()
            , #{rgtrId}
            )
        on conflict (mnl_id)
        do update set
              mnl_se = excluded.mnl_se
            , seq = excluded.seq
            , file_path = excluded.file_path
            , file_nm = excluded.file_nm
            , orgnl_file_nm = excluded.orgnl_file_nm
            , file_extn = excluded.file_extn
            , file_sz = excluded.file_sz
            , mnl_lng = excluded.mnl_lng
            , mnl_nm = excluded.mnl_nm
            , mdfcn_dt = now()
            , mdfr_id = #{mdfrId}
        where ams_mnl.mnl_id = excluded.mnl_id
    </update>
</mapper>