<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.lngCode.repository.LngCodeMapper">

    <select id="selectListLngCode" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.admin.lngCode.vo.LngCodeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.lngCode.repository.LngCodeMapper.selectListLngCode */
        select
              row_number() over(order by reg_dt desc) as num
            , lng_id --언어아이디
            , lng_ty1 --언어명(키르기스어)
            , lng_ty2 --언어명(러시아어)
            , lng_ty3 --언어명(한국어)
            , rmk --비고
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        from com_lng_code
        where 1=1
        <if test="search != null and search != ''">
            <choose>
                <when test="lang = 'lng_type_1'">
                    and lng_ty1 like concat('%', #{search}, '%')
                </when>
                <when test="lang = 'lng_type_2'">
                    and lng_ty2 like concat('%', #{search}, '%')
                </when>
            </choose>
        </if>
        order by reg_dt desc
    </select>

    <insert id="insertLngCode" parameterType="kr.co.bestiansoft.ebillservicekg.admin.lngCode.vo.LngCodeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.lngCode.repository.LngCodeMapper.insertLngCode */
        <selectKey keyProperty="lngId" resultType="java.lang.Long" order="BEFORE">
            select coalesce(max(lng_id) + 1, 10000) from com_lng_code
        </selectKey>
        insert into com_lng_code (
              lng_id
            , lng_ty1
            , lng_ty2
            , lng_ty3
            , rmk
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        values (
              #{lngId}
            , #{lngTy1}
            , #{lngTy2}
            , #{lngTy3}
            , #{rmk}
            , #{regId}
            , now()
            , null
            , null
        )
    </insert>

    <update id="updateLngCode" parameterType="kr.co.bestiansoft.ebillservicekg.admin.lngCode.vo.LngCodeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.lngCode.repository.LngCodeMapper.updateLngCode */
        update com_lng_code
        set
              lng_ty1 = #{lngTy1}
            , lng_ty2 = #{lngTy2}
            , lng_ty3 = #{lngTy3}
            , rmk = #{rmk}
            , mod_id = #{modId}
            , mod_dt = now()
        where lng_id = #{lngId}
    </update>

    <delete id="deleteLngCode" parameterType="java.lang.Long">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.lngCode.repository.LngCodeMapper.deleteLngCode */
        delete from com_lng_code
        where lng_id = #{lngId}
    </delete>

    <select id="selectLngCode" parameterType="java.lang.Long">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.lngCode.repository.LngCodeMapper.selectLngCode */
        select
              row_number() over(order by reg_dt desc) as num
            , lng_id
            , lng_ty1
            , lng_ty2
            , lng_ty3
            , rmk
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        from com_lng_code
        where lng_id = #{lngId}
    </select>

</mapper>