<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.asset.bzenty.repository.BzentyMapper">

    <select id="selectListBzenty" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.asset.bzenty.vo.BzentyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.asset.bzenty.repository.selectListBzenty */
		SELECT
			bzenty_id
			, bzenty_nm_1
			, bzenty_nm_2
			, bzenty_nm_3
			, telno
			, eml
			, pic_nm
			, use_yn
			, reg_dt
			, rgtr_id
			, mdfcn_dt
			, mdfr_id
		FROM
			ams_bzenty
		where 1=1
		<if test="bzentyNm != null and bzentyNm !=''">
		    <choose>
		        <when test="lang == 'lng_type_1'">
		            and bzenty_nm_1 like concat('%', #{bzentyNm}, '%')
		        </when>
		        <when test="lang == 'lng_type_2'">
		            and bzenty_nm_2 like concat('%', #{bzentyNm}, '%')
		        </when>
		        <otherwise>
		            and bzenty_nm_3 like concat('%', #{bzentyNm}, '%')
		        </otherwise>
		    </choose>
		</if>
		order by reg_dt desc
    </select>
    <select id="selectBzenty" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.bzenty.vo.BzentyVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.asset.bzenty.repository.selectBzenty */
		SELECT
			bzenty_id
			, bzenty_nm_1
			, bzenty_nm_2
			, bzenty_nm_3
			, telno
			, eml
			, pic_nm
			, use_yn
			, reg_dt
			, rgtr_id
			, mdfcn_dt
			, mdfr_id
		FROM
			ams_bzenty
		where bzenty_id = #{bzentyId}
    </select>
    
    <insert id="insertBzenty" parameterType="kr.co.bestiansoft.ebillservicekg.asset.bzenty.vo.BzentyVo">
        
        INSERT INTO ams_bzenty (
			bzenty_id
			, bzenty_nm_1
			, bzenty_nm_2
			, bzenty_nm_3
			, telno
			, eml
			, pic_nm
			, use_yn
			, rgtr_id
			, reg_dt
			, mdfcn_dt
			, mdfr_id
		) VALUES (
			#{bzentyId},
			#{bzentyNm1},
			#{bzentyNm2},
			#{bzentyNm3},
			#{telno},
			#{eml},
			#{picNm},
			#{useYn},
			#{rgtrId},
            now(),
            null,
            null
		)
    </insert>
    
    <update id="updateBzenty" parameterType="kr.co.bestiansoft.ebillservicekg.asset.bzenty.vo.BzentyVo">
        update ams_bzenty
        set
              bzenty_nm_1 = #{bzentyNm1}
            , bzenty_nm_2 = #{bzentyNm2}
            , bzenty_nm_3 = #{bzentyNm3}
            , telno = #{telno}
            , eml = #{eml}
            , pic_nm = #{picNm}
            , use_yn = #{useYn}
            , mdfcn_dt = now()
            , mdfr_id = #{mdfrId}
        where bzenty_id = #{bzentyId}
    </update>
    
    <delete id="deleteBzenty" parameterType="java.lang.String" >
        delete from ams_bzenty
        where bzenty_id = #{bzentyId}
    </delete>

</mapper>