<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper">
    <select id="selectListUser" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper.selectListUser */
        select
              cu.dept_cd --부서코드
            , cu.email --이메일
            , cu.gen_cd --성별(M,F)
            , cu.profile_img_path --프로필이미지경로
            , cu.job_cd --직급코드
            , cu.msg_rcv_yn --메세지수신여부
            , cu.pos_cd
            , cu.user_id --직원아이디
            , kgst.fngetlangnm(cu.user_nm_kg,cu.user_nm_ru,cu.user_nm_kg,#{lang}) as user_nm
            , cu.user_nm_kg --이름(키르키즈어)
            , cu.user_nm_ru --이름(러시아어)
            , cu.dept_head_yn --부서장여부
            , cu.doc_mgr_yn --문서관리자여부
            , cu.reg_id
            , cu.reg_dt
            , cu.mod_id
            , cu.mod_dt
            , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm1,#{lang}) as dept_nm
            , kgst.fngetlangnm(cc.code_nm1,cc.code_nm2,cc.code_nm1,#{lang}) as job_nm
        from com_user cu
        left join com_dept cd on cd.dept_cd = cu.dept_cd
        left join com_code_detail cc on cc.code_id = cu.job_cd
        where 1=1
        <if test="userNm != null and userNm !=''">
            <choose>
                <when test="lang == 'lng_type_2'">
                    and cu.user_nm_ru like concat('%', #{userNm}, '%')
                </when>
                <otherwise>
                    and cu.user_nm_kg like concat('%', #{userNm}, '%')
                </otherwise>
            </choose>
        </if>
        <if test="deptCd != null and deptCd !=''">
            and cu.dept_cd = #{deptCd}
        </if>
        order by reg_dt desc
    </select>

    <select id="selectListUserByDept" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserMemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper.selectListUserByDept */
        select
              view.user_id
            , kgst.fngetlangnm(view.user_nm_kg,view.user_nm_ru,view.user_nm_kg,#{lang}) as user_nm
            , view.dept_cd
            , kgst.fngetlangnm(view.dept_nm_kg,view.dept_nm_ru,view.dept_nm_kg,#{lang}) as dept_nm
            , view.email
            , view.gen_cd
            , view.job_cd
            , kgst.fngetlangnm(cc.code_nm1,cc.code_nm2,cc.code_nm1,#{lang}) as job_nm
            , view.pos_cd
            , view.age_cd
            , view.cmit_cd
            , kgst.fngetlangnm(view.cmit_nm_kg,view.cmit_nm_ru,view.cmit_nm_kg,#{lang}) as cmit_nm
            , view.poly_cd
            , view.poly_nm
        from kgst.view_user_member view
        left join com_code_detail cc on cc.code_id = view.job_cd
        left join com_ccof cf on cf.user_id = view.user_id
        where 1=1
        <if test="deptCd != null and deptCd != ''">
            AND (view.dept_cd = #{deptCd} OR view.poly_cd = #{deptCd} OR view.cmit_cd = #{deptCd} or cf.dept_cd = #{deptCd})
        </if>
    </select>


    <select id="userDetail" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserMemberVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper.userDetail */
        select
              view.user_id
            , view.user_nm_kg
            , view.user_nm_ru
            , view.dept_cd
            , kgst.fngetlangnm(view.dept_nm_kg,view.dept_nm_ru,view.dept_nm_kg,#{lang}) as dept_nm
            , view.email
            , view.gen_cd
            , view.job_cd
            , view.msg_rcv_yn
            , kgst.fngetlangnm(cc.code_nm1,cc.code_nm2,cc.code_nm1,#{lang}) as user_nm
            , view.pos_cd
            , view.age_cd
            , view.cmit_cd
            , kgst.fngetlangnm(view.cmit_nm_kg,view.cmit_nm_ru,view.cmit_nm_kg,#{lang}) as cmit_nm
            , view.poly_cd
            , view.poly_nm
            , cm.mbl_no
            , (case when view.user_id in (select cu.user_id from com_user cu) then 'user'
                    when view.member_id in (select comm.member_id from com_member comm) then 'member'
                end) as type
            , view.profile_img_path
        from kgst.view_user_member view
        left join com_code_detail cc on cc.code_id = view.job_cd
        left join com_member cm on cm.member_id = view.user_id
        where view.user_id = #{userId}
    </select>



    <select id="selectUser" parameterType="java.lang.Long" resultType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper.selectUser */
        select
              cu.seq
            , cu.dept_cd --부서코드
            , cu.email --이메일
            , cu.gen_cd --성별(M,F)
            , cu.profile_img_path --프로필이미지경로
            , cu.job_Cd --직급코드
            , cu.msg_rcv_yn --메세지수신여부
            , cu.pos_cd
            , cu.user_id --직원아이디
            , cu.user_nm_kg --이름(키르키즈어)
            , cu.user_nm_ru --이름(러시아어)
            , cu.dept_head_yn --부서장여부
            , cu.doc_mgr_yn --문서관리자여부
            , cu.reg_id
            , cu.reg_dt
            , cu.mod_id
            , cu.mod_dt
            , kgst.fngetlangnm(cd.dept_nm1,cd.dept_nm2,cd.dept_nm_3,#{lang}) as dept_nm
        from com_user cu
        inner join com_dept cd on cd.dept_cd = cu.dept_cd
        where seq = #{seq}
    </select>

    <insert id="insertUser" parameterType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper.insertUser */
        insert into com_user (
              dept_cd --부서코드
            , email --이메일
            , gen_cd --성별(M,F)
            , profile_img_path --프로필이미지경로
            , job_Cd --직급코드
            , msg_rcv_yn --메세지수신여부
            , pos_cd
            , user_id --직원아이디
            , user_nm_kg --이름(키르키즈어)
            , user_nm_ru --이름(러시아어)
            , dept_head_yn --부서장여부
            , doc_mgr_yn --문서관리자여부
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        values (
              #{deptCd}
            , #{email}
            , #{genCd}
            , #{profileImgPath}
            , #{jobCd}
            , #{msgRcvYn}
            , #{posCd}
            , #{userId}
            , #{userNmKg}
            , #{userNmRu}
            , #{deptHeadYn}
            , #{docMgrYn}
            , #{regId}
            , now()
            , null
            , null
        )
    </insert>

    <update id="updateUser" parameterType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper.updateUser */
        update com_user
        set
              dept_cd = #{deptCd}
            , email = #{email}
            , gen_cd = #{genCd}
            , profile_img_path = #{profileImgPath}
            , job_Cd = #{jobCd}
            , msg_rcv_yn = #{msgRcvYn}
            , pos_cd = #{posCd}
            , user_id = #{userId}
            , user_nm_kg = #{userNmKg}
            , user_nm_ru = #{userNmRu}
            , dept_head_yn = #{deptHeadYn}
            , doc_mgr_yn = #{docMgrYn}
            , mod_id = #{modId}
            , mod_dt = now()
        where user_id = #{userId}
    </update>

    <delete id="deleteUser" parameterType="java.lang.String">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.user.repository.UserMapper.deleteUser */
        delete from com_user
        where user_id = #{userId}
    </delete>

    <update id="updateMyInfoMember" parameterType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserMemberVo">
        update com_member
        set
              email = #{email}
            , msg_rcv_yn = #{msgRcvYn}
            , profile_img_path = #{profileImgPath}
            , mbl_no = #{mblNo}
        where member_id = #{memberId}
    </update>

    <update id="updateMyInfoUser" parameterType="kr.co.bestiansoft.ebillservicekg.admin.user.vo.UserMemberVo">
        update com_user
        set
              email = #{email}
            , msg_rcv_yn = #{msgRcvYn}
            , profile_img_path = #{profileImgPath}
        where user_id = #{userId}
    </update>

</mapper>