<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.common.file.repository.ComFileMapper">

	<insert id="insertFile" parameterType="kr.co.bestiansoft.ebillservicekg.common.file.vo.ComFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.insertFile */
		insert into kgst.com_file (
			  file_id
			, file_group_id
			, org_file_nm
			, file_size
			, file_div
			, upload_yn
			, delete_yn
			, reg_id
			, reg_dt
		) values (
			  #{fileId}
			, #{fileGroupId}
			, #{orgFileNm}
			, #{fileSize}
			, #{fileDiv}
			, #{uploadYn}
			, 'N'
			, #{regId}
			, now()
		)
    </insert>
    
    <select id="findByFileGroupId" resultType="kr.co.bestiansoft.ebillservicekg.common.file.vo.ComFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.findByFileGroupId */
		select
			  file_id
			, file_group_id
			, org_file_nm
			, file_size
			, file_div
			, upload_yn
			, delete_yn
			, reg_id
			, reg_dt
			, mod_id
			, mod_dt
		from
			kgst.com_file
		where 1=1
		and file_group_id = #{fileGroupId} 
	</select>
	
	<select id="findByFileId" resultType="kr.co.bestiansoft.ebillservicekg.common.file.vo.ComFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.findByFileId */
		select
			  file_id
			, file_group_id
			, org_file_nm
			, file_size
			, file_div
			, upload_yn
			, delete_yn
			, reg_id
			, reg_dt
			, mod_id
			, mod_dt
		from
			kgst.com_file
		where 1=1
		and file_id = #{fileId} 
	</select>
	
	<select id="batchGetDeleteFileList" resultType="kr.co.bestiansoft.ebillservicekg.common.file.vo.ComFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.batchGetDeleteFileList */
		select * from com_file where delete_yn = 'Y'
	</select>
	
	<delete id="deleteServerFile">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.deleteServerFile */
		delete from com_file where file_id = #{fileId} 
	</delete>
	
	<insert id="insertFileEbs" parameterType="kr.co.bestiansoft.ebillservicekg.common.file.vo.EbsFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.insertFileEbs */
		insert into kgst.ebs_file (
			  bill_id
			, file_kind_cd
			, org_file_id
			, org_file_nm
			, pdf_file_id
			, pdf_file_nm
			, rmk
			, opb_yn
			, delete_yn
			, file_size
			, reg_id
			, reg_dt
		)
		values (
			  #{billId}
			, #{fileKindCd}
			, #{orgFileId}
			, #{orgFileNm}
			, #{pdfFileId}
			, #{pdfFileNm}
			, #{rmk}
			, #{opbYn}
			, 'N'
			, #{fileSize}
			, #{regId}
			, now()
		)
    </insert>
    
    <update id="updateFileEbs" parameterType="kr.co.bestiansoft.ebillservicekg.common.file.vo.EbsFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.common.file.repository.FileMapper.updateFileEbs */
		update kgst.ebs_file
		SET mod_dt = now()
		  , mod_id = #{modId}
		  <if test="billId != null"> , bill_id = #{billId} </if>
		  <if test="fileKindCd != null"> , file_kind_cd = #{fileKindCd} </if>
		  <if test="orgFileNm != null"> , org_file_nm = #{orgFileNm} </if>
		  <if test="pdfFileId != null"> , pdf_file_id = #{pdfFileId} </if>
		  <if test="pdfFileNm != null"> , pdf_file_nm = #{pdfFileNm} </if>
		  <if test="rmk != null"> , rmk = #{rmk} </if>
		  <if test="opbYn != null"> , opb_yn = #{opbYn} </if>
		  <if test="deleteYn != null"> , delete_yn = #{deleteYn} </if>
		  <if test="fileSize != null"> , file_size = #{fileSize} </if>
		where
			org_file_id = #{orgFileId};
    </update>
    
</mapper>