<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.asset.faq.repository.FaqMapper">
    <insert id="insertFaq" parameterType="kr.co.bestiansoft.ebillservicekg.asset.faq.vo.FaqVo">
            insert into ams_faq (
					faq_id
					,eqpmnt_id
					,faq_se
					,qstn
					,ans
					,seq
					,reg_dt
					,rgtr_id )
        <foreach collection="faqVoList" item="vo" open="VALUES" separator=",">
            (
                  #{vo.faqId}
                , #{vo.eqpmntId}
                , #{vo.faqSe}
                , #{vo.qstn}
                , #{vo.ans}
                , #{vo.seq}
                , now()
                , #{vo.rgtrId}
            )
        </foreach>
    </insert>

    <select id="getFaqList" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.faq.vo.FaqVo">
        select
			faq_id
			, eqpmnt_id
			, faq_se
			, qstn
			, ans
			, seq
			, ccd.code_nm1 as faq_se_nm_1
            , ccd.code_nm2 as faq_se_nm_2
            , ccd.code_nm3 as faq_se_nm_3
		from
			ams_faq ast
			left join kgst.com_code_detail ccd on ccd.code_id = ast.faq_se
		where ast.eqpmnt_id = #{eqpmntId}
    </select>
    
    <update id="updateFaq" parameterType="kr.co.bestiansoft.ebillservicekg.asset.faq.vo.FaqVo">

            UPDATE ams_faq SET
            	 faq_se = #{faqSe}
            	, qstn = #{qstn}
            	, ans = #{ans}
            	, seq = #{seq}
            	, mdfcn_dt = now()
            	, mdfr_id = #{mdfrId}
			WHERE faq_id = #{faqId}


    </update>

    <select id="deleteFaq" parameterType="java.lang.String">
        delete from ams_faq
        where eqpmnt_id = #{eqpmntId}
    </select>

    <delete id="deleteFaqById" parameterType="java.lang.String">
        delete from ams_faq
        where faq_id = #{faqId}
    </delete>
</mapper>