<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.test.repository2.TestMapper">

	<insert id="insertTest" parameterType="kr.co.bestiansoft.ebillservicekg.test.vo.TestVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.test.repository.TestMapper.insertTest */
		INSERT INTO homepage.ebs_table (
			  title
			, contents
		)
		VALUES (
			  #{title}
			, #{contents}
		)
    </insert>
    
    <select id="selectTest" resultType="kr.co.bestiansoft.ebillservicekg.test.vo.TestVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.test.repository.TestMapper.selectTest */
		SELECT 
			  seq
			, title
			, contents
		FROM homepage.ebs_table
		WHERE 1=1
	</select>
	
</mapper>