<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.repository.AgreeMapper">

    <select id="selectAgreeList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.vo.AgreeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.repository.AgreeMapper.selectAgreeList */
        select 
			em.bill_id 				-- 안건아이디
			, case
				when #{lang} = 'langTy1' then em.bill_name_kg 
				when #{lang} = 'langTy2' then em.bill_name_ru 
				else em.bill_name_kg 
			end as bill_name		-- 안건이름
			, cm.member_nm_kg as ppsrNm	-- 제안자
			, case
				when (ep.sign_dt is not null and ep.sign_cnc_dt is null) then to_char(ep.sign_dt, 'DD/MM/YYYY')	
				else null
			 end as signDate 		-- 동의날짜
		    , scl_dsc_rcp_nmb 		-- 사회토론번호
		    , to_char(em.reg_dt, 'DD/MM/YYYY') as regDate
		from ebs_proposer ep
			left join ebs_master em on em.bill_id = ep.bill_id 
			left join com_member cm on cm.member_id = ep.proposer_id 
		where em.ppsr_id != ep.proposer_id 
			and ep.proposer_id = #{loginId}
			and em.na_term_cd = '14'
		<if test="billName != null and billName != ''">
			and case
		        when #{lang} = 'langTy1' then em.bill_name_kg
		        when #{lang} = 'langTy2' then em.bill_name_ru
		        else em.bill_name_kg
		    end like concat('%', #{billName}, '%')
		</if>
		<if test="ppslDt != null and ppslDt != ''">
			and em.reg_dt::date = #{ppslDt}
		</if>
		<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
			and em.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
		</if>
    </select>
    
    <select id="selectAgreeDetail" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.vo.AgreeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.repository.AgreeMapper.selectAgreeDetail */
		select 
			case
				when #{lang} = 'langTy1' then em.bill_name_kg 
				when #{lang} = 'langTy2' then em.bill_name_ru 
				else em.bill_name_kg 
			end as bill_name		--안건이름
			, case					
				when #{lang} = 'langTy1' then em.etc_kg 
				when #{lang} = 'langTy2' then em.etc_ru 
				else em.etc_kg 
			end as etc				--비고
			, cm.member_nm_kg 		--제안자
			, to_char(em.reg_dt, 'DD/MM/YYYY HH:MM') as regDate
			, case
				when (ep.sign_dt is not null and ep.sign_cnc_dt is null) then 'Y'
				else 'N'
			 end as agreeYn 		--동의여부
			, scl_dsc_rcp_nmb 		--사회토론번호
		from ebs_proposer ep
			left join ebs_master em on em.bill_id = ep.bill_id 
			left join com_member cm on cm.member_id = em.ppsr_id 
		where 
			em.bill_id = #{billId}
			and ep.proposer_id = #{userId}
    </select>
    
    <select id="selectAgreeProposerList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.vo.AgreeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.agree.repository.AgreeMapper.selectAgreeProposerList */
		select 
			ep.proposer_id					-- 제안자 대상
			, case
				when (ep.sign_dt is not null and ep.sign_cnc_dt is null) then 'Y'
				else 'N'
			 end as agreeYn 				-- 동의여부
			, cm.member_nm_kg				-- 의원이름
			, cm.poly_nm  					-- 정당이름
			, cm.poly_cd 					-- 정당코드
		from ebs_proposer ep
			left join com_member cm on cm.member_id = ep.proposer_id 
		where 
			ep.bill_id = #{billId}
    </select>
    
    <update id="updateBillAgree" parameterType="java.util.HashMap">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.apply.repository.ApplyMapper.updateBillAgree */
		update ebs_proposer 
		set 
			mod_id = #{modId} 			-- 수정자 아이디
			, mod_dt = now()			-- 수정날짜
			<if test='agreeYn == "N"'> 	-- 서명 취소
			, sign_cnc_dt = now()
			</if>
			<if test='agreeYn == "Y"'> 	-- 서명 동의 
			, sign_dt = now()
			, sign_cnc_dt = null
			</if>
		where 
			bill_id = #{billId}
			and proposer_id = #{userId}
    </update>

    
</mapper>