<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.authMenu.repository.AuthMenuMapper">
    <select id="getAuthMenuList" parameterType="java.lang.Long" resultType="kr.co.bestiansoft.ebillservicekg.admin.authMenu.vo.AuthMenuVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.authMenu.repository.AuthMenuMapper.getAuthMenuList */
        select
              seq
            , auth_id --권한아이디
            , menu_id --메뉴아이디
            , menu_auth --메뉴 권한
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        from kgst.com_auth_menu
    </select>


    <insert id="insertAuthMenu" parameterType="kr.co.bestiansoft.ebillservicekg.admin.authMenu.vo.AuthMenuVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.authMenu.repository.AuthMenuMapper.insertAuthMenu */
        insert into com_auth_menu (
              auth_id
            , menu_id
            , menu_auth
            , reg_id
            , reg_dt
            , mod_id
            , mod_dt
        )
        values (
              #{authId}
            , #{menuId}
            , #{menuAuth}
            , #{regId}
            , now()
            , null
            , null
        )
    </insert>

    <delete id="deleteAuthMenu" parameterType="java.lang.Long">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.authMenu.repository.AuthMenuMapper.deleteAuthMenu */
        delete from com_auth_menu
        where auth_id = #{authId}
    </delete>
</mapper>