<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper">
    <select id="getGrpCodeList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.getGrpCodeList */
        select
              grp_code --그룹코드
            , grp_code_nm1 --그룹명(키르키즈어)
            , grp_code_nm2 --그룹명(러시아어)
            , grp_code_nm3 --그룹명(한국어)
            , use_yn --사용여부
            , rmk --비고
            , reg_dt --등록자
            , reg_id --등록일자
            , mod_dt --수정일자
            , mod_id --수정자
        from com_code
        where 1=1
        <if test="grpCode != null and grpCode != ''">
            and grp_code::text like concat('%', #{grpCode}, '%')
        </if>
        <if test="grpCodeNm1">
            and grp_code_nm1 like concat('%', #{grpCodeNm1}, '%')
        </if>
    </select>

    <select id="getComCodeList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeDetailVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.getComCodeList */
        select
              code_id
            , code_nm1
            , code_nm2
            , code_nm3
            , grp_code
            , use_yn
            , ord
            , rmk
            , reg_dt
            , reg_id
            , mod_dt
            , mod_id
        from com_code_detail
        where grp_code::text = #{grpCode}
        <if test="codeId != null and codeId != ''">
            and code_id like concat('%', #{codeId}, '%')
        </if>
    </select>

    <select id="getGrpCodeById" parameterType="java.lang.Integer" resultType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.getGrpCodeById */
        select
              grp_code
            , grp_code_nm1
            , grp_code_nm2
            , grp_code_nm3
            , use_yn
            , rmk
            , reg_dt
            , reg_id
            , mod_dt
            , mod_id
        from com_code
        where grp_code = #{grpCode}
    </select>

    <select id="getComCodeById" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeDetailVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.getComCodeById */
        select
              code_id
            , code_nm1
            , code_nm2
            , code_nm3
            , grp_code
            , use_yn
            , ord
            , rmk
            , reg_dt
            , reg_id
            , mod_dt
            , mod_id
        from com_code_detail
        where code_id = #{codeId}
    </select>


    <insert id="insertGrpCode" parameterType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.insertGrpCode */
        <selectKey keyProperty="grpCode" resultType="java.lang.Integer" order="BEFORE">
            select coalesce(max(grp_code) + 1, 1000) from com_code
        </selectKey>
        insert into kgst.com_code (
              grp_code
            , grp_code_nm1
            , grp_code_nm2
            , grp_code_nm3
            , use_yn
            , rmk
            , reg_dt
            , reg_id
            , mod_dt
            , mod_id
        )
        values (
              #{grpCode}
            , #{grpCodeNm1}
            , #{grpCodeNm2}
            , #{grpCodeNm3}
            , #{useYn}
            , #{rmk}
            , now()
            , #{regId}
            , NULL
            , NULL
        )
    </insert>
    <insert id="insertComCode" parameterType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeDetailVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.insertComCode */
        insert into kgst.com_code_detail (
              code_id
            , code_nm1
            , code_nm2
            , code_nm3
            , grp_code
            , use_yn
            , ord
            , rmk
            , reg_dt
            , reg_id
            , mod_dt
            , mod_id
        )
        values (
            #{codeId}
            , #{codeNm1}
            , #{codeNm2}
            , #{codeNm3}
            , #{grpCode}
            , #{useYn}
            , #{ord}
            , #{rmk}
            , now()
            , #{regId}
            , NULL
            , NULL
        )
    </insert>

    <update id="updateGrpC
    selectode" parameterType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.updateGrpCode */
        update com_code
        set
              grp_code_nm1 = #{grpCodeNm1}
            , grp_code_nm2 = #{grpCodeNm2}
            , grp_code_nm3 = #{grpCodeNm3}
            , use_yn = #{useYn}
            , rmk = #{rmk}
            , mod_id = #{modId}
            , mod_dt = #{modDt}
        WHERE grp_code = #{grpCode}
    </update>

    <update id="updateComCode" parameterType="kr.co.bestiansoft.ebillservicekg.admin.comCode.vo.ComCodeDetailVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.updateComCode */
        update com_code_detail
        set
            code_nm1 = #{codeNm1}
            , code_nm2 = #{codeNm2}
            , code_nm3 = #{codeNm3}
            , grp_code = #{grpCode}
            , use_yn = #{useYn}
            , ord = #{ord}
            , rmk = #{rmk}
            , mod_id = #{modId}
            , mod_dt = #{modDt}
        WHERE code_id = #{codeId}
    </update>

    <delete id="deleteGrpCode" parameterType="java.lang.Integer">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.deleteGrpCode */
        delete from com_code
        where grp_code = #{grpCode}
    </delete>

    <delete id="deleteComCode" parameterType="java.lang.String">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.deleteComCode */
        delete from com_code_detail
        where code_id = #{codeId}
    </delete>

    <select id="existCodeIdInGrp" parameterType="java.lang.Integer" resultType="boolean">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.admin.comCode.repository.ComCodeMapper.existCodeIdInGrp */
        select exists (
            select 1 from com_code_detail
            where grp_code = #{id}
        )
    </select>
</mapper>