<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.document.repository.DocumentMapper">

	<insert id="insertFolder" useGeneratedKeys="true" keyProperty="folderId" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.insertFolder */
		INSERT INTO kgst.bs_folder_info (
			  folder_nm
			, upper_folder_id
			, dept_cd
			, del_yn
			, dept_folder_yn
			, user_id
			, reg_dt
			, reg_id 
		)
		VALUES (
			  #{folderNm}
			, #{upperFolderId}
			, #{deptCd}
			, 'N'
			, #{deptFolderYn}
			, #{userId}
			, now()
			, #{regId}
		)
    </insert>
    
    <update id="updateFolder" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.updateFolder */
		UPDATE kgst.bs_folder_info
		SET mod_dt = now()
		  , mod_id = #{modId}
		<if test="folderNm != null"> , folder_nm = #{folderNm} </if>
		<if test="upperFolderId != null"> , upper_folder_id = #{upperFolderId} </if>
		<if test="deptCd != null"> , dept_cd = #{deptCd} </if>
		<if test="delYn != null"> , del_yn = #{delYn} </if>
		<if test="deptFolderYn != null"> , dept_folder_yn = #{deptFolderYn} </if>
		<if test="userId != null"> , user_id = #{userId} </if>
		WHERE folder_id = #{folderId}
    </update>
    
    <delete id="deleteFolder">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.deleteFolder */
		DELETE FROM kgst.bs_folder_info
		WHERE folder_id = #{folderId}
    </delete>
    
    <delete id="deleteFile">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.deleteFile */
		DELETE FROM kgst.bs_file_info
		WHERE file_id = #{fileId}
    </delete>
    
    <sql id="selectFolder">
    	select * from (
	    	select
				  a.folder_id
				, a.folder_nm
				, a.upper_folder_id
				, a.dept_cd
				, a.del_yn
				, a.reg_dt
				, a.reg_id
				, a.mod_dt
				, a.mod_id
				, a.dept_folder_yn
				, a.user_id
				, b.folder_nm as upper_folder_nm
				, (select user_nm_kg 
				from kgst.view_user_member vcm
				where vcm.user_id = a.reg_id) as reg_nm
				, (select user_nm_kg 
				from kgst.view_user_member vcm
				where vcm.user_id = a.mod_id) as mod_nm
			from
				kgst.bs_folder_info a
			left outer join kgst.bs_folder_info b
				on a.upper_folder_id = b.folder_id
		) c
    </sql>
    
	<select id="selectDeptFolderListAll" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.FolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectDeptFolderListAll */
		<include refid="selectFolder" />
		where 1=1
			and c.dept_folder_yn = 'Y'
			and c.dept_cd = #{deptCd}
	</select>
	
	<select id="selectDeptFolderList" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.FolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectFolderList */
		<include refid="selectFolder" />
		where 1=1
			and c.dept_folder_yn = 'Y'
			and c.dept_cd = #{deptCd}
			and c.upper_folder_id = #{upperFolderId}
			<if test="title != null and title != ''">
			and c.folder_nm like '%' || #{title} || '%'
			</if>
			<if test="regNm != null and regNm != ''">
			and c.reg_nm like '%' || #{regNm} || '%'
			</if>
	</select>
    
    <insert id="insertFile" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.insertFile */
		INSERT INTO kgst.bs_file_info (
			  file_id
			, folder_id
			, file_title
			, file_nm
			, file_size
			, file_type
			, file_group_id
			, dept_cd
			, thumbnail
			, del_yn
			, group_yn
			, edv_hash_str
			, edv_path
			, dept_file_yn
			, user_id
			, reg_dt
			, reg_id
		)
		VALUES (
			  #{fileId}
			, #{folderId}
			, #{fileTitle}
			, #{fileNm}
			, #{fileSize}
			, #{fileType}
			, #{fileGroupId}
			, #{deptCd}
			, #{thumbnail}
			, 'N'
			, #{groupYn}
			, #{edvHashStr}
			, #{edvPath}
			, #{deptFileYn}
			, #{userId}
			, now()
			, #{regId}
		)
    </insert>
    
    <sql id="updateFile">
    	UPDATE kgst.bs_file_info
    	SET mod_dt = now()
		  , mod_id = #{modId}
    	  <if test="folderId != null"> , folder_id = #{folderId} </if>
    	  <if test="fileTitle != null"> , file_title = #{fileTitle} </if>
    	  <if test="fileNm != null"> , file_nm = #{fileNm} </if>
    	  <if test="fileSize != null"> , file_size = #{fileSize} </if>
    	  <if test="fileType != null"> , file_type = #{fileType} </if>
    	  <if test="fileGroupId != null"> , file_group_id = #{fileGroupId} </if>
    	  <if test="deptCd != null"> , dept_cd = #{deptCd} </if>
    	  <if test="thumbnail != null"> , thumbnail = #{thumbnail} </if>
    	  <if test="delYn != null"> , del_yn = #{delYn} </if>
    	  <if test="groupYn != null"> , group_yn = #{groupYn} </if>
    	  <if test="edvHashStr != null"> , edv_hash_str = #{edvHashStr} </if>
    	  <if test="edvPath != null"> , edv_path = #{edvPath} </if>
    	  <if test="deptFileYn != null"> , dept_file_yn = #{deptFileYn} </if>
    	  <if test="userId != null"> , user_id = #{userId} </if>
    </sql>
    
    <update id="updateThumbnail" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
    	UPDATE kgst.bs_file_info
    	SET thumbnail = #{thumbnail}
    	WHERE file_id = #{fileId}
    </update>
    
    <update id="updateFileByFileId" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
    	<include refid="updateFile" />
		WHERE file_id = #{fileId}
    </update>
    
    <update id="updateFileByFileGroupId" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
    	<include refid="updateFile" />
		WHERE file_group_id = #{fileGroupId}
    </update>
    
    <select id="selectDeptFileList" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectFileList */
		select * from (
			select 
				  b.*
				, b.file_title as title
				, coalesce(c.favorite_yn, 'N') as favorite_yn
				, d.folder_nm as folder_nm
				, (select user_nm_kg 
				from kgst.view_user_member vcm
				where vcm.user_id = b.reg_id) as reg_nm
				, (select user_nm_kg 
				from kgst.view_user_member vcm
				where vcm.user_id = b.mod_id) as mod_nm
			from (
				select
					<include refid="fileColumns"></include>
				from kgst.bs_file_info a
				where 1=1
					and a.del_yn = 'N'
			    	and (case when a.dept_file_yn = 'Y' then a.dept_cd = #{deptCd}
						 else a.user_id = #{userId}
						 end)
					and a.folder_id = #{folderId}
			) b
			left outer join kgst.bs_favorite c
				on b.file_group_id = c.file_group_id
				and c.user_id = #{userId}
			left outer join kgst.bs_folder_info d
				on d.folder_id = b.folder_id
		) x
		where 1=1
			and x.dept_file_yn = 'Y'
			and x.dept_cd = #{deptCd}
			<if test="title != null and title != ''">
			and x.title like '%' || #{title} || '%'
			</if>
			<if test="regNm != null and regNm != ''">
			and x.reg_nm like '%' || #{regNm} || '%'
			</if>
	</select>
	
	<insert id="insertFavorite" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
	/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.insertFavorite */		
    	INSERT INTO kgst.bs_favorite (
			  file_group_id
			, user_id
			, favorite_yn
			, reg_id
			, reg_dt
		)
		VALUES (
			  #{fileGroupId}
			, #{userId}
			, #{favoriteYn}
			, #{regId}
			, now()
		)
    </insert>
    
    <update id="updateFavorite" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
    /* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.updateFavorite */
    	UPDATE kgst.bs_favorite
		SET mod_dt = now()
		  , mod_id = #{modId}
		  , favorite_yn = #{favoriteYn}
		WHERE user_id = #{userId}
		AND file_group_id = #{fileGroupId}
    </update>
    
    <update id="saveFavorite" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
    /* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.saveFavorite */
    	INSERT INTO kgst.bs_favorite (
			  file_group_id
			, user_id
			, favorite_yn
			, reg_id
			, reg_dt
		)
		VALUES (
			  #{fileGroupId}
			, #{userId}
			, #{favoriteYn}
			, #{regId}
			, now()
		)
		ON CONFLICT (user_id, file_group_id)
		DO UPDATE 
		SET   mod_dt = now()
			, mod_id = #{modId}
			, favorite_yn = #{favoriteYn}
    </update>
    
    <sql id="fileColumns">
    	  a.file_id
		, a.folder_id
		, a.file_title
		, a.file_nm
		, a.file_size
		, a.file_type
		, a.file_group_id
		, a.dept_cd
		, a.thumbnail
		, a.del_yn
		, a.group_yn
		, a.edv_hash_str
		, a.edv_path
		, a.reg_dt
		, a.reg_id
		, a.mod_dt
		, a.mod_id
		, a.dept_file_yn
		, a.user_id
    </sql>
    
    <select id="selectFile" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectFile */
		select 
			<include refid="fileColumns"></include>
		from kgst.bs_file_info a
		where a.file_id = #{fileId}
    </select>
    
    <select id="selectFileGroup" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.FileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectFileGroup */
		select 
			  <include refid="fileColumns"></include>
			, b.file_group_nm
			, c.folder_nm 
			, coalesce(d.favorite_yn, 'N') as favorite_yn
		from kgst.bs_file_info a
		left outer join kgst.bs_folder_info c
			on a.folder_id = c.folder_id
		left outer join kgst.bs_favorite d
			on a.file_group_id = d.file_group_id
			and d.user_id = #{userId} 
		where a.file_group_id = #{fileGroupId}
	</select>
    
</mapper>