<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.document.repository.DocumentMapper">

	<insert id="insertDeptFolder" useGeneratedKeys="true" keyProperty="folderId" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.insertDeptFolder */
		INSERT INTO kgst.bs_dept_folder (
			  folder_nm
			, upper_folder_id
			, dept_cd
			, del_yn
			, reg_dt
			, reg_id 
		)
		VALUES (
			  #{folderNm}
			, #{upperFolderId}
			, #{deptCd}
			, 'N'
			, now()
			, #{regId}
		)
    </insert>
    
    <update id="updateDeptFolder" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.updateDeptFolder */
		UPDATE kgst.bs_dept_folder
		SET mod_dt = now()
		  , mod_id = #{modId}
		<if test="folderNm != null"> , folder_nm = #{folderNm} </if>
		<if test="upperFolderId != null"> , upper_folder_id = #{upperFolderId} </if>
		<if test="deptCd != null"> , dept_cd = #{deptCd} </if>
		<if test="delYn != null"> , del_yn = #{delYn} </if>
		WHERE folder_id = #{folderId}
    </update>
    
    <delete id="deleteDeptFolder">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.deleteDeptFolder */
		DELETE FROM kgst.bs_dept_folder
		WHERE folder_id = #{folderId}
    </delete>
    
    <delete id="deleteDeptFile">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.deleteDeptFile */
		DELETE FROM kgst.bs_dept_file
		WHERE file_id = #{fileId}
    </delete>
    
    <sql id="selectDeptFolder">
    	select * from (
	    	select
				a.folder_id,
				a.folder_nm,
				a.upper_folder_id,
				a.dept_cd,
				a.del_yn,
				a.reg_dt,
				a.reg_id,
				a.mod_dt,
				a.mod_id,
				b.folder_nm as upper_folder_nm
	--			, (select user_nm 
	--			from sndb.view_com_members vcm
	--			where vcm.user_id = a.reg_id) as reg_nm
	--			, (select user_nm 
	--			from sndb.view_com_members vcm
	--			where vcm.user_id = a.mod_id) as mod_nm
			from
				kgst.bs_dept_folder a
			left outer join kgst.bs_dept_folder b
				on a.upper_folder_id = b.folder_id
		) c
    </sql>
    
	<select id="selectDeptFolderListAll" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectDeptFolderListAll */
		<include refid="selectDeptFolder" />
		where 1=1
			and c.dept_cd = #{deptCd}
	</select>
	
	<select id="selectDeptFolderList" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFolderVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectDeptFolderList */
		<include refid="selectDeptFolder" />
		where 1=1
			and c.dept_cd = #{deptCd}
			and c.upper_folder_id = #{upperFolderId}
			<if test="title != null and title != ''">
			and c.folder_nm like '%' || #{title} || '%'
			</if>
<!--			<if test="regNm != null and regNm != ''">-->
<!--			and c.reg_nm like '%' || #{regNm} || '%'-->
<!--			</if>-->
	</select>
    
    <insert id="insertDeptFile" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.insertDeptFile */
		INSERT INTO kgst.bs_dept_file (
			  file_id
			, folder_id
			, file_title
			, file_nm
			, file_size
			, file_type
			, file_group_id
			, dept_cd
			, thumbnail
			, del_yn
			, group_yn
			, edv_hash_str
			, edv_path
			, reg_dt
			, reg_id
		)
		VALUES (
			  #{fileId}
			, #{folderId}
			, #{fileTitle}
			, #{fileNm}
			, #{fileSize}
			, #{fileType}
			, #{fileGroupId}
			, #{deptCd}
			, #{thumbnail}
			, 'N'
			, #{groupYn}
			, #{edvHashStr}
			, #{edvPath}
			, now()
			, #{regId}
		)
    </insert>
    
    <insert id="insertFileGroup" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.insertFileGroup */
    	INSERT INTO kgst.bs_file_group (
			  file_group_id
			, file_group_nm
			, thumbnail
			, reg_id
			, reg_dt
		)
		VALUES (
			  #{fileGroupId}
			, #{fileGroupNm}
			, #{thumbnail}
			, #{regId}
			, now()
		)
    </insert>
    
    <update id="updateFileGroup" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    	UPDATE kgst.bs_file_group
    	SET mod_dt = now()
		  , mod_id = #{modId}
		  <if test="fileGroupNm != null"> , file_group_nm = #{fileGroupNm} </if>
		  <if test="thumbnail != null"> , thumbnail = #{thumbnail} </if>
		WHERE file_group_id = #{fileGroupId}
    </update>
    
    <sql id="updateDeptFile">
    	UPDATE kgst.bs_dept_file
    	SET mod_dt = now()
		  , mod_id = #{modId}
    	  <if test="folderId != null"> , folder_id = #{folderId} </if>
    	  <if test="fileTitle != null"> , file_title = #{fileTitle} </if>
    	  <if test="fileNm != null"> , file_nm = #{fileNm} </if>
    	  <if test="fileSize != null"> , file_size = #{fileSize} </if>
    	  <if test="fileType != null"> , file_type = #{fileType} </if>
    	  <if test="fileGroupId != null"> , file_group_id = #{fileGroupId} </if>
    	  <if test="deptCd != null"> , dept_cd = #{deptCd} </if>
    	  <if test="thumbnail != null"> , thumbnail = #{thumbnail} </if>
    	  <if test="delYn != null"> , del_yn = #{delYn} </if>
    	  <if test="groupYn != null"> , group_yn = #{groupYn} </if>
    	  <if test="edvHashStr != null"> , edv_hash_str = #{edvHashStr} </if>
    	  <if test="edvPath != null"> , edv_path = #{edvPath} </if>
    </sql>
    
    <update id="updateThumbnail" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    	UPDATE kgst.bs_dept_file
    	SET thumbnail = #{thumbnail}
    	WHERE file_id = #{fileId}
    </update>
    
    <update id="updateDeptFileByFileId" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    	<include refid="updateDeptFile" />
		WHERE file_id = #{fileId}
    </update>
    
    <update id="updateDeptFileByFileGroupId" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    	<include refid="updateDeptFile" />
		WHERE file_group_id = #{fileGroupId}
    </update>
    
    <select id="selectDeptFileList" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectDeptFileList */
		select * from (
			select 
				  a.*
				, (case when a.group_yn = 'Y' then b.file_group_nm else a.file_title end) as title
				, coalesce(c.favorite_yn, 'N') as favorite_yn
				, d.folder_nm as folder_nm
			from (
				select 
					  file_group_id
				    , max(folder_id) as folder_id
				    , max(file_id) as file_id
				    , max(file_nm) as file_nm
					, max(file_title) as file_title
					, sum(file_size) as file_size
					, lower (string_agg(file_type, ',')) as file_type
					, max(dept_cd) as dept_cd
					, max(reg_id) as reg_id
					, count(*) as file_group_cnt
				    , max(group_yn) as group_yn
				    , min(reg_dt) as reg_dt
				    , max(mod_dt) as mod_dt
				    , max(mod_id) as mod_id
				from kgst.bs_dept_file
				where 1=1
					and del_yn = 'N'
			    	and dept_cd = #{deptCd}
					and folder_id = #{folderId}
				group by file_group_id
			) a
			left outer join kgst.bs_file_group b
				on a.file_group_id = b.file_group_id
			left outer join kgst.bs_favorite c
				on a.file_group_id = c.file_group_id
				and c.user_id = #{userId}
			left outer join kgst.bs_dept_folder d
				on d.folder_id = a.folder_id
		) x
		where 1=1
			<if test="title != null and title != ''">
			and x.title like '%' || #{title} || '%'
			</if>
<!--			<if test="regNm != null and regNm != ''">-->
<!--			and x.reg_nm like '%' || #{regNm} || '%'-->
<!--			</if>-->
	</select>
	
	<insert id="insertFavorite" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
	/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.insertFavorite */		
    	INSERT INTO kgst.bs_favorite (
			  file_group_id
			, user_id
			, favorite_yn
			, reg_id
			, reg_dt
		)
		VALUES (
			  #{fileGroupId}
			, #{userId}
			, #{favoriteYn}
			, #{regId}
			, now()
		)
    </insert>
    
    <update id="updateFavorite" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    /* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.updateFavorite */
    	UPDATE kgst.bs_favorite
		SET mod_dt = now()
		  , mod_id = #{modId}
		  , favorite_yn = #{favoriteYn}
		WHERE user_id = #{userId}
		AND file_group_id = #{fileGroupId}
    </update>
    
    <update id="saveFavorite" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    /* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.saveFavorite */
    	INSERT INTO kgst.bs_favorite (
			  file_group_id
			, user_id
			, favorite_yn
			, reg_id
			, reg_dt
		)
		VALUES (
			  #{fileGroupId}
			, #{userId}
			, #{favoriteYn}
			, #{regId}
			, now()
		)
		ON CONFLICT (user_id, file_group_id)
		DO UPDATE 
		SET   mod_dt = now()
			, mod_id = #{modId}
			, favorite_yn = #{favoriteYn}
    </update>
    
    <sql id="deptFileColumns">
    	  a.file_id
		, a.folder_id
		, a.file_title
		, a.file_nm
		, a.file_size
		, a.file_type
		, a.file_group_id
		, a.dept_cd
		, a.thumbnail
		, a.del_yn
		, a.group_yn
		, a.edv_hash_str
		, a.edv_path
		, a.reg_dt
		, a.reg_id
		, a.mod_dt
		, a.mod_id
    </sql>
    
    <select id="selectDeptFile" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectDeptFile */
		select 
			<include refid="deptFileColumns"></include>
		from kgst.bs_dept_file a
		where a.file_id = #{fileId}
    </select>
    
    <select id="selectDeptFileGroup" parameterType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo" resultType="kr.co.bestiansoft.ebillservicekg.document.vo.DeptFileVo">
		/* QueryID : kr.co.bestiansoft.ebillservicekg.document.repository.FileMapper.selectDeptFileGroup */
		select 
			  <include refid="deptFileColumns"></include>
			, b.file_group_nm
			, c.folder_nm 
			, coalesce(d.favorite_yn, 'N') as favorite_yn
		from kgst.bs_dept_file a
		inner join kgst.bs_file_group b 
			on a.file_group_id = b.file_group_id
		left outer join kgst.bs_dept_folder c
			on a.folder_id = c.folder_id
		left outer join kgst.bs_favorite d
			on a.file_group_id = d.file_group_id
			and d.user_id = #{userId} 
		where a.file_group_id = #{fileGroupId}
	</select>
    
</mapper>