<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.eas.receivedInfo.repository.ReceivedInfoRepository">

    <insert id="insertReceivedInfo" parameterType="kr.co.bestiansoft.ebillservicekg.eas.receivedInfo.vo.ReceivedInfoVo">
        INSERT INTO kgst.eas_received_info
        (doc_id, user_id, user_nm, dept_cd, ext_orgn_cd, rcv_status, rcv_dtm, check_dtm, rcp_dtm, rjct_dtm, rjct_cn, rcv_ord)
        VALUES(#{docId}, #{userId}, #{userNm}, #{deptCd}, #{extOrgnCd}, #{rcvStatus}, #{rcvDtm}, #{checkDtm}, #{rcpDtm}, #{rjctDtm}, #{rjctCn}, #{rcvOrd});
    </insert>
    <update id="updateReceivedInfo" parameterType="kr.co.bestiansoft.ebillservicekg.eas.receivedInfo.vo.UpdateReceivedInfoVo">
        update kgst.eas_received_info
        <set>
            <if test="rcvStatus"> rcv_status = #{rcvStatus} , </if>
            <if test="rcvDtm"> rcv_dtm = #{rcvDtm} , </if>
            <if test="checkDtm"> check_dtm = #{checkDtm} , </if>
            <if test="rcpDtm"> rcp_dtm = #{rcpDtm} , </if>
            <if test="rjctDtm"> rjct_dtm = #{rjctDtm} , </if>
            <if test="rjctCn"> rjct_cn = #{rjctCn} , </if>
        </set>
        where doc_id = #{docId}
          and user_id = #{userId}
    </update>
    <select id="getReceivedInfo" resultType="kr.co.bestiansoft.ebillservicekg.eas.receivedInfo.vo.ReceivedInfoVo">
        select rcv_id, doc_id, user_id, user_nm, dept_cd, ext_orgn_cd, rcv_status, rcv_dtm, check_dtm, rcp_dtm, rjct_dtm, rjct_cn, rcv_ord
          from kgst.eas_received_info
         where doc_id =#{docId}
    </select>
</mapper>