<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.repository.BillMngMapper">

    <select id="getBillList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.getBillList */
        /* 의안번호가 있는 것 부터 나오게 해야함. 2순위는 일단 등록일 기준 정렬 */
        /* 탭으로 구분되어있는 것은 앞단에서 필터링 해서 사용할 것이므로 필터링용 필드 만 잘 넘겨주도록 하자. */
        /* ppsl_knd_cd : 제안자 종류 (정부/의원), stat_cd : 상태코드 (위원회 심사, 본회의, 정부이송...) */ 
        
		SELECT
			  row_number() over(order by CASE WHEN em.bill_no IS NOT NULL THEN 1 ELSE 2 END, em.reg_dt desc) as num
		    , em.bill_id                -- 안건 ID
		    , em.bill_no                -- 안건 번호
		    , em.bill_kind              -- 의안 종류 (법률안/예산안 등)
		    , em.na_term_cd             -- 대수 코드
		    , em.bill_name_kg           -- 의안명 - kg
		    , em.bill_name_ru           -- 의안명 - ru
		    , em.ppsl_knd_cd            -- 제안자 종류 (정부/의원)
		    , em.ppsr_nm                -- 발의자
		    , em.ppsr_id                -- 발의자 아이디
		    , em.ppsl_dt                -- 제안일
		    , em.stat_cd                -- 상태 코드
			, CASE 
			  WHEN #{lang} = 'lng_type_1' then cc.code_nm1
			  WHEN #{lang} = 'lng_type_2' then cc.code_nm2
	          ELSE cc.code_nm3
	          END stat_nm               -- 상태코드 명 (언어 필드 변경되는 것에 따라 수정 해야할 듯)
		    , em.cmt_id                 -- 위원회 아이디
		    , em.submit_dt              -- 위원회 회부일
		    , em.plnr_prsnt_dt          -- 본회의 예정일
		    , em.plnr_dt                -- 본회의 처리일
		    , em.plnr_result            -- 본회의 처리 결과
		    , em.gvrn_trsf_dt           -- 정부 이송일
		    , em.prmg_dt                -- 공포일자
		    , em.prmg_no                -- 공포 번호
		    , em.reg_id                 -- 등록자 아이디
		    , em.reg_dt                 -- 등록 일자
		    , em.mod_id                 -- 수정자 아이디
		    , em.mod_dt                 -- 수정 일자
		    , em.etc_kg                 -- 비고 - kg
		    , em.etc_ru                 -- 비고 - ru
		    , COALESCE(
		        (SELECT COUNT(*) 
		         FROM kgst.ebs_process ep 
		         WHERE ep.bill_id = em.bill_id
		           AND ep.proc_kind_cd = 'PC500'
		           AND ep.use_yn='Y'), 
		        0
		    ) AS cmtCnt -- 위원회 심사 차수
		FROM ebs_master em     
		LEFT OUTER JOIN com_code_detail cc ON (em.stat_cd = cc.code_id)
		WHERE 1=1     -- 내/외부, 접수 구분 뭔지 물어보고 추가해야함.
	    <if test="searchBillName != null and searchBillName != ''">
	    	AND (em.bill_name_kg like CONCAT('%', #{searchBillName}, '%') OR em.bill_name_ru like CONCAT('%', #{searchBillName}, '%'))   -- 의안명 검색,키르어,러시아어 별로 검색 규틱 어찌할지.일단 prefix로 search 붙일 예정. 
	    </if>		
		<if test="billNo != null and billNo != ''">
	    	AND em.bill_no like CONCAT('%', #{billNo}, '%')
	    </if>
		<if test="statCd != null and statCd != ''">
	    	AND em.stat_cd = #{statCd} -- 상태 검색
	    </if>
		<if test="regDt != null and regDt != ''">
    		AND to_char(em.reg_dt, 'YYYY-MM-DD') = #{regDt}  -- 등록일 검색, 화면 설계서에 등록일 이라고 되어있는데, 제안일 검색으로 나중에 바꾸게 될것같음.
    	</if>
    	<if test="cmtCnt != null and cmtCnt != ''">
    		AND (SELECT COUNT(*) 
		         FROM kgst.ebs_process ep 
		         WHERE ep.bill_id = em.bill_id
		           AND ep.proc_kind_cd = 'PC500'
		           AND ep.use_yn='Y') = #{cmtCnt}
    	</if>
    	<if test="naTermCd != null and naTermCd != ''">
    		AND em.na_term_cd = #{naTermCd}
    	</if>
    	
    </select>

    <select id="getBillById" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* 안건 관리 상세 화면 */ 
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.getBillById */    
        select 
		      bill_id                -- 안건 ID
		    , bill_no                -- 안건 번호
		    , bill_kind              -- 의안 종류 (법률안/예산안 등)
		    , na_term_cd             -- 대수 코드
		    , bill_name_kg           -- 의안명 - kg
		    , bill_name_ru           -- 의안명 - ru
		    , ppsl_knd_cd            -- 제안자 종류 (정부/의원)
		    , ppsr_nm                -- 발의자
		    , ppsr_id                -- 발의자 아이디
		    , ppsl_dt                -- 제안일
		    , stat_cd                -- 상태 코드
		    , cmt_id                 -- 위원회 아이디
		    , submit_dt              -- 위원회 회부일
		    , plnr_prsnt_dt          -- 본회의 예정일
		    , plnr_dt                -- 본회의 처리일
		    , plnr_result            -- 본회의 처리 결과
		    , gvrn_trsf_dt           -- 정부 이송일
		    , prmg_dt                -- 공포일자
		    , prmg_no                -- 공포 번호
		    , etc_kg                 -- 비고 - kg
		    , etc_ru                 -- 비고 - ru
		    , wt_cn_kg                  -- 철회 사유(키)
		    , wt_cn_ru                  -- 철회 사유(러)
		    , scl_dsc_rcp_nmb            -- 사회토론접수번호
		    , gvrn_sbms_elct_dcmn_nmbr   -- 정부제출전자문서번호
		    , reg_id                 -- 등록자 아이디
		    , reg_dt                 -- 등록 일자
		    , mod_id                 -- 수정자 아이디
		    , mod_dt                 -- 수정 일자
        from ebs_master
        where bill_id = #{billId}
    </select>

    <select id="selectProposerMemberList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
    	/* 발의자 명단 조회 */
		SELECT 
			row_number() over(order by ep.ord asc) as num
			, cm.member_nm as memberNm
			, ep.proposer_id as proposerId 
			, cm.profile_img_path as profileImgPath
		FROM 
			ebs_proposer ep
			left outer join com_member cm on cm.member_id = ep.proposer_id  
		WHERE 1=1
			AND ep.bill_id = #{billId}
			AND (ep.sign_dt IS NOT NULL AND ep.sign_cnc_dt IS NULL)

	</select>
	<insert id="insertBill" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
		/* 의안 서면 등록 */
		/* 접수일, 심사일 뭐지? */
		INSERT INTO kgst.ebs_master(
			bill_id
			, bill_no
			, bill_kind
			, na_term_cd
			, bill_name_kg
			, bill_name_ru
			, ppsl_knd_cd
			, ppsr_nm
			, ppsr_id
			, ppsl_dt
			, stat_cd
			, reg_id
			, reg_dt
			, etc_kg
			, etc_ru
		) 
		VALUES (
			#{billId}
			, #{billNo}
			, #{billKind}
			, #{naTermCd}
			, #{billNameKg}
			, #{billNameRu}
			, #{ppslKndCd}
			, #{ppsrNm}
			, #{ppsrId}
			, TO_CHAR(now(), 'YYYYMMDD')
			, #{statCd}
			, #{regId}
			, now()
			, #{etcKg}
			, #{etcRu}
		)
    </insert>
    <insert id="insertProposers" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
		INSERT INTO kgst.ebs_proposer (
			bill_id,
			proposer_id,
			ord,
			poly_cd,
			poly_nm,
			sign_dt,
			reg_id,
			reg_dt
		) VALUES (
            #{billId}, 
            #{proposerId}, 
            #{ord}, 
            #{polyCd}, 
            #{polyNm}, 
            CASE 
                WHEN #{agreeYn} = 'Y' THEN now() 
                ELSE NULL 
            END,
            #{regId}, 
            now()
		)
	</insert>
	<insert id="insertProcess" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProcessVo">
		INSERT INTO kgst.ebs_process 
		(
			bill_id,      -- bill 아이디
			proc_id,      -- 처리아이디
			ord,          -- 처리순번 bill의 max
			req_usr_id,   -- 요청자아이디
			req_auth_id,  -- 요청자권한아이디
			req_dept_id,  -- 요청자부서아이디
			req_dt,       -- 요청일시
			rcp_auth_id,  -- 접수자권한아이디
			rcp_dept_id,  -- 접수자부서
			proc_kind_cd, -- 처리종류
			proc_yn,      -- 처리완료여부
			reg_id,       -- 등록자
			reg_dt        -- 등록일자
		) VALUES (
			#{billId},
			#{procId},
			(SELECT COALESCE(MAX(ord), 0) + 1 FROM kgst.ebs_process ep WHERE bill_id = #{billId}),
			#{reqUsrId},
			#{reqAuthId},
			#{reqDeptId},
			now(),
			#{rcpAuthId},
			#{rcpDeptId},
			#{procKindCd},
			'N',
			#{regId},
			#{regDt}
		)
	</insert>
	<update id="updateProcess" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
		/* 프로세스 처리 - 접수자가 업무 처리 했을때. (단순 수정 아님.)*/
		UPDATE
			kgst.ebs_process
		SET
			proc_usr_id = #{procUsrId}
			, proc_dt = now()
			, proc_yn = 'Y'
			<if test="rsltCd != null and rsltCd != ''">
				, rslt_cd = #{rsltCd}     
			</if>
			<if test="rsltDt != null and rsltDt != ''">
				, rslt_dt = #{rsltDt}    
			</if>
			<if test="rmk != null and rmk != ''">
				, rmk = #{rmk}    
			</if>
			<if test="prsntDt != null and prsntDt != ''">
				, prsnt_dt = #{prsntDt}    
			</if>
			<if test="billAprvNo != null and billAprvNo != ''">
				, bill_aprv_no = #{billAprvNo}    
			</if>
			, mod_id = #{modId}
			, mod_dt = now()
		WHERE
			bill_id = #{billId}
			AND proc_id = #{procId}
			
	</update>
    <select id="selectMemberList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
    	/* 발의자 선택 팝업용 의원 명단 조회 */ 
		SELECT
			row_number() over(order by cm.poly_nm, cm.member_nm) as num
			, cm.cmit_cd
			, CASE 
			  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
			  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
		      	ELSE cd.dept_nm3 
		      	END AS cmitNm
			, cm.profile_img_path
			, cm.member_id AS proposerId
			, cm.member_nm AS proposerNm
			, cm.poly_cd
			, cm.poly_nm
		FROM
			kgst.com_member cm
			LEFT OUTER JOIN kgst.com_dept cd ON (cm.cmit_cd = cd.dept_cd and cd.upr_dept_cd = 'CMT')
		WHERE 1=1	
		<if test="naTermCd != null and naTermCd != ''">
   			AND em.na_term_cd = #{naTermCd}
   		</if>
	</select>
	
	
    <select id="selectCmtList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
    	/* 안건관리 상세 화면에서 소관위 / 관련위 보여줄때 사용.*/
    	
		SELECT
		row_number() over(order by ep.ord asc) as num
		, ep.proc_kind_cd
		, ep.proc_dept_id
		, CASE 
		  WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
		  WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
		  ELSE cd.dept_nm3 
		  END AS procDeptNm
		FROM 
		ebs_process ep
		LEFT JOIN com_dept cd ON (ep.proc_dept_id = cd.dept_cd)
		WHERE 1=1
		AND (ep.proc_kind_cd = 'PC500' OR ep.proc_kind_cd = 'PC600')
		AND ep.use_yn='Y'
		AND ep.bill_id = #{billId}
	</select>
	
</mapper>