<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.repository.BillMngMapper">

    <select id="selectListBillMng" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectListBillMng */
		select
		    pl.bill_id
		  , kgst.fngetlangnm(pl.bill_name_kg,pl.bill_name_ru,pl.bill_name_kg,#{lang}) as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , kgst.fngetlangnm(pl.etc_kg,pl.etc_ru,pl.etc_kg,#{lang}) as etc -- etc
		  , pl.bill_name_kg
		  , pl.bill_name_ru
		  , pl.bill_no
		  , pl.scl_dsc_rcp_nmb
		  , pl.bill_kind
		  , pl.na_term_cd
		  , pl.ppsr_id
		  , vum.member_nm_kg
		  , vum.member_nm_ru
		  , pl.ppsl_dt
		  , pl.current_step_id
		  , pl.task_id
		  , pl.task_status
		  , pl.step_id
		  , pl.stat_cd
		  , kgst.fngetcodenm('1010',pl.stat_cd,#{lang}) as stat_nm
		  , pl.assigned_to
		  , pl.trgt_user_id
		from kgst.view_bill_process_list pl
		join kgst.view_user_member vum on (pl.ppsr_id = vum.user_id)
		where 1=1

		  <if test="assignedTo != null and assignedTo != ''">
		  	and pl.assigned_to = #{assignedTo}
		  </if>

		  <if test="trgtUserId != null and trgtUserId != ''">
		    and pl.trgtUserId = #{trgtUserId}
		  </if>

		  <if test="stepId != null and stepId != ''">
		    and pl.step_id = #{stepId}
		  </if>

		  <if test="taskStatus != null and taskStatus != ''">
		    and pl.task_status = #{taskStatus}
		  </if>

		  <if test="naTermCd != null and naTermCd != ''">
		    and pl.na_term_cd = #{naTermCd}
		  </if>

    </select>

    <select id="selectOneBill" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* 안건 관리 상세 화면 */
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectOneBill */
		select
		    pl.bill_id
		  , kgst.fngetlangnm(pl.bill_name_kg,pl.bill_name_ru,pl.bill_name_kg,#{lang}) as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , kgst.fngetlangnm(pl.etc_kg,pl.etc_ru,pl.etc_kg,#{lang}) as etc -- etc
		  , pl.bill_name_kg
		  , pl.bill_name_ru
		  , pl.bill_no
		  , pl.bill_kind
		  , pl.na_term_cd
		  , pl.ppsr_id
		  , vum.member_nm_kg
		  , vum.member_nm_ru
		  , pl.ppsl_dt
		  , pl.current_step_id
		  , pl.step_id
		  , pl.task_id
		  , pl.task_status
		  , kgst.fngetcodenm('1010',pl.stat_cd,#{lang}) as stat_nm
		  , pl.assigned_to
		  , pl.trgt_user_id
		from kgst.view_bill_process_list pl
		join kgst.view_user_member vum on (pl.ppsr_id = vum.user_id)
		where 1=1
		  and pl.bill_id = #{billId}
		  and pl.assigned_to = #{assignedTo}
		  and pl.task_id = #{taskId}

    </select>




    <select id="selectListlegalReview" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectListlegalReview */
		select
		    pl.bill_id
		  , kgst.fngetlangnm(pl.bill_name_kg,pl.bill_name_ru,pl.bill_name_kg,#{lang}) as bill_name -- 안건 이름
		  , kgst.fngetlangnm(vum.member_nm_kg,vum.member_nm_ru,vum.member_nm_kg,#{lang}) as ppsr_nm -- 제안자 이름
		  , kgst.fngetlangnm(pl.etc_kg,pl.etc_ru,pl.etc_kg,#{lang}) as etc -- etc
		  , pl.bill_name_kg
		  , pl.bill_name_ru
		  , pl.bill_no
		  , pl.scl_dsc_rcp_nmb
		  , pl.bill_kind
		  , pl.na_term_cd
		  , pl.ppsr_id
		  , vum.member_nm_kg
		  , vum.member_nm_ru
		  , pl.ppsl_dt
		  , pl.current_step_id
		  , pl.task_id
		  , pl.task_status
		  , pl.step_id
		  , pl.stat_cd
		  , kgst.fngetcodenm('1010',pl.stat_cd,#{lang}) as stat_nm
		  , pl.assigned_to
		  , pl.trgt_user_id
		from kgst.view_bill_process_list pl
		join kgst.view_user_member vum on (pl.ppsr_id = vum.user_id)
		where 1=1
		  and pl.assigned_to = #{deptCd}

		<if test="stepId != null and stepId != ''">
			and pl.step_id = #{stepId}
		</if>

		<if test="naTermCd != null and naTermCd != ''">
			and pl.na_term_cd = #{naTermCd}
		</if>

    </select>

    <select id="selectOnelegalReview" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectOnelegalReview */
        select
			  emd.seq
			, emd.bill_id
			, emd.cls_cd
			, emd.rmrk_kg
			, emd.rmrk_ru
			, emd.mtn_dt
			, emd.prsd_rjct_dt
			, emd.lgl_rvw_rslt_code
			, emd.lgl_act_rslt_code
			, emd.rslt_dt
			, emd.reg_id
			, emd.reg_dt
		from kgst.ebs_master_detail emd
		where emd.bill_id = #{billId}
			and emd.cls_cd = #{clsCd}
    </select>

    <insert id="insertBillDetail" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo"
     useGeneratedKeys="true" keyProperty="seq">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.insertBillDetail */
		insert into kgst.ebs_master_detail (
		      bill_id
		    , cls_cd
		    <if test="rmrkKg != null">, rmrk_kg</if>
		    <if test="rmrkRu != null">, rmrk_ru</if>
		    <if test="mtnDt != null">, mtn_dt</if>
		    <if test="prsdRjctDt != null">, prsd_rjct_dt</if>
		    <if test="lglRvwRsltCode != null">, lgl_rvw_rslt_code</if>
		    <if test="lglActRsltCode != null">, lgl_act_rslt_code</if>
		    <if test="rsltDt != null">, rslt_dt</if>
		    <if test="rsltCode != null">, rslt_code</if>
		    , reg_id
		    , reg_dt
		)
		values (
		      #{billId}
		    , #{clsCd}
		    <if test="rmrkKg != null">, #{rmrkKg}</if>
		    <if test="rmrkRu != null">, #{rmrkRu}</if>
		    <if test="mtnDt != null">, #{mtnDt}</if>
		    <if test="prsdRjctDt != null">, #{prsdRjctDt}</if>
		    <if test="lglRvwRsltCode != null">, #{lglRvwRsltCode}</if>
		    <if test="lglActRsltCode != null">, #{lglActRsltCode}</if>
		    <if test="rsltDt != null">, #{rsltDt}</if>
		    <if test="rsltCode != null">, #{rsltCode}</if>
		    , #{regId}
		    , now()
		)

		ON CONFLICT (bill_id,cls_cd) -- Specify the unique key or constraint here
        DO UPDATE SET
	          mod_id = #{modId}
	        , mod_dt = now()
    	    <if test="rmrkKg != null">, rmrk_kg = #{rmrkKg}</if>
	        <if test="rmrkRu != null">, rmrk_ru = #{rmrkRu}</if>
	        <if test="mtnDt != null">, mtn_dt = #{mtnDt}</if>
	        <if test="prsdRjctDt != null">, prsd_rjct_dt = #{prsdRjctDt}</if>
	        <if test="lglRvwRsltCode != null">, lgl_rvw_rslt_code = #{lglRvwRsltCode}</if>
	        <if test="lglActRsltCode != null">, lgl_act_rslt_code = #{lglActRsltCode}</if>
	        <if test="rsltDt != null">, rslt_dt = #{rsltDt}</if>
	        <if test="rsltCode != null">, rslt_code = #{rsltCode}</if>
    </insert>




    <!-- jjjjjjjjjjjjjjjjjjj -->
























    <select id="selectProposerMemberList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
    	/* 발의자 명단 조회 */
		SELECT
			  row_number() over(order by ep.ord asc) as num
			, cm.member_nm as memberNm
			, ep.proposer_id as proposerId
			, cm.profile_img_path as profileImgPath
		FROM ebs_proposer ep
			left outer join com_member cm on cm.member_id = ep.proposer_id
		WHERE 1=1
			AND ep.bill_id = #{billId}
			AND (ep.sign_dt IS NOT NULL AND ep.sign_cnc_dt IS NULL)

	</select>
	<insert id="insertBill" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
		/* 의안 서면 등록 */
		/* 접수일, 심사일 뭐지? */
		INSERT INTO kgst.ebs_master(
			bill_id
			, bill_no
			, bill_kind
			, na_term_cd
			, bill_name_kg
			, bill_name_ru
			, ppsl_knd_cd
			, ppsr_nm
			, ppsr_id
			, ppsl_dt
			, stat_cd
			, reg_id
			, reg_dt
			, etc_kg
			, etc_ru
		)
		VALUES (
			#{billId}
			, #{billNo}
			, #{billKind}
			, #{naTermCd}
			, #{billNameKg}
			, #{billNameRu}
			, #{ppslKndCd}
			, #{ppsrNm}
			, #{ppsrId}
			, TO_CHAR(now(), 'YYYYMMDD')
			, #{statCd}
			, #{regId}
			, now()
			, #{etcKg}
			, #{etcRu}
		)
    </insert>
    <insert id="insertProposers" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
		INSERT INTO kgst.ebs_proposer (
			bill_id,
			proposer_id,
			ord,
			poly_cd,
			poly_nm,
			sign_dt,
			reg_id,
			reg_dt
		) VALUES (
            #{billId},
            #{proposerId},
            #{ord},
            #{polyCd},
            #{polyNm},
            CASE
                WHEN #{agreeYn} = 'Y' THEN now()
                ELSE NULL
            END,
            #{regId},
            now()
		)
	</insert>
	<update id="updateProcess" parameterType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
		/* 프로세스 처리 - 접수자가 업무 처리 했을때. (단순 수정 아님.)*/
		UPDATE
			kgst.ebs_process
		SET
			proc_usr_id = #{procUsrId}
			, proc_dt = now()
			, proc_yn = 'Y'
			<if test="rsltCd != null and rsltCd != ''">
				, rslt_cd = #{rsltCd}
			</if>
			<if test="rsltDt != null and rsltDt != ''">
				, rslt_dt = #{rsltDt}
			</if>
			<if test="rmk != null and rmk != ''">
				, rmk = #{rmk}
			</if>
			<if test="prsntDt != null and prsntDt != ''">
				, prsnt_dt = #{prsntDt}
			</if>
			<if test="billAprvNo != null and billAprvNo != ''">
				, bill_aprv_no = #{billAprvNo}
			</if>
			, mod_id = #{modId}
			, mod_dt = now()
		WHERE
			bill_id = #{billId}
			AND proc_id = #{procId}

	</update>
    <select id="selectMemberList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.ProposerVo">
    	/* 발의자 선택 팝업용 의원 명단 조회 */
		SELECT
			row_number() over(order by cm.poly_nm, cm.member_nm) as num
			, cm.cmit_cd
			, CASE
			  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
			  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
		      	ELSE cd.dept_nm3
		      	END AS cmitNm
			, cm.profile_img_path
			, cm.member_id AS proposerId
			, cm.member_nm AS proposerNm
			, cm.poly_cd
			, cm.poly_nm
		FROM
			kgst.com_member cm
			LEFT OUTER JOIN kgst.com_dept cd ON (cm.cmit_cd = cd.dept_cd and cd.upr_dept_cd = 'CMT')
		WHERE 1=1
		<if test="naTermCd != null and naTermCd != ''">
   			AND em.na_term_cd = #{naTermCd}
   		</if>
	</select>

    <select id="selectCmtList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billMng.vo.BillMngVo">
    	/* 안건관리 상세 화면에서 소관위 / 관련위 보여줄때 사용.*/

		SELECT
			row_number() over(order by ep.ord asc) as num
			, ep.proc_kind_cd
			, ep.proc_dept_id
			, CASE
			  WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
			  WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
			  ELSE cd.dept_nm3
			  END AS procDeptNm
		FROM
		ebs_process ep
		LEFT JOIN com_dept cd ON (ep.proc_dept_id = cd.dept_cd)
		WHERE 1=1
		AND (ep.proc_kind_cd = 'PC500' OR ep.proc_kind_cd = 'PC600')
		AND ep.use_yn='Y'
		AND ep.bill_id = #{billId}
	</select>

</mapper>