<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper">

    <select id="selectBillList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.vo.BillAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectBillList */
        /* 의안번호가 있는 것 부터 나오게 해야함. 2순위는 일단 등록일 기준 정렬 */
        /* 탭으로 구분되어있는 것은 앞단에서 필터링 해서 사용할 것이므로 필터링용 필드 만 잘 넘겨주도록 하자. */
        /* ppsl_knd_cd : 제안자 종류 (정부/의원), stat_cd : 상태코드 (위원회 심사, 본회의, 정부이송...) */ 
		SELECT
			  row_number() over(order by CASE WHEN em.bill_no IS NOT NULL THEN 1 ELSE 2 END, em.reg_dt desc) as num
		    , em.bill_id                -- 안건 ID
		    , em.bill_no                -- 안건 번호
		    , em.bill_kind              -- 의안 종류 (법률안/예산안 등)
		    , em.na_term_cd             -- 대수 코드
		    , em.bill_name_kg           -- 의안명 - kg
		    , em.bill_name_ru           -- 의안명 - ru
	        , CASE 
		  		WHEN #{lang} = 'lng_type_1' then em.bill_name_kg
		  		WHEN #{lang} = 'lng_type_2' then em.bill_name_ru
	     		ELSE em.bill_name_kg
	     		END AS billName
		    , em.ppsl_knd_cd            -- 제안자 종류 (정부/의원)
      		, CASE 
		  		WHEN #{lang} = 'lng_type_1' then cm.member_nm_kg 
		  		WHEN #{lang} = 'lng_type_2' then cm.member_nm_ru 
	      		ELSE cm.member_nm_kg
	      		END AS ppsrNm
		    , em.ppsr_id                -- 발의자 아이디
		    , em.ppsl_dt                -- 제안일
		    , em.gvrn_trsf_dt           -- 정부 이송일
		    , em.prmg_dt                -- 공포일자
		    , em.prmg_no                -- 공포 번호
		    , em.reg_id                 -- 등록자 아이디
		    , em.reg_dt                 -- 등록 일자
		    , em.mod_id                 -- 수정자 아이디
		    , em.mod_dt                 -- 수정 일자
		    , em.etc_kg                 -- 비고 - kg
		    , em.etc_ru                 -- 비고 - ru
		    , (
			     select 
		           	CASE 
					  	WHEN #{lang} = 'lng_type_1' then ccd.code_nm1
					  	WHEN #{lang} = 'lng_type_2' then ccd.code_nm2
				      	ELSE ccd.code_nm3
			      		END AS statNm
			     from com_code_detail ccd 
			     where ccd.code_id = emd_filtered.cls_cd
			     AND ccd.grp_code = 1015
		     )
		FROM ebs_master em 
		LEFT JOIN (
		    SELECT 
		        emd.bill_id, 
		        emd.seq, 
		        emd.cls_cd, 
		        ROW_NUMBER() OVER (PARTITION BY emd.bill_id ORDER BY emd.seq DESC) AS rn
		    FROM ebs_master_detail emd
		) emd_filtered ON em.bill_id = emd_filtered.bill_id AND emd_filtered.rn = 1
		JOIN com_member cm ON em.ppsr_id = cm.member_id    
		WHERE 1=1     -- 내/외부, 접수 구분 뭔지 물어보고 추가해야함.
	    <if test="searchBillName != null and searchBillName != ''">
	    	AND (em.bill_name_kg like CONCAT('%', #{searchBillName}, '%') OR em.bill_name_ru like CONCAT('%', #{searchBillName}, '%'))   -- 의안명 검색,키르어,러시아어 별로 검색 규틱 어찌할지.일단 prefix로 search 붙일 예정. 
	    </if>		
		<if test="billNo != null and billNo != ''">
	    	AND em.bill_no like CONCAT('%', #{billNo}, '%')
	    </if>
		<if test="regDt != null and regDt != ''">
    		AND to_char(em.reg_dt, 'YYYY-MM-DD') = #{regDt}  -- 등록일 검색, 화면 설계서에 등록일 이라고 되어있는데, 제안일 검색으로 나중에 바꾸게 될것같음.
    	</if>
    	<if test="naTermCd != null and naTermCd != ''">
    		AND em.na_term_cd = #{naTermCd}
    	</if>
    </select>

	<!-- 기본정보 -->
    <select id="selectBillById" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.vo.BillAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.getBillById */    
		SELECT
		      em.bill_id                -- 안건 ID
		    , em.bill_no                -- 안건 번호
		    , em.bill_kind              -- 의안 종류 (법률안/예산안 등)
		    , em.na_term_cd             -- 대수 코드
		    , em.bill_name_kg           -- 의안명 - kg
		    , em.bill_name_ru           -- 의안명 - ru
	        , CASE 
		  		WHEN #{lang} = 'lng_type_1' then em.bill_name_kg
		  		WHEN #{lang} = 'lng_type_2' then em.bill_name_ru
	     		ELSE em.bill_name_kg
	     		END AS billName
		    , em.ppsl_knd_cd            -- 제안자 종류 (정부/의원)
      		, CASE 
		  		WHEN #{lang} = 'lng_type_1' then cm.member_nm_kg 
		  		WHEN #{lang} = 'lng_type_2' then cm.member_nm_ru 
	      		ELSE cm.member_nm_kg
	      		END AS ppsrNm
		    , em.ppsr_id                -- 발의자 아이디
		    , em.ppsl_dt                -- 제안일
		    , em.gvrn_trsf_dt           -- 정부 이송일
		    , em.prmg_dt                -- 공포일자
		    , em.prmg_no                -- 공포 번호
		    , em.reg_id                 -- 등록자 아이디
		    , em.reg_dt                 -- 등록 일자
		    , em.mod_id                 -- 수정자 아이디
		    , em.mod_dt                 -- 수정 일자
		    , em.etc_kg                 -- 비고 - kg
		    , em.etc_ru                 -- 비고 - ru
		    , CASE 
		  		WHEN #{lang} = 'lng_type_1' then em.etc_kg
		  		WHEN #{lang} = 'lng_type_2' then em.etc_ru
	     		ELSE em.etc_kg
	     		END AS etc
		    , (
			     select 
		           	CASE 
					  	WHEN #{lang} = 'lng_type_1' then ccd.code_nm1
					  	WHEN #{lang} = 'lng_type_2' then ccd.code_nm2
				      	ELSE ccd.code_nm3
			      		END AS statNm
			     from com_code_detail ccd 
			     where ccd.code_id = emd_filtered.cls_cd
			     AND ccd.grp_code = 1015
		     )
		     , rcp_dt -- 안건 접수일자
		FROM ebs_master em 
		LEFT JOIN (
		    SELECT 
		        emd.bill_id, 
		        emd.seq, 
		        emd.cls_cd, 
		        ROW_NUMBER() OVER (PARTITION BY emd.bill_id ORDER BY emd.seq DESC) AS rn
		    FROM ebs_master_detail emd
		) emd_filtered ON em.bill_id = emd_filtered.bill_id AND emd_filtered.rn = 1
		JOIN com_member cm ON em.ppsr_id = cm.member_id    
		WHERE 1=1     -- 내/외부, 접수 구분 뭔지 물어보고 추가해야함.
        AND em.bill_id = #{billId}
    </select>
    
    <!-- 소관위 기본정보 -->
    <select id="selectBillCmtInfo" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.vo.BillAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectBillCmtInfo */    
		SELECT
		ec.bill_id -- 안건 아이디
		, ec.cmt_cd -- 위원회 아이디
		, ec.reg_dt as submitDt -- 회부일
		, (
		     select 
		           	CASE 
					  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
					  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
				      	ELSE cd.dept_nm3 
				      	END AS cmtNm
		     from com_dept cd 
		     where ec.cmt_cd = cd.dept_cd 
		 ) -- 소관위 명
		, ef.reg_dt as confirmDt -- 접수 확인일
		FROM
		kgst.ebs_master_cmt ec
		left join kgst.ebs_file ef on ec.bill_id = ef.bill_id AND ef.file_kind_cd = '225'
		WHERE 1=1
		AND ec.cmt_se_cd = 'M'
		AND ec.bill_id = #{billId}
    </select>
    <!-- 소관위 회의정보 -->
    <select id="selectBillCmtMtng" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngAll.vo.MtngAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectBillCmtMtng */    
		SELECT 
		ema.bill_id
		, em.dgr_cd --차수
		, ema.reg_dt -- 접수일
		, em.open_dtm -- 회의일
		, ema.rslt_cd 
		, (
		     select 
		       	CASE 
				  	WHEN #{lang} = 'lng_type_1' then ccd.code_nm1
				  	WHEN #{lang} = 'lng_type_2' then ccd.code_nm2
			      	ELSE ccd.code_nm3
		      		END AS rsltNm
		     from kgst.com_code_detail ccd 
		     where ccd.code_id = ema.rslt_cd 
		     AND ccd.grp_code = 1008
		 )
		FROM 
		kgst.ebs_master_cmt ec
		left join kgst.ebs_mtng em on ec.cmt_cd = em.cmt_id
		left join kgst.ebs_mtng_agenda ema on ema.mtng_id = em.mtng_id AND ec.bill_id = ema.bill_id 
		WHERE 1=1
		AND ec.cmt_se_cd = 'M'
		AND ema.bill_id = #{billId}
    </select>
    <!-- 문서(회의별이 아니고 안건별 문서이므로 ebs_file에서 가져와야한다. -->
    <select id="selectBillFile" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.common.file.vo.EbsFileVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectBillCmtMtng */    
		SELECT
			ef.bill_id 
			, ef.cls_cd
			, ef.file_kind_cd
			, ef.org_file_id
			, ef.org_file_nm
			, ef.pdf_file_id
			, ef.pdf_file_nm
		FROM kgst.ebs_file ef
		WHERE 1=1
		AND ef.delete_yn = 'N'
		AND ef.bill_id = #{billId}
    </select>
    <!-- 관련위 기본정보 -->
    <select id="selectBillRelCmtInfo" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.vo.BillAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectBillCmtInfo */    
		SELECT
		ec.bill_id -- 안건 아이디
		, ec.cmt_cd -- 위원회 아이디
		, ec.reg_dt as submitDt -- 회부일
		, (
		     select 
		           	CASE 
					  	WHEN #{lang} = 'lng_type_1' then cd.dept_nm1
					  	WHEN #{lang} = 'lng_type_2' then cd.dept_nm2
				      	ELSE cd.dept_nm3 
				      	END AS cmtNm
		     from com_dept cd 
		     where ec.cmt_cd = cd.dept_cd 
		 ) -- 소관위 명
		, ef.reg_dt as confirmDt -- 접수 확인일
		FROM
		kgst.ebs_master_cmt ec
		left join kgst.ebs_file ef on ec.bill_id = ef.bill_id AND ef.file_kind_cd = '225'
		WHERE 1=1
		AND ec.cmt_se_cd = 'R'
		AND ec.bill_id = #{billId}
    </select>
    <!-- 관련위 회의정보 -->
    <select id="selectBillRelCmtMtng" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.mtng.mtngAll.vo.MtngAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectBillCmtMtng */    
		SELECT 
		ema.bill_id
		, em.dgr_cd --차수
		, ema.reg_dt -- 접수일
		, em.open_dtm -- 회의일
		, ema.rslt_cd 
		, (
		     select 
		       	CASE 
				  	WHEN #{lang} = 'lng_type_1' then ccd.code_nm1
				  	WHEN #{lang} = 'lng_type_2' then ccd.code_nm2
			      	ELSE ccd.code_nm3
		      		END AS rsltNm
		     from kgst.com_code_detail ccd 
		     where ccd.code_id = ema.rslt_cd 
		     AND ccd.grp_code = 1008
		 )
		FROM 
		kgst.ebs_master_cmt ec
		left join kgst.ebs_mtng em on ec.cmt_cd = em.cmt_id
		left join kgst.ebs_mtng_agenda ema on ema.mtng_id = em.mtng_id AND ec.bill_id = ema.bill_id 
		WHERE 1=1
		AND ec.cmt_se_cd = 'R'
		AND ema.bill_id = #{billId}
    </select>
    <!-- ebs_master_detail 정보 -->
    <select id="selectBillMastarDetail" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.bill.review.billAll.vo.BillAllVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.review.billAll.repository.BillAllMapper.selectBillMastarDetail */    
		SELECT 
		      emd.bill_id
			, emd.cls_cd 
			, CASE 
				WHEN 'lng_type_1' = 'lng_type_1' then emd.rmrk_kg
				WHEN 'lng_type_1' = 'lng_type_2' then emd.rmrk_ru
				ELSE emd.rmrk_kg
				END AS rmrk -- 기타, 비고, 사유
			, emd.mtn_dt -- 본회의장 회의일시
			, emd.lgl_rvw_rslt_code -- 법률검토결과코드
			, emd.lgl_act_rslt_code -- 법적행위결과코드
			, emd.rslt_dt -- 결과처리일자
		FROM 
		kgst.ebs_master_detail emd 
		WHERE 1=1
		AND emd.bill_id = #{billId}

    </select>
    
    
    
    
    
</mapper>