<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.eas.draftDocument.repository.DraftDocumentRepository">
    <insert id="insertDraftDocument" parameterType="kr.co.bestiansoft.ebillservicekg.eas.draftDocument.vo.DraftDocumentVo" useGeneratedKeys="true" keyProperty="aarsDocId">
        INSERT INTO kgst.eas_draft
        (form_id,  aars_file_id, aars_status_cd, reg_dt, reg_id, aars_pdf_file_id)
        VALUES(#{formId}, #{aarsFileId}, #{aarsStatusCd}, #{regDt}, #{regId} , #{aarsPdfFileId});
    </insert>
    <update id="updateDraftStatus">
        update kgst.eas_draft
           set aars_status_cd = #{aarsStatusCd}
         where aars_doc_id=#{aarsDocId}
    </update>
    <select id="getDraftDocument" resultType="kr.co.bestiansoft.ebillservicekg.eas.draftDocument.vo.DraftDocumentVo">
        select aars_doc_id, form_id, aars_file_id, aars_status_cd, reg_dt, reg_id, aars_pdf_file_id
          from eas_draft
         where aars_doc_id = #{aarsDocId}
    </select>
</mapper>