<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.repository.RevokeMapper">

	<select id="selectRevokeList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.vo.RevokeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.repository.RevokeMapper.selectRevokeList */
		select 
			em.bill_id 				--안건아이디
			, em.scl_dsc_rcp_nmb 	--사회토론번호
			, case 
				when #{lang} = 'lng_type_1' then em.bill_name_kg 
				else em.bill_name_ru 
			end as billName
			, case 
				when #{lang} = 'lng_type_1' then view.member_nm_kg 
				else view.member_nm_ru 
			end as ppsrNm				--제안자
			, to_char(em.reg_dt, 'DD/MM/YYYY') as regDate	--등록일
		from kgst.ebs_master em 
			left join kgst.view_user_member view on view.member_id = em.ppsr_id 
		where 1=1
			and em.ppsr_id = #{userId}
			and em.na_term_cd = '14'
		<if test="billName != null and billName != ''">
			and case
		        when #{lang} = 'lng_type_1' then em.bill_name_kg
		        else em.bill_name_ru
		    end like concat('%', #{billName}, '%')
		</if>
		<if test="statCd != null and statCd != ''">
			and em.stat_cd = #{statCd}
		</if>
		<if test="ppslDt != null and ppslDt != ''">
			and em.reg_dt::date = #{ppslDt}
		</if>
		<if test="sclDscRcpNmb != null and sclDscRcpNmb != ''">
			and em.scl_dsc_rcp_nmb like concat('%', #{sclDscRcpNmb}, '%')
		</if>
    </select>
    
    <select id="selectRevokeDetail" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.vo.RevokeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.repository.RevokeMapper.selectRevokeDetail */
		select 
			em.bill_kind 			--안건종류
			, em.scl_dsc_rcp_nmb 	-- 사회토론번호
			, to_char(em.reg_dt, 'DD-MM-YYYY HH:MM') as regDate	-- 등록날짜
			, case 
				when #{lang} = 'lng_type_1' then em.bill_name_kg 
				else em.bill_name_ru 
			end as billName			--안건이름
			, case 
				when #{lang} = 'lng_type_1' then view.member_nm_kg 
				else view.member_nm_ru 
			end as memberNm			--발의자
			, case 
				when #{lang} = 'lng_type_1' then em.etc_kg 
				else em.etc_ru 
			end as etc 				--비고
			, case 
				when #{lang} = 'lng_type_1' then em.wt_cn_kg 
				else em.wt_cn_ru 
			end as wt_cn 			--철회사유
		from kgst.ebs_master em 
			left join kgst.view_user_member view on view.member_id = em.ppsr_id  
		where em.bill_id = #{billId}
    </select>
    
    <select id="selectProposerList" parameterType="java.util.HashMap"
            resultType="kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.vo.RevokeVo">
        /* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.repository.RevokeMapper.selectProposerList */
		select 
			ep.proposer_id					-- 제안자 대상
			, case
				when (ep.sign_dt is not null and ep.sign_cnc_dt is null) then 'Y'
				else 'N'
			 end as agreeYn 				-- 동의여부
			, view.member_nm_kg				-- 의원이름kg
			, view.member_nm_ru				-- 의원이름ru
			, view.poly_nm  				-- 정당이름
			, view.poly_cd 					-- 정당코드
		from ebs_proposer ep
			left join kgst.view_user_member view on view.member_id = ep.proposer_id
		where 
			ep.bill_id = #{billId}
			and (sign_dt is not null and sign_cnc_dt is null)
    </select>
    
	<update id="updateRevokeRequset" parameterType="java.util.HashMap">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.repository.RevokeMapper.updateRevokeRequset */
		update kgst.ebs_master 
		set 
			mod_id = #{loginId} 		-- 수정자 아이디
			, mod_dt = now()			-- 수정날짜
			, stat_cd = #{statCd}
		where 
			bill_id = #{billId}
    </update>
    
	<update id="updateRevokeCancle" parameterType="java.util.HashMap">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.repository.RevokeMapper.updateRevokeCancle */
		update kgst.ebs_master 
		set 
			mod_id = #{loginId} 		-- 수정자 아이디
			, mod_dt = now()			-- 수정날짜
			, stat_cd = #{statCd}
		where 
			bill_id = #{billId}
    </update>
    
    <update id="updateRevoke" parameterType="kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.vo.RevokeVo">
    	/* QueryID : kr.co.bestiansoft.ebillservicekg.bill.billApply.revoke.repository.RevokeMapper.updateRevoke */
		update kgst.ebs_master 
		set 
			mod_id = #{loginId} 			-- 수정자 아이디
			, mod_dt = now()			-- 수정날짜
			, wt_cn_kg = #{wtCnKg}		-- 철회사유kg
			, wt_cn_ru = #{wtCnRu}		-- 철회사유ru
		where 
			bill_id = #{billId}
    </update>
</mapper>