<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.eas.draftData.repository.DraftDataRepository">
    <insert id="insertDraftData" parameterType="kr.co.bestiansoft.ebillservicekg.eas.draftData.vo.DraftDataVo">
        insert into eas_draft_data
        (aars_doc_id, form_id, field_seq, data_cn )
        values (#{aarsDocId}, #{formId}, #{fieldSeq} , #{dataCn})
    </insert>
    <select id="getDraftData" resultType="kr.co.bestiansoft.ebillservicekg.eas.draftData.vo.DraftDataVo">
        select d.data_seq, aars_doc_id, form_id, field_seq, data_cn
          from eas_draft_data d
         where aars_doc_id = #{aarsDocId}
    </select>
    <select id="getDraftDataAndComFormField" resultType="kr.co.bestiansoft.ebillservicekg.eas.draftData.vo.DraftDataAndComFormFieldDto">
        select d.data_seq, aars_doc_id, d.form_id, d.field_seq, data_cn, ff.field_value, ff.field_type
        from com_form_field ff
                 inner join eas_draft_data d on ff.form_id = d.form_id and ff.field_seq = d.field_seq
        where d.aars_doc_id = #{aarsDocId}
    </select>
</mapper>