<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.asset.install.repository.InstallMapper">
    <insert id="insertInstall" parameterType="kr.co.bestiansoft.ebillservicekg.asset.install.vo.InstallVo">
            insert into ams_instl (
                          instl_id
                        , eqpmnt_id
                        , instl_ymd
                        , dscd_ymd
                        , instl_plc_cd
                        , instl_plc_dtl_1
                        , instl_plc_dtl_2
                        , instl_plc_dtl_3
                        , instl_pic_nm
                        , rmrk
                        , reg_dt
                        , rgtr_id )
        <foreach collection="installVoList" item="vo" open="VALUES" separator=",">
            (
                  #{vo.instlId}
                , #{vo.eqpmntId}
                , #{vo.instlYmd}
                , #{vo.dscdYmd}
                , #{vo.instlPlcCd}
                , #{vo.instlPlcDtl1}
                , #{vo.instlPlcDtl2}
                , #{vo.instlPlcDtl3}
                , #{vo.instlPicNm}
                , #{vo.rmrk}
                , now()
                , #{vo.rgtrId}
            )
        </foreach>

    </insert>

    <select id="getInstallList" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.install.vo.InstallVo">
        select
              ast.instl_id
            , ast.eqpmnt_id
            , ast.instl_ymd
            , ast.dscd_ymd
            , ast.instl_plc_cd
            , ast.instl_plc_dtl_1
            , ast.instl_plc_dtl_2
            , ast.instl_plc_dtl_3
            , ast.instl_pic_nm
            , ast.rmrk
            , ast.reg_dt
            , ai.img_id
            , ccd.code_nm1 as instl_plc_nm_1
            , ccd.code_nm2 as instl_plc_nm_2
            , ccd.code_nm3 as instl_plc_nm_3
            , vum.user_nm_kg as reg_nm_1
            , vum.user_nm_ru as reg_nm_2
        from ams_instl ast
        left join ams_img ai on ai.instl_id = ast.instl_id
        left join kgst.com_code_detail ccd on ccd.code_id = ast.instl_plc_cd
        left join kgst.view_user_member vum on (ast.rgtr_id = vum.user_id)
        where ast.eqpmnt_id = #{eqpmntId}
    </select>

    <select id="deleteInstall" parameterType="java.lang.String">
        delete from ams_instl
        where eqpmnt_id = #{eqpmntId}
    </select>

    <delete id="deleteInstlById" parameterType="java.lang.String">
        delete from ams_instl
        where instl_id = #{instlId}
    </delete>
</mapper>