<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bestiansoft.ebillservicekg.asset.equip.repository.EquipMapper">
	<insert id="createEquip" parameterType="kr.co.bestiansoft.ebillservicekg.asset.equip.vo.EquipRequest" >
	    insert into ams_eqpmnt (
	          eqpmnt_id
	        , eqpmnt_cd
	        , eqpmnt_se
	        , eqpmnt_nm
	        , expln
	        , bzenty_id
	        , tkcg_dept_id
	        , reg_dt
	        , rgtr_id
	    ) values (
	          #{eqpmntId}
	        , #{eqpmntCd}
	        , #{eqpmntSe}
	        , #{eqpmntNm}
	        , #{expln}
	        , #{bzentyId}
	        , #{tkcgDeptId}
	        , now()
	        , #{rgtrId}
	    )
	</insert>

    <select id="getEquipList" parameterType="java.util.HashMap" resultType="kr.co.bestiansoft.ebillservicekg.asset.equip.vo.EquipDetailVo">
        select
              ae.eqpmnt_id
            , ae.eqpmnt_cd
            , ae.eqpmnt_se
            , ae.eqpmnt_nm
            , ae.expln
            , ae.bzenty_id
            , ae.tkcg_dept_id
            , ae.reg_dt
            , ae.rgtr_id
            , ab.bzenty_nm_1
            , ab.bzenty_nm_2
            , ab.bzenty_nm_3
            , ccd.code_nm1 as eqpmnt_se_nm_1
            , ccd.code_nm2 as eqpmnt_se_nm_2
            , ccd.code_nm3 as eqpmnt_se_nm_3
            , (
                select
                af.orgnl_file_nm
                from ams_mnl af
                where af.eqpmnt_id = ae.eqpmnt_id
                and af.mnl_se = 'file'
                order by af.seq
                limit 1
            ) as file_nm
            ,    (
                SELECT
                am.mnl_id
                FROM
                ams_mnl am
                WHERE
                am.eqpmnt_id = ae.eqpmnt_id
                AND am.mnl_se = 'video'
                ORDER BY am.seq ASC
                LIMIT 1
            ) AS video_mnl_id
        from ams_eqpmnt ae
        left join ams_bzenty ab on ab.bzenty_id = ae.bzenty_id
        left join kgst.com_code_detail ccd on ccd.code_id = ae.eqpmnt_se
        where 1=1
        <if test="searchEq != null and searchEq != ''">
            and eqpmnt_nm like concat ('%', #{searchEq}, '%')
        </if>
        <if test="searchBz != null and searchBz != ''">
        	and bzenty_id like concat('%', #{searchBz}, '%')
        </if>
        <if test="searchSe != null and searchSe != ''">
            and eqpmnt_se = #{searchSe}
        </if>
        order by reg_dt desc
    </select>

    <select id="getDetailEquip" parameterType="java.lang.String" resultType="kr.co.bestiansoft.ebillservicekg.asset.equip.vo.EquipDetailVo">
        select
              ae.eqpmnt_id
            , ae.eqpmnt_cd
            , ae.eqpmnt_se
            , ae.eqpmnt_nm
            , ae.expln
            , ae.bzenty_id
            , ae.tkcg_dept_id
            , ae.reg_dt
            , ae.rgtr_id
            , ab.bzenty_nm_1
            , ab.bzenty_nm_2
            , ab.bzenty_nm_3
            , ccd.code_nm1 as eqpmnt_se_nm_1
            , ccd.code_nm2 as eqpmnt_se_nm_2
            , ccd.code_nm3 as eqpmnt_se_nm_3
        from ams_eqpmnt ae
        left join ams_bzenty ab on ab.bzenty_id = ae.bzenty_id
        left join kgst.com_code_detail ccd on ccd.code_id = ae.eqpmnt_se
        where ae.eqpmnt_id = #{eqpmntId}
    </select>

    <update id="updateEquip" parameterType="kr.co.bestiansoft.ebillservicekg.asset.equip.vo.EquipVo">
        update ams_eqpmnt
        set
              eqpmnt_cd = #{eqpmntCd}
            , eqpmnt_se = #{eqpmntSe}
            , eqpmnt_nm = #{eqpmntNm}
            , expln = #{expln}
            , bzenty_id = #{bzentyId}
            , tkcg_dept_id = #{tkcgDeptId}
            , mdfcn_dt = now()
            , mdfr_id = #{mdfrId}
        where eqpmnt_id = #{eqpmntId}
    </update>

    <delete id="deleteEquip" parameterType="java.lang.String" >
        delete from ams_eqpmnt
        where eqpmnt_id = #{eqpmntId}
    </delete>

</mapper>